openapi: 3.0.0
info:
  description: Bargain Finder Max (BFM), our best-in-class low fare search product, is used to search for the lowest
    available priced itineraries based upon a specific date.
  title: Bargain Finder Max
  version: v5
security:
  - oauth2_authentication:
      []
servers:
  - url: https://api.cert.platform.sabre.com
paths:
  /v5/offers/shop:
    post:
      operationId: CreateBargainFinderMax
      description: Create Bargain Finder Max Request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BargainFinderMaxRequest'
            examples:
              1. Round-Trip for Adult Passenger:
                $ref: '#/components/examples/RoundTripAdultRequest'
              2. Round-Trip with Child and Baggage:
                $ref: '#/components/examples/RoundTripWithChildAndBaggageRequest'
              3. Round-Trip for a Family with an Infant:
                $ref: '#/components/examples/RoundTripFamilyRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedItineraryResponse'
              examples:
                1. Round-Trip for Adult Passenger:
                  $ref: '#/components/examples/RoundTripAdultResponse'
                2. Round-Trip with Child and Baggage:
                  $ref: '#/components/examples/RoundTripWithChildAndBaggageResponse'
                3. Round-Trip for a Family with an Infant:
                  $ref: '#/components/examples/RoundTripFamilyResponse'
          description: Success Response returned.
components:
  examples:
    RoundTripAdultRequest:
      description: |
        ##### Scenario
        The *Round-Trip for one adult Passenger* example represents a simple use-case for the **Bargain Finder Max API**. We request non-stop flight offers for two sets of `OriginDestinationInformation`. Further, we specify an airline the passenger wants to travel with by providing the airline IATA code under `TravelPreferences`.
        ##### Instruction
        For a round-trip, we need to provide information for the five following objects:

        | Property | Description |
        | :--- | ---: |
        | `Version` | The version of the service has to match the version in the path (`/v5`). |
        | `POS.Source.PseudoCityCode` | Your unique identification code assigned to your travel agency by the Sabre GDS. In the example request, replace the `XXXX` with your Pseudo City Code. |
        | `POS.Source.RequestorID.CompanyName.Code` | The company code is used to identify a specific company origin, e.g. `TN` for Travel Agency, `AS` for Airline Solutions. |
        | `POS.Source.RequestorID.ID` | A unique ID assigned by the creating system (e.g. `1` = Sabre). |
        | `POS.Source.RequestorID.Type` | A Sabre internal configuration type, which equals `1`. |
        | `OriginDestinationInformation.DepartureDateTime` | Local date and time when the flight is scheduled to depart. |
        | `OriginDestinationInformation.DestinationLocation.LocationCode` | The three-letter IATA code of the airport where the flight departs. |
        | `OriginDestinationInformation.OriginLocation.LocationCode` | The three-letter IATA code of the airport where the flight arrives. |
        | `TravelPreferences.MaxStopsQuantity` | Indicates the max number of stops requested in each leg. |
        | `TravelPreferences.VendorPref.Code` | The IATA code of the airline that operates the flight. |
        | `TravelerInfoSummary.AirTravelerAvail.PassengerTypeQuantity.Code` | The three-character ATPCO passenger type code. |
        | `TravelerInfoSummary.AirTravelerAvail.PassengerTypeQuantity.Quantity` | The number of passengers for the above type code. |
      value:
        {
          "OTA_AirLowFareSearchRQ":
            {
              "Version": "5",
              "POS":
                {
                  "Source":
                    [
                      {
                          "PseudoCityCode": "XXXX",
                          "RequestorID":
                            {
                              "Type": "1",
                              "ID": "1",
                              "CompanyName": { "Code": "TN" }
                            }
                        }
                    ]
                },
              "OriginDestinationInformation":
                [
                  {
                      "DepartureDateTime": "2026-09-11T20:00:00",
                      "OriginLocation": { "LocationCode": "WAW" },
                      "DestinationLocation": { "LocationCode": "SPU" }
                    },
                  {
                      "DepartureDateTime": "2026-09-18T20:00:00",
                      "OriginLocation": { "LocationCode": "SPU" },
                      "DestinationLocation": { "LocationCode": "WAW" }
                    }
                ],
              "TravelPreferences":
                {
                  "MaxStopsQuantity": 0,
                  "VendorPref": [ { "Code": "LO" } ]
                },
              "TravelerInfoSummary":
                {
                  "AirTravelerAvail":
                    [
                      {
                          "PassengerTypeQuantity": [ { "Code": "ADT", "Quantity": 1 } ]
                        }
                    ]
                },
              "TPA_Extensions":
                {
                  "IntelliSellTransaction": { "RequestType": { "Name": "50ITINS" } }
                }
            }
        }
    RoundTripAdultResponse:
      description: |
        ##### Summary
        For our example of a *Round-Trip for one adult Passenger* request, the service returned matching offers. The data returned consists of 10 sections:

        - `messages` - A list of messages returned by the server, e.g. errors.
        - `statistics` - Statistical data for the response, e.g. number of itineraries returned.
        - `scheduleDescs` - Metadata for each travel option, e.g. flight number, schedule, alliances, and equipment.
        - `taxDescs` - Information on applicable taxes and amounts.
        - `taxSummaryDescs` - Tax summary for each travel option.
        - `fareComponentDescs` - List of fare components.
        - `validatingCarrierDescs` - List of applicable validating carriers.
        - `baggageAllowanceDescs` - List of baggage allowances.
        - `legDescs` - List of schedules and elapsed travel times.
        - `itineraryGroups` - List of itineraries including pricing source, legs, pricing information, availability, and more.

        ##### Next Steps
        The **Bargain Finder Max API** is the first step in the [Air Booking Workflow](https://developer.sabre.com/guides/travel-agency/workflows/air-booking) or the [New Distribution Capability (NDC) Workflow](https://developer.sabre.com/guides/travel-agency/workflows/New-Distribution-Capability-NDC).
      value:
        {
          "groupedItineraryResponse":
            {
              "version": "5",
              "messages":
                [
                  {
                      "severity": "Info",
                      "type": "SERVER",
                      "code": "GCA14-ISELL-TN-00-2024-12-01-WL5P",
                      "text": "27131"
                    },
                  {
                      "severity": "Info",
                      "type": "WORKERTHREAD",
                      "code": "TRANSACTIONID",
                      "text": "7346539295149655838"
                    },
                  {
                      "severity": "Info",
                      "type": "DRE",
                      "code": "RULEID",
                      "text": "18411"
                    },
                  {
                      "severity": "Info",
                      "type": "DEFAULT",
                      "code": "RULEID",
                      "text": "31139"
                    }
                ],
              "statistics": { "itineraryCount": 1 },
              "scheduleDescs":
                [
                  {
                      "id": 1,
                      "frequency": "SM*W***",
                      "stopCount": 0,
                      "eTicketable": true,
                      "totalMilesFlown": 635,
                      "elapsedTime": 115,
                      "departure":
                        {
                          "airport": "SPU",
                          "city": "SPU",
                          "country": "HR",
                          "time": "17:10:00+02:00"
                        },
                      "arrival":
                        {
                          "airport": "WAW",
                          "city": "WAW",
                          "country": "PL",
                          "time": "19:05:00+02:00"
                        },
                      "carrier":
                        {
                          "marketing": "LO",
                          "marketingFlightNumber": 576,
                          "operating": "LO",
                          "operatingFlightNumber": 576,
                          "equipment":
                            {
                              "code": "E75",
                              "typeForFirstLeg": "N",
                              "typeForLastLeg": "N"
                            }
                        }
                    },
                  {
                      "id": 2,
                      "frequency": "SM*W***",
                      "stopCount": 0,
                      "eTicketable": true,
                      "totalMilesFlown": 635,
                      "elapsedTime": 120,
                      "departure":
                        {
                          "airport": "WAW",
                          "city": "WAW",
                          "country": "PL",
                          "time": "14:20:00+02:00"
                        },
                      "arrival":
                        {
                          "airport": "SPU",
                          "city": "SPU",
                          "country": "HR",
                          "time": "16:20:00+02:00"
                        },
                      "carrier":
                        {
                          "marketing": "LO",
                          "marketingFlightNumber": 575,
                          "operating": "LO",
                          "operatingFlightNumber": 575,
                          "equipment":
                            {
                              "code": "E75",
                              "typeForFirstLeg": "N",
                              "typeForLastLeg": "N"
                            }
                        }
                    }
                ],
              "taxDescs":
                [
                  {
                      "id": 1,
                      "code": "YQF",
                      "amount": 16.3,
                      "currency": "USD",
                      "description": "SERVICE FEE - CARRIER-IMPOSED FUEL",
                      "publishedAmount": 15.0,
                      "publishedCurrency": "EUR",
                      "station": "WAW"
                    },
                  {
                      "id": 2,
                      "code": "YQF",
                      "amount": 16.3,
                      "currency": "USD",
                      "description": "SERVICE FEE - CARRIER-IMPOSED FUEL",
                      "publishedAmount": 15.0,
                      "publishedCurrency": "EUR",
                      "station": "SPU"
                    },
                  {
                      "id": 3,
                      "code": "XW",
                      "amount": 21.5,
                      "currency": "USD",
                      "description": "AIRPORT TAX",
                      "publishedAmount": 86.69,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 4,
                      "code": "ND",
                      "amount": 0.4,
                      "currency": "USD",
                      "description": "PASSENGER SERVICE CHARGE DEPARTURES",
                      "publishedAmount": 1.43,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 5,
                      "code": "HR",
                      "amount": 17.8,
                      "currency": "USD",
                      "description": "PASSENGER SERVICE AND SECURITY CHARGE",
                      "publishedAmount": 16.4,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    },
                  {
                      "id": 6,
                      "code": "MI",
                      "amount": 1.5,
                      "currency": "USD",
                      "description": "CIVIL AVIATION AUTHORITY  CCAA  TAX",
                      "publishedAmount": 1.37,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    }
                ],
              "taxSummaryDescs":
                [
                  {
                      "id": 1,
                      "code": "XW",
                      "amount": 21.5,
                      "currency": "USD",
                      "description": "AIRPORT TAX",
                      "publishedAmount": 86.69,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 2,
                      "code": "ND",
                      "amount": 0.4,
                      "currency": "USD",
                      "description": "PASSENGER SERVICE CHARGE DEPARTURES",
                      "publishedAmount": 1.43,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 3,
                      "code": "HR",
                      "amount": 17.8,
                      "currency": "USD",
                      "description": "PASSENGER SERVICE AND SECURITY CHARGE",
                      "publishedAmount": 16.4,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    },
                  {
                      "id": 4,
                      "code": "MI",
                      "amount": 1.5,
                      "currency": "USD",
                      "description": "CIVIL AVIATION AUTHORITY  CCAA  TAX",
                      "publishedAmount": 1.37,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    },
                  {
                      "id": 5,
                      "code": "YQ",
                      "amount": 32.6,
                      "currency": "USD",
                      "description": "YQ taxes summary"
                    }
                ],
              "obFeeDescs": [ { "id": 1, "amount": 0.0, "currency": "USD" } ],
              "fareComponentDescs":
                [
                  {
                      "id": 1,
                      "governingCarrier": "LO",
                      "fareAmount": 26.86,
                      "fareCurrency": "NUC",
                      "fareBasisCode": "OSAVI5",
                      "farePassengerType": "ADT",
                      "publishedFareAmount": 235.0,
                      "publishedFareCurrency": "PLN",
                      "directionality": "FROM",
                      "applicablePricingCategories": "4 5 6 7 8 9 10 15 16 17 31 33",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "00",
                      "fareType": "XPN",
                      "fareTariff": "21",
                      "fareRule": "SAV1",
                      "cabinCode": "Y",
                      "segments": [ { "segment": { "stopover": true } } ]
                    },
                  {
                      "id": 2,
                      "governingCarrier": "LO",
                      "fareAmount": 26.86,
                      "fareCurrency": "NUC",
                      "fareBasisCode": "OSAVI5",
                      "farePassengerType": "ADT",
                      "publishedFareAmount": 235.0,
                      "publishedFareCurrency": "PLN",
                      "directionality": "TO",
                      "applicablePricingCategories": "4 5 6 7 8 9 10 15 16 17 31 33",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "00",
                      "fareType": "XPN",
                      "fareTariff": "21",
                      "fareRule": "SAV1",
                      "cabinCode": "Y",
                      "segments": [ { "segment": { "stopover": true } } ]
                    }
                ],
              "validatingCarrierDescs":
                [
                  {
                      "id": 1,
                      "settlementMethod": "ARC",
                      "newVcxProcess": true,
                      "default": { "code": "LO" }
                    }
                ],
              "baggageAllowanceDescs": [ { "id": 1, "pieceCount": 0 } ],
              "legDescs":
                [
                  {
                      "id": 1,
                      "elapsedTime": 115,
                      "schedules": [ { "ref": 1 } ]
                    },
                  {
                      "id": 2,
                      "elapsedTime": 120,
                      "schedules": [ { "ref": 2 } ]
                    }
                ],
              "itineraryGroups":
                [
                  {
                      "groupDescription":
                        {
                          "legDescriptions":
                            [
                              {
                                  "departureDate": "2026-09-11",
                                  "departureLocation": "WAW",
                                  "arrivalLocation": "SPU"
                                },
                              {
                                  "departureDate": "2026-09-18",
                                  "departureLocation": "SPU",
                                  "arrivalLocation": "WAW"
                                }
                            ]
                        },
                      "itineraries":
                        [
                          {
                              "id": 1,
                              "pricingSource": "ADVJR1",
                              "legs": [ { "ref": 2 }, { "ref": 1 } ],
                              "pricingInformation":
                                [
                                  {
                                      "pricingSubsource": "HPIS",
                                      "fare":
                                        {
                                          "mandatoryInd": true,
                                          "validatingCarrierCode": "LO",
                                          "vita": true,
                                          "eTicketable": true,
                                          "lastTicketDate": "2026-11-21",
                                          "lastTicketTime": "12:29",
                                          "governingCarriers": "LO LO",
                                          "passengerInfoList":
                                            [
                                              {
                                                  "passengerInfo":
                                                    {
                                                      "passengerType": "ADT",
                                                      "passengerNumber": 1,
                                                      "nonRefundable": true,
                                                      "fareComponents":
                                                        [
                                                          {
                                                              "ref": 1,
                                                              "beginAirport": "WAW",
                                                              "endAirport": "SPU",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "O",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "RF",
                                                                          "seatsAvailable": 9,
                                                                          "availabilityBreak": true
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                          {
                                                              "ref": 2,
                                                              "beginAirport": "SPU",
                                                              "endAirport": "WAW",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "O",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "RF",
                                                                          "seatsAvailable": 9,
                                                                          "availabilityBreak": true
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                      "taxes":
                                                        [
                                                          { "ref": 5 },
                                                          { "ref": 6 },
                                                          { "ref": 4 },
                                                          { "ref": 3 },
                                                          { "ref": 1 },
                                                          { "ref": 2 }
                                                        ],
                                                      "taxSummaries":
                                                        [
                                                          { "ref": 3 },
                                                          { "ref": 4 },
                                                          { "ref": 2 },
                                                          { "ref": 1 },
                                                          { "ref": 5 }
                                                        ],
                                                      "obFees": [ { "ref": 1 } ],
                                                      "currencyConversion":
                                                        {
                                                          "from": "PLN",
                                                          "to": "USD",
                                                          "exchangeRateUsed": 0.2475903
                                                        },
                                                      "passengerTotalFare":
                                                        {
                                                          "totalFare": 131.8,
                                                          "totalTaxAmount": 73.8,
                                                          "currency": "USD",
                                                          "baseFareAmount": 235.0,
                                                          "baseFareCurrency": "PLN",
                                                          "equivalentAmount": 58.0,
                                                          "equivalentCurrency": "USD",
                                                          "constructionAmount": 53.72,
                                                          "constructionCurrency": "NUC",
                                                          "exchangeRateOne": 4.372975
                                                        },
                                                      "baggageInformation":
                                                        [
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "allowance": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "allowance": { "ref": 1 }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ],
                                          "totalFare":
                                            {
                                              "totalPrice": 131.8,
                                              "totalTaxAmount": 73.8,
                                              "currency": "USD",
                                              "baseFareAmount": 235.0,
                                              "baseFareCurrency": "PLN",
                                              "constructionAmount": 53.72,
                                              "constructionCurrency": "NUC",
                                              "equivalentAmount": 58.0,
                                              "equivalentCurrency": "USD"
                                            },
                                          "validatingCarriers": [ { "ref": 1 } ]
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        }
    RoundTripWithChildAndBaggageRequest:
      description: |
        ##### Scenario
        The *Round-Trip with a child and baggage allowance* example represents a more complex, but realistic scenario for the **Bargain Finder Max API**. We request non-stop flight offers for two sets of `OriginDestinationInformation`, for one adult and one child. Further, we specify to receive information on the baggage allowance.
        ##### Instruction
        In comparison to the first example, *Round-Trip for one adult Passenger*, this time we need to provide two additional properties under `TravelPreferences`:

        | Property | Description |
        | :--- | ---: |
        | `Baggage.RequestType` | This property specifies the type of baggage information to be returned. Use a `C` value to receive baggage allowance and charges. |
        | `Baggage.Description` | If set to `true`, baggage text information is returned in the response. |

        Further, we need to add one item for the child to the `TravelerInfoSummary.AirTravelerAvail` list:
        | Property | Description |
        | :--- | ---: |
        | `PassengerTypeQuantity.Code` | The three-character ATPCO passenger type code. The code `C06` in our example refers to a six-year-old child. |
        | `PassengerTypeQuantity.Quantity` | The number of passengers for the above type code. |
      value:
        {
          "OTA_AirLowFareSearchRQ":
            {
              "Version": "5",
              "POS":
                {
                  "Source":
                    [
                      {
                          "PseudoCityCode": "XXXX",
                          "RequestorID":
                            {
                              "Type": "1",
                              "ID": "1",
                              "CompanyName": { "Code": "TN" }
                            }
                        }
                    ]
                },
              "OriginDestinationInformation":
                [
                  {
                      "DepartureDateTime": "2026-09-15T13:00:00",
                      "OriginLocation": { "LocationCode": "WAW" },
                      "DestinationLocation": { "LocationCode": "SPU" }
                    },
                  {
                      "DepartureDateTime": "2026-09-22T11:00:00",
                      "OriginLocation": { "LocationCode": "SPU" },
                      "DestinationLocation": { "LocationCode": "WAW" }
                    }
                ],
              "TravelPreferences":
                {
                  "MaxStopsQuantity": 0,
                  "Baggage": { "RequestType": "C", "Description": true }
                },
              "TravelerInfoSummary":
                {
                  "AirTravelerAvail":
                    [
                      {
                          "PassengerTypeQuantity":
                            [
                              { "Code": "ADT", "Quantity": 1 },
                              { "Code": "C06", "Quantity": 1 }
                            ]
                        }
                    ],
                  "PriceRequestInformation": { "TPA_Extensions": {} }
                },
              "TPA_Extensions":
                {
                  "IntelliSellTransaction": { "RequestType": { "Name": "50ITINS" } }
                }
            }
        }
    RoundTripWithChildAndBaggageResponse:
      description: |
        ##### Summary
        For our example of a *Round-Trip with a child and baggage allowance* request, the service returned matching offers. In comparison to the response from the first example, *Round-Trip for one adult Passenger*, there are some differences:
        - One new list is returned: `baggageChargeDescs`. It provides additional information related to allowed baggage.
        - An additional item is returned in the list under `itineraryGroups.itineraries.pricingInformation.fare.passengerInfoList`. For each of our passengers, pricing information is returned. You can identify the applicable passenger by inspecting the `passengerInfo.passengerType`. In our example, pricing information for the child is returned under `"passengerType": "C06"`

        ##### Next Steps
        - The **Bargain Finder Max API** is the first step in the [Air Booking Workflow](https://developer.sabre.com/guides/travel-agency/workflows/air-booking) or the [New Distribution Capability (NDC) Workflow](https://developer.sabre.com/guides/travel-agency/workflows/New-Distribution-Capability-NDC).
        - If you want to learn more about retrieving baggage offers and more, we recommend taking a look at our [Air Extras Search and Book Workflow](https://developer.sabre.com/guides/travel-agency/workflows/air-extras-search-and-book).
      value:
        {
          "groupedItineraryResponse":
            {
              "version": "6.9.0",
              "messages":
                [
                  {
                      "severity": "Info",
                      "type": "SERVER",
                      "code": "GCA14-ISELL-TN-00-2024-12-01-WL5P",
                      "text": "27131"
                    },
                  {
                      "severity": "Info",
                      "type": "WORKERTHREAD",
                      "code": "TRANSACTIONID",
                      "text": "7319740856816962261"
                    },
                  {
                      "severity": "Info",
                      "type": "DRE",
                      "code": "RULEID",
                      "text": "21728"
                    },
                  {
                      "severity": "Info",
                      "type": "DEFAULT",
                      "code": "RULEID",
                      "text": "25238"
                    }
                ],
              "statistics": { "itineraryCount": 1 },
              "scheduleDescs":
                [
                  {
                      "id": 1,
                      "frequency": "SM*W***",
                      "stopCount": 0,
                      "eTicketable": true,
                      "totalMilesFlown": 635,
                      "elapsedTime": 115,
                      "departure":
                        {
                          "airport": "SPU",
                          "city": "SPU",
                          "country": "HR",
                          "time": "17:10:00+02:00"
                        },
                      "arrival":
                        {
                          "airport": "WAW",
                          "city": "WAW",
                          "country": "PL",
                          "time": "19:05:00+02:00"
                        },
                      "carrier":
                        {
                          "marketing": "LO",
                          "marketingFlightNumber": 576,
                          "operating": "LO",
                          "operatingFlightNumber": 576,
                          "equipment":
                            {
                              "code": "E75",
                              "typeForFirstLeg": "N",
                              "typeForLastLeg": "N"
                            }
                        }
                    },
                  {
                      "id": 2,
                      "frequency": "SM*W***",
                      "stopCount": 0,
                      "eTicketable": true,
                      "totalMilesFlown": 635,
                      "elapsedTime": 120,
                      "departure":
                        {
                          "airport": "WAW",
                          "city": "WAW",
                          "country": "PL",
                          "time": "14:20:00+02:00"
                        },
                      "arrival":
                        {
                          "airport": "SPU",
                          "city": "SPU",
                          "country": "HR",
                          "time": "16:20:00+02:00"
                        },
                      "carrier":
                        {
                          "marketing": "LO",
                          "marketingFlightNumber": 575,
                          "operating": "LO",
                          "operatingFlightNumber": 575,
                          "equipment":
                            {
                              "code": "E75",
                              "typeForFirstLeg": "N",
                              "typeForLastLeg": "N"
                            }
                        }
                    }
                ],
              "taxDescs":
                [
                  {
                      "id": 1,
                      "code": "XW",
                      "amount": 19.85,
                      "currency": "EUR",
                      "description": "AIRPORT TAX",
                      "publishedAmount": 86.69,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 2,
                      "code": "HR",
                      "amount": 16.4,
                      "currency": "EUR",
                      "description": "PASSENGER SERVICE AND SECURITY CHARGE",
                      "publishedAmount": 16.4,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    },
                  {
                      "id": 3,
                      "code": "ND",
                      "amount": 0.33,
                      "currency": "EUR",
                      "description": "PASSENGER SERVICE CHARGE DEPARTURES",
                      "publishedAmount": 1.43,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 4,
                      "code": "YQF",
                      "amount": 15,
                      "currency": "EUR",
                      "description": "SERVICE FEE - CARRIER-IMPOSED FUEL",
                      "publishedAmount": 15,
                      "publishedCurrency": "EUR",
                      "station": "WAW"
                    },
                  {
                      "id": 5,
                      "code": "YQF",
                      "amount": 15,
                      "currency": "EUR",
                      "description": "SERVICE FEE - CARRIER-IMPOSED FUEL",
                      "publishedAmount": 15,
                      "publishedCurrency": "EUR",
                      "station": "SPU"
                    },
                  {
                      "id": 6,
                      "code": "MI",
                      "amount": 1.37,
                      "currency": "EUR",
                      "description": "CIVIL AVIATION AUTHORITY  CCAA  TAX",
                      "publishedAmount": 1.37,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    }
                ],
              "taxSummaryDescs":
                [
                  {
                      "id": 1,
                      "code": "XW",
                      "amount": 19.85,
                      "currency": "EUR",
                      "description": "AIRPORT TAX",
                      "publishedAmount": 86.69,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 2,
                      "code": "HR",
                      "amount": 16.4,
                      "currency": "EUR",
                      "description": "PASSENGER SERVICE AND SECURITY CHARGE",
                      "publishedAmount": 16.4,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    },
                  {
                      "id": 3,
                      "code": "ND",
                      "amount": 0.33,
                      "currency": "EUR",
                      "description": "PASSENGER SERVICE CHARGE DEPARTURES",
                      "publishedAmount": 1.43,
                      "publishedCurrency": "PLN",
                      "station": "WAW",
                      "country": "PL"
                    },
                  {
                      "id": 4,
                      "code": "MI",
                      "amount": 1.37,
                      "currency": "EUR",
                      "description": "CIVIL AVIATION AUTHORITY  CCAA  TAX",
                      "publishedAmount": 1.37,
                      "publishedCurrency": "EUR",
                      "station": "SPU",
                      "country": "HR"
                    },
                  {
                      "id": 5,
                      "code": "YQF",
                      "amount": 30,
                      "currency": "EUR",
                      "description": "SERVICE FEE - CARRIER-IMPOSED FUEL",
                      "publishedAmount": 15,
                      "publishedCurrency": "EUR",
                      "station": "WAW"
                    }
                ],
              "obFeeDescs":
                [
                  { "id": 1, "amount": 1.75, "currency": "EUR" },
                  { "id": 2, "amount": 1.96, "currency": "EUR" }
                ],
              "fareComponentDescs":
                [
                  {
                      "id": 1,
                      "governingCarrier": "LO",
                      "fareAmount": 26.86,
                      "fareCurrency": "NUC",
                      "fareBasisCode": "OSAVI5",
                      "farePassengerType": "ADT",
                      "publishedFareAmount": 235,
                      "publishedFareCurrency": "PLN",
                      "directionality": "TO",
                      "direction": "EH",
                      "notValidBefore": "2024-09-22",
                      "notValidAfter": "2024-09-22",
                      "applicablePricingCategories": "3 4 5 6 7 8 9 10 15 16 18",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "00",
                      "fareType": "XPN",
                      "fareTariff": "21",
                      "fareRule": "SAV1",
                      "cabinCode": "Y",
                      "segments": [ { "segment": {} } ]
                    },
                  {
                      "id": 2,
                      "governingCarrier": "LO",
                      "fareAmount": 20.14,
                      "fareCurrency": "NUC",
                      "fareBasisCode": "OSAVI5/CH25",
                      "farePassengerType": "CNN",
                      "ticketDesignator": "CH25",
                      "publishedFareAmount": 177,
                      "publishedFareCurrency": "PLN",
                      "directionality": "FROM",
                      "direction": "EH",
                      "notValidBefore": "2024-09-15",
                      "notValidAfter": "2024-09-15",
                      "applicablePricingCategories": "3 4 5 6 7 8 9 10 15 16 18 19",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "01",
                      "fareType": "XPN",
                      "fareTariff": "21",
                      "fareRule": "SAV1",
                      "cabinCode": "Y",
                      "segments": [ { "segment": { "stopover": true } } ]
                    },
                  {
                      "id": 3,
                      "governingCarrier": "LO",
                      "fareAmount": 26.86,
                      "fareCurrency": "NUC",
                      "fareBasisCode": "OSAVI5",
                      "farePassengerType": "ADT",
                      "publishedFareAmount": 235,
                      "publishedFareCurrency": "PLN",
                      "directionality": "FROM",
                      "direction": "EH",
                      "notValidBefore": "2024-09-15",
                      "notValidAfter": "2024-09-15",
                      "applicablePricingCategories": "3 4 5 6 7 8 9 10 15 16 18",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "00",
                      "fareType": "XPN",
                      "fareTariff": "21",
                      "fareRule": "SAV1",
                      "cabinCode": "Y",
                      "segments": [ { "segment": { "stopover": true } } ]
                    },
                  {
                      "id": 4,
                      "governingCarrier": "LO",
                      "fareAmount": 20.14,
                      "fareCurrency": "NUC",
                      "fareBasisCode": "OSAVI5/CH25",
                      "farePassengerType": "CNN",
                      "ticketDesignator": "CH25",
                      "publishedFareAmount": 177,
                      "publishedFareCurrency": "PLN",
                      "directionality": "TO",
                      "direction": "EH",
                      "notValidBefore": "2024-09-22",
                      "notValidAfter": "2024-09-22",
                      "applicablePricingCategories": "3 4 5 6 7 8 9 10 15 16 18 19",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "01",
                      "fareType": "XPN",
                      "fareTariff": "21",
                      "fareRule": "SAV1",
                      "cabinCode": "Y",
                      "segments": [ { "segment": {} } ]
                    }
                ],
              "validatingCarrierDescs":
                [
                  {
                      "id": 1,
                      "settlementMethod": "BSP",
                      "newVcxProcess": true,
                      "default": { "code": "LO" }
                    }
                ],
              "baggageAllowanceDescs": [ { "id": 1, "pieceCount": 0 } ],
              "baggageChargeDescs":
                [
                  {
                      "id": 1,
                      "equivalentAmount": 120,
                      "equivalentCurrency": "EUR",
                      "firstPiece": 1,
                      "description1": "UP TO 50 POUNDS/23 KILOGRAMS",
                      "description2": "UP TO 62 LINEAR INCHES/158 LINEAR CENTIMETERS"
                    }
                ],
              "legDescs":
                [
                  {
                      "id": 1,
                      "elapsedTime": 115,
                      "schedules": [ { "ref": 1 } ]
                    },
                  {
                      "id": 2,
                      "elapsedTime": 120,
                      "schedules": [ { "ref": 2 } ]
                    }
                ],
              "itineraryGroups":
                [
                  {
                      "groupDescription":
                        {
                          "legDescriptions":
                            [
                              {
                                  "departureDate": "2026-09-15",
                                  "departureLocation": "WAW",
                                  "arrivalLocation": "SPU"
                                },
                              {
                                  "departureDate": "2026-09-22",
                                  "departureLocation": "SPU",
                                  "arrivalLocation": "WAW"
                                }
                            ]
                        },
                      "itineraries":
                        [
                          {
                              "id": 1,
                              "pricingSource": "ADVJR1",
                              "legs": [ { "ref": 2 }, { "ref": 1 } ],
                              "pricingInformation":
                                [
                                  {
                                      "pricingSubsource": "MIP",
                                      "fare":
                                        {
                                          "validatingCarrierCode": "LO",
                                          "vita": true,
                                          "eTicketable": true,
                                          "lastTicketDate": "2026-11-23",
                                          "lastTicketTime": "10:22",
                                          "governingCarriers": "LO LO",
                                          "passengerInfoList":
                                            [
                                              {
                                                  "passengerInfo":
                                                    {
                                                      "passengerType": "ADT",
                                                      "passengerNumber": 1,
                                                      "nonRefundable": true,
                                                      "fareComponents":
                                                        [
                                                          {
                                                              "ref": 3,
                                                              "beginAirport": "WAW",
                                                              "endAirport": "SPU",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "O",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "RF",
                                                                          "seatsAvailable": 9,
                                                                          "availabilityBreak": true,
                                                                          "fareBreakPoint": true
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                          {
                                                              "ref": 1,
                                                              "beginAirport": "SPU",
                                                              "endAirport": "WAW",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "O",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "RF",
                                                                          "seatsAvailable": 9,
                                                                          "availabilityBreak": true,
                                                                          "fareBreakPoint": true
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                      "taxes":
                                                        [
                                                          { "ref": 4 },
                                                          { "ref": 5 },
                                                          { "ref": 2 },
                                                          { "ref": 6 },
                                                          { "ref": 3 },
                                                          { "ref": 1 }
                                                        ],
                                                      "taxSummaries":
                                                        [
                                                          { "ref": 5 },
                                                          { "ref": 1 },
                                                          { "ref": 3 },
                                                          { "ref": 2 },
                                                          { "ref": 4 }
                                                        ],
                                                      "obFees": [ { "ref": 2 } ],
                                                      "currencyConversion":
                                                        {
                                                          "from": "PLN",
                                                          "to": "EUR",
                                                          "exchangeRateUsed": 0.22892788
                                                        },
                                                      "passengerTotalFare":
                                                        {
                                                          "totalFare": 121.95,
                                                          "totalTaxAmount": 67.95,
                                                          "currency": "EUR",
                                                          "baseFareAmount": 235,
                                                          "baseFareCurrency": "PLN",
                                                          "equivalentAmount": 54,
                                                          "equivalentCurrency": "EUR",
                                                          "constructionAmount": 53.72,
                                                          "constructionCurrency": "NUC",
                                                          "commissionPercentage": 0,
                                                          "commissionAmount": 0,
                                                          "exchangeRateOne": 4.372975
                                                        },
                                                      "baggageInformation":
                                                        [
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "allowance": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "allowance": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "charge": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "charge": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "charge": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "charge": { "ref": 1 }
                                                            }
                                                        ]
                                                    }
                                                },
                                              {
                                                  "passengerInfo":
                                                    {
                                                      "passengerType": "C06",
                                                      "passengerNumber": 1,
                                                      "nonRefundable": true,
                                                      "fareComponents":
                                                        [
                                                          {
                                                              "ref": 2,
                                                              "beginAirport": "WAW",
                                                              "endAirport": "SPU",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "O",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "RF",
                                                                          "seatsAvailable": 9,
                                                                          "availabilityBreak": true,
                                                                          "fareBreakPoint": true
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                          {
                                                              "ref": 4,
                                                              "beginAirport": "SPU",
                                                              "endAirport": "WAW",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "O",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "RF",
                                                                          "seatsAvailable": 9,
                                                                          "availabilityBreak": true,
                                                                          "fareBreakPoint": true
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                      "taxes":
                                                        [
                                                          { "ref": 4 },
                                                          { "ref": 5 },
                                                          { "ref": 2 },
                                                          { "ref": 6 },
                                                          { "ref": 3 },
                                                          { "ref": 1 }
                                                        ],
                                                      "taxSummaries":
                                                        [
                                                          { "ref": 5 },
                                                          { "ref": 1 },
                                                          { "ref": 3 },
                                                          { "ref": 2 },
                                                          { "ref": 4 }
                                                        ],
                                                      "obFees": [ { "ref": 1 } ],
                                                      "currencyConversion":
                                                        {
                                                          "from": "PLN",
                                                          "to": "EUR",
                                                          "exchangeRateUsed": 0.22892788
                                                        },
                                                      "passengerTotalFare":
                                                        {
                                                          "totalFare": 108.95,
                                                          "totalTaxAmount": 67.95,
                                                          "currency": "EUR",
                                                          "baseFareAmount": 177,
                                                          "baseFareCurrency": "PLN",
                                                          "equivalentAmount": 41,
                                                          "equivalentCurrency": "EUR",
                                                          "constructionAmount": 40.28,
                                                          "constructionCurrency": "NUC",
                                                          "commissionPercentage": 0,
                                                          "commissionAmount": 0,
                                                          "exchangeRateOne": 4.372975
                                                        },
                                                      "baggageInformation":
                                                        [
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "allowance": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "allowance": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "charge": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 0 } ],
                                                              "charge": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "charge": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "C",
                                                              "airlineCode": "LO",
                                                              "segments": [ { "id": 1 } ],
                                                              "charge": { "ref": 1 }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ],
                                          "totalFare":
                                            {
                                              "totalPrice": 230.9,
                                              "totalTaxAmount": 135.9,
                                              "currency": "EUR",
                                              "baseFareAmount": 412,
                                              "baseFareCurrency": "PLN",
                                              "constructionAmount": 94,
                                              "constructionCurrency": "NUC",
                                              "equivalentAmount": 95,
                                              "equivalentCurrency": "EUR"
                                            },
                                          "validatingCarriers": [ { "ref": 1 } ]
                                        }
                                    }
                                ],
                              "diversitySwapper": { "weighedPrice": 69.27 }
                            }
                        ]
                    }
                ]
            }
        }
    RoundTripFamilyRequest:
      description: |
        ##### Scenario
        The *Round-Trip for a family with an infant* is an advanced scenario for the use of the **Bargain Finder Max API**. The `OriginDestinationInformation` in the request is a simple round-trip and follows the pattern presented in the first *Round-Trip for Adult Passenger* example. We will request offers for three different types of passengers: Adult, six-year-old child and an infant. Further, for each offer, we want to know the penalty related to ticket refund (if any).

        ##### Instruction
        In addition to the first example *Round-Trip for Adult Passenger* we need to extend the list of travelers under `TravelerInfoSummary.AirTravelerAvail.PassengerTypeQuantity`. We have to add two new items for the six-year-old child and the infant:
        | Property | Description |
        | :--- | ---: |
        | `Code` | The three-character ATPCO passenger type code. `C06` represents the six-year-old child and `INF` stands for an infant. |
        | `Quantity` | The number of passengers for the above type code. |

        To retrieve the refund penalties in the response, we must add the below to the request for each passenger type under `TPA_Extensions.VoluntaryChanges`:
        | Property | Description |
        | :--- | ---: |
        | `Match` | Indicates relation between conditions. `Match="All"` informs that all penalty conditions must be matched by the returned fare. |

        Then add an item to the `Penalty` list to request conditions for refund:
        | Property | Description |
        | :--- | ---: |
        | `Type` | Indicates the type (`Refund` or `Exchange`) of penalty involved in the search or response. |
      value:
        {
          "OTA_AirLowFareSearchRQ":
            {
              "Version": "5",
              "POS":
                {
                  "Source":
                    [
                      {
                          "PseudoCityCode": "XXXX",
                          "RequestorID":
                            {
                              "CompanyName": { "Code": "TN" },
                              "ID": "1",
                              "Type": "1"
                            }
                        }
                    ]
                },
              "OriginDestinationInformation":
                [
                  {
                      "DepartureDateTime": "2026-06-04T11:00:00",
                      "DestinationLocation": { "LocationCode": "TUS" },
                      "OriginLocation": { "LocationCode": "ORD" }
                    },
                  {
                      "DepartureDateTime": "2026-06-11T11:00:00",
                      "DestinationLocation": { "LocationCode": "ORD" },
                      "OriginLocation": { "LocationCode": "TUS" }
                    }
                ],
              "TravelPreferences":
                {
                  "MaxStopsQuantity": 0,
                  "VendorPref": [ { "Code": "AA" } ]
                },
              "TravelerInfoSummary":
                {
                  "AirTravelerAvail":
                    [
                      {
                          "PassengerTypeQuantity":
                            [
                              {
                                  "Code": "ADT",
                                  "Quantity": 2,
                                  "TPA_Extensions":
                                    {
                                      "VoluntaryChanges": { "Match": "All", "Penalty": [ { "Type": "Refund" } ] }
                                    }
                                },
                              {
                                  "Code": "C06",
                                  "Quantity": 1,
                                  "TPA_Extensions":
                                    {
                                      "VoluntaryChanges": { "Match": "All", "Penalty": [ { "Type": "Refund" } ] }
                                    }
                                },
                              {
                                  "Code": "INF",
                                  "Quantity": 1,
                                  "TPA_Extensions":
                                    {
                                      "VoluntaryChanges": { "Match": "All", "Penalty": [ { "Type": "Refund" } ] }
                                    }
                                }
                            ]
                        }
                    ]
                },
              "TPA_Extensions":
                {
                  "IntelliSellTransaction": { "RequestType": { "Name": "50ITINS" } }
                }
            }
        }
    RoundTripFamilyResponse:
      description: |
        ##### Summary
        The returned response matches the one presented under the first example, *Round-Trip for Adult Passenger*, to a great extent. A few differences worth mentioning:
        - For each of our passenger types, pricing information is returned. You can identify the applicable passenger by inspecting the `passengerInfo.passengerType`.
        - The conditions for the refund are returned for each passenger type under `passengerInfo.penaltiesInfo`.

        ##### Next Steps
        The **Bargain Finder Max API** is the first step in the [Air Booking Workflow](https://developer.sabre.com/guides/travel-agency/workflows/air-booking) or the [New Distribution Capability (NDC) Workflow](https://developer.sabre.com/guides/travel-agency/workflows/New-Distribution-Capability-NDC).
      value:
        {
          "groupedItineraryResponse":
            {
              "version": "6.9.0",
              "messages":
                [
                  {
                      "severity": "Info",
                      "type": "SERVER",
                      "code": "GCA14-ISELL-TN-00-2024-12-01-WL5P",
                      "text": "27131"
                    },
                  {
                      "severity": "Info",
                      "type": "WORKERTHREAD",
                      "code": "TRANSACTIONID",
                      "text": "7233738799275894881"
                    },
                  {
                      "severity": "Info",
                      "type": "DRE",
                      "code": "RULEID",
                      "text": "21728"
                    },
                  {
                      "severity": "Info",
                      "type": "DEFAULT",
                      "code": "RULEID",
                      "text": "25238"
                    }
                ],
              "statistics": { "itineraryCount": 1 },
              "scheduleDescs":
                [
                  {
                      "id": 1,
                      "dotRating": "8",
                      "frequency": "**TW*F*",
                      "stopCount": 0,
                      "eTicketable": true,
                      "totalMilesFlown": 1437,
                      "elapsedTime": 217,
                      "departure":
                        {
                          "airport": "ORD",
                          "city": "CHI",
                          "state": "IL",
                          "country": "US",
                          "time": "09:55:00-05:00",
                          "terminal": "3"
                        },
                      "arrival":
                        {
                          "airport": "TUS",
                          "city": "TUS",
                          "state": "AZ",
                          "country": "US",
                          "time": "11:32:00-07:00"
                        },
                      "carrier":
                        {
                          "marketing": "AA",
                          "marketingFlightNumber": 639,
                          "operating": "AA",
                          "operatingFlightNumber": 639,
                          "alliances": "OW ",
                          "equipment":
                            {
                              "code": "738",
                              "typeForFirstLeg": "N",
                              "typeForLastLeg": "N"
                            }
                        }
                    },
                  {
                      "id": 2,
                      "dotRating": "6",
                      "frequency": "**TW*F*",
                      "stopCount": 0,
                      "eTicketable": true,
                      "totalMilesFlown": 1437,
                      "elapsedTime": 214,
                      "departure":
                        {
                          "airport": "TUS",
                          "city": "TUS",
                          "state": "AZ",
                          "country": "US",
                          "time": "12:11:00-07:00"
                        },
                      "arrival":
                        {
                          "airport": "ORD",
                          "city": "CHI",
                          "state": "IL",
                          "country": "US",
                          "time": "17:45:00-05:00",
                          "terminal": "3"
                        },
                      "carrier":
                        {
                          "marketing": "AA",
                          "marketingFlightNumber": 639,
                          "operating": "AA",
                          "operatingFlightNumber": 639,
                          "alliances": "OW ",
                          "equipment":
                            {
                              "code": "738",
                              "typeForFirstLeg": "N",
                              "typeForLastLeg": "N"
                            }
                        }
                    }
                ],
              "taxDescs":
                [
                  {
                      "id": 1,
                      "code": "ZP",
                      "amount": 4.41,
                      "currency": "EUR",
                      "description": "FLIGHT SEGMENT TAX DOMESTIC",
                      "publishedAmount": 4.8,
                      "publishedCurrency": "USD",
                      "station": "TUS",
                      "country": "US"
                    },
                  {
                      "id": 2,
                      "code": "AY",
                      "amount": 5.14,
                      "currency": "EUR",
                      "description": "PASSENGER CIVIL AVIATION SECURITY SERVICE FEE",
                      "publishedAmount": 5.6,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    },
                  {
                      "id": 3,
                      "code": "XF",
                      "amount": 4.13,
                      "currency": "EUR",
                      "description": "PASSENGER FACILITY CHARGES",
                      "publishedAmount": 4.5,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    },
                  {
                      "id": 4,
                      "code": "XF",
                      "amount": 4.13,
                      "currency": "EUR",
                      "description": "PASSENGER FACILITY CHARGES",
                      "publishedAmount": 4.5,
                      "publishedCurrency": "USD",
                      "station": "TUS",
                      "country": "US"
                    },
                  {
                      "id": 5,
                      "code": "US1",
                      "amount": 74.1,
                      "currency": "EUR",
                      "description": "TRANSPORTATION TAX DOMESTIC WHOLLY WITHIN US AND 225 MILE BUFFER ZONE",
                      "publishedAmount": 80.8,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    },
                  {
                      "id": 6,
                      "code": "AY",
                      "amount": 5.14,
                      "currency": "EUR",
                      "description": "PASSENGER CIVIL AVIATION SECURITY SERVICE FEE",
                      "publishedAmount": 5.6,
                      "publishedCurrency": "USD",
                      "station": "TUS",
                      "country": "US"
                    },
                  {
                      "id": 7,
                      "code": "ZP",
                      "amount": 4.41,
                      "currency": "EUR",
                      "description": "FLIGHT SEGMENT TAX DOMESTIC",
                      "publishedAmount": 4.8,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    }
                ],
              "taxSummaryDescs":
                [
                  {
                      "id": 1,
                      "code": "ZP",
                      "amount": 8.82,
                      "currency": "EUR",
                      "description": "FLIGHT SEGMENT TAX DOMESTIC",
                      "publishedAmount": 4.8,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    },
                  {
                      "id": 2,
                      "code": "US1",
                      "amount": 74.1,
                      "currency": "EUR",
                      "description": "TRANSPORTATION TAX DOMESTIC WHOLLY WITHIN US AND 225 MILE BUFFER ZONE",
                      "publishedAmount": 0.075,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    },
                  {
                      "id": 3,
                      "code": "AY",
                      "amount": 10.28,
                      "currency": "EUR",
                      "description": "PASSENGER CIVIL AVIATION SECURITY SERVICE FEE",
                      "publishedAmount": 5.6,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    },
                  {
                      "id": 4,
                      "code": "XF",
                      "amount": 8.26,
                      "currency": "EUR",
                      "description": "PASSENGER FACILITY CHARGE",
                      "publishedAmount": 4.5,
                      "publishedCurrency": "USD",
                      "station": "ORD",
                      "country": "US"
                    }
                ],
              "fareComponentDescs":
                [
                  {
                      "id": 1,
                      "governingCarrier": "AA",
                      "fareAmount": 0,
                      "fareCurrency": "USD",
                      "fareBasisCode": "L0AWZRN1IN",
                      "farePassengerType": "INF",
                      "publishedFareAmount": 0,
                      "publishedFareCurrency": "USD",
                      "oneWayFare": true,
                      "directionality": "FROM",
                      "direction": "WH",
                      "notValidAfter": "2025-06-04",
                      "applicablePricingCategories": "2 4 5 6 7 8 10 11 12 15 16 18 19",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "01",
                      "fareType": "EU",
                      "fareTariff": "0",
                      "fareRule": "M11W",
                      "cabinCode": "Y",
                      "segments": [ { "segment": {} } ]
                    },
                  {
                      "id": 2,
                      "governingCarrier": "AA",
                      "fareAmount": 520,
                      "fareCurrency": "USD",
                      "fareBasisCode": "L0AWZRN1",
                      "farePassengerType": "ADT",
                      "publishedFareAmount": 520,
                      "publishedFareCurrency": "USD",
                      "oneWayFare": true,
                      "directionality": "FROM",
                      "direction": "WH",
                      "notValidAfter": "2025-06-04",
                      "applicablePricingCategories": "2 4 5 6 7 8 10 11 12 15 16 18",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "00",
                      "fareType": "EU",
                      "fareTariff": "0",
                      "fareRule": "M11W",
                      "cabinCode": "Y",
                      "segments":
                        [
                          {
                              "segment":
                                {
                                  "surcharges":
                                    [
                                      {
                                          "amount": 18.6,
                                          "currency": "USD",
                                          "description": "MISCELLANEOUS/OTHER",
                                          "type": "Q"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                  {
                      "id": 3,
                      "governingCarrier": "AA",
                      "fareAmount": 520,
                      "fareCurrency": "USD",
                      "fareBasisCode": "L0AWZRN1",
                      "farePassengerType": "ADT",
                      "publishedFareAmount": 520,
                      "publishedFareCurrency": "USD",
                      "oneWayFare": true,
                      "directionality": "FROM",
                      "direction": "WH",
                      "notValidAfter": "2025-06-04",
                      "applicablePricingCategories": "2 4 5 6 7 8 10 11 12 15 16 18",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "00",
                      "fareType": "EU",
                      "fareTariff": "0",
                      "fareRule": "M11W",
                      "cabinCode": "Y",
                      "segments":
                        [
                          {
                              "segment":
                                {
                                  "stopover": true,
                                  "surcharges":
                                    [
                                      {
                                          "amount": 18.6,
                                          "currency": "USD",
                                          "description": "MISCELLANEOUS/OTHER",
                                          "type": "Q"
                                        }
                                    ]
                                }
                            }
                        ]
                    },
                  {
                      "id": 4,
                      "governingCarrier": "AA",
                      "fareAmount": 0,
                      "fareCurrency": "USD",
                      "fareBasisCode": "L0AWZRN1IN",
                      "farePassengerType": "INF",
                      "publishedFareAmount": 0,
                      "publishedFareCurrency": "USD",
                      "oneWayFare": true,
                      "directionality": "FROM",
                      "direction": "WH",
                      "notValidAfter": "2025-06-04",
                      "applicablePricingCategories": "2 4 5 6 7 8 10 11 12 15 16 18 19",
                      "vendorCode": "ATP",
                      "fareTypeBitmap": "01",
                      "fareType": "EU",
                      "fareTariff": "0",
                      "fareRule": "M11W",
                      "cabinCode": "Y",
                      "segments": [ { "segment": { "stopover": true } } ]
                    }
                ],
              "validatingCarrierDescs":
                [
                  {
                      "id": 1,
                      "settlementMethod": "BSP",
                      "newVcxProcess": true,
                      "default": { "code": "AA" }
                    }
                ],
              "baggageAllowanceDescs": [ { "id": 1, "pieceCount": 0 } ],
              "legDescs":
                [
                  {
                      "id": 1,
                      "elapsedTime": 214,
                      "schedules": [ { "ref": 2 } ]
                    },
                  {
                      "id": 2,
                      "elapsedTime": 217,
                      "schedules": [ { "ref": 1 } ]
                    }
                ],
              "itineraryGroups":
                [
                  {
                      "groupDescription":
                        {
                          "legDescriptions":
                            [
                              {
                                  "departureDate": "2026-06-04",
                                  "departureLocation": "ORD",
                                  "arrivalLocation": "TUS"
                                },
                              {
                                  "departureDate": "2026-06-11",
                                  "departureLocation": "TUS",
                                  "arrivalLocation": "ORD"
                                }
                            ]
                        },
                      "itineraries":
                        [
                          {
                              "id": 1,
                              "pricingSource": "ADVJR1",
                              "legs": [ { "ref": 2 }, { "ref": 1 } ],
                              "pricingInformation":
                                [
                                  {
                                      "pricingSubsource": "MIP",
                                      "fare":
                                        {
                                          "validatingCarrierCode": "AA",
                                          "vita": true,
                                          "eTicketable": true,
                                          "lastTicketDate": "2026-11-28",
                                          "lastTicketTime": "23:59",
                                          "governingCarriers": "AA AA",
                                          "passengerInfoList":
                                            [
                                              {
                                                  "passengerInfo":
                                                    {
                                                      "passengerType": "ADT",
                                                      "passengerNumber": 2,
                                                      "nonRefundable": false,
                                                      "fareComponents":
                                                        [
                                                          {
                                                              "ref": 3,
                                                              "beginAirport": "ORD",
                                                              "endAirport": "TUS",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "L",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "F",
                                                                          "seatsAvailable": 7,
                                                                          "availabilityBreak": true,
                                                                          "fareBreakPoint": true
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                          {
                                                              "ref": 2,
                                                              "beginAirport": "TUS",
                                                              "endAirport": "ORD",
                                                              "segments":
                                                                [
                                                                  {
                                                                      "segment":
                                                                        {
                                                                          "bookingCode": "L",
                                                                          "cabinCode": "Y",
                                                                          "mealCode": "F",
                                                                          "seatsAvailable": 7,
                                                                          "availabilityBreak": true,
                                                                          "fareBreakPoint": true
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                      "taxes":
                                                        [
                                                          { "ref": 2 },
                                                          { "ref": 6 },
                                                          { "ref": 5 },
                                                          { "ref": 7 },
                                                          { "ref": 1 },
                                                          { "ref": 3 },
                                                          { "ref": 4 }
                                                        ],
                                                      "taxSummaries":
                                                        [
                                                          { "ref": 2 },
                                                          { "ref": 1 },
                                                          { "ref": 3 },
                                                          { "ref": 4 }
                                                        ],
                                                      "currencyConversion":
                                                        {
                                                          "from": "USD",
                                                          "to": "EUR",
                                                          "exchangeRateUsed": 0.91704566
                                                        },
                                                      "passengerTotalFare":
                                                        {
                                                          "totalFare": 1089.46,
                                                          "totalTaxAmount": 101.46,
                                                          "currency": "EUR",
                                                          "baseFareAmount": 1077.2,
                                                          "baseFareCurrency": "USD",
                                                          "equivalentAmount": 988,
                                                          "equivalentCurrency": "EUR",
                                                          "constructionAmount": 1077.2,
                                                          "constructionCurrency": "USD",
                                                          "commissionPercentage": 0,
                                                          "commissionAmount": 0,
                                                          "exchangeRateOne": 1
                                                        },
                                                      "baggageInformation":
                                                        [
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "AA",
                                                              "segments": [ { "id": 0 } ],
                                                              "allowance": { "ref": 1 }
                                                            },
                                                          {
                                                              "provisionType": "A",
                                                              "airlineCode": "AA",
[...]
