# https://developer.sabre.com/docs/rest_apis/air/book/create_passenger_name_record/
---
openapi: 3.0.0
info:
  title: Create Passenger Name Record
  version: 2.5.0
  description: |
    The Create Passenger Name Record API is an orchestrated API that bundles several functions and operations into a single API call.

    This API specifically provides the capability to create a Passenger Name Record (PNR), including air segments, in a single call.
paths:
  /v2.5.0/passenger/records:
    post:
      tags:
        - Orchestrated Create Passenger Name Record
      operationId: createPassengerNameRecord
      description: Create Passenger Name Record API.
      parameters:
        - name: mode
          in: query
          required: true
          description: |
            Used to specify which operation will be performed on the passenger name record.

            Use `create` to create a PNR.
          example: 'create'
          schema:
            type: string
            enum:
              - create
      requestBody:
        content:
          application/json: # Media type
            schema: # Request body contents
              $ref: '#/components/schemas/CreatePassengerNameRecordRequest'   # Reference to an object
            examples:
              1.1. Book a round trip flight:
                $ref: '#/components/examples/roundTripExample'
              1.2 Book a hotel:
                $ref: '#/components/examples/hotelExample'
              1.3 Book a vehicle:
                $ref: '#/components/examples/vehicleExample'
              1.4 Book a miscellaneous segment:
                $ref: '#/components/examples/miscSegmentExample'
              1.5 Add a form of payment and associate it with a trip and use type:
                $ref: '#/components/examples/tripTypeUseTypeExample'
              1.6 Full request:
                $ref: '#/components/examples/requestExample'
      responses:
        "200":
          description: Response success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePassengerNameRecordResponse"
              examples:
                1. Full response:
                  $ref: '#/components/examples/responseExample'
        "400":
          description: |
            Bad Request

            - The request was not valid.
security:
  - oauth2_authentication: [ ]
tags:
  - name: Orchestrated Create Passenger Name Record
    description: Create a full reservation for air, hotel, and rental car content, all within a single request.

servers:
  - url: https://api.cert.platform.sabre.com
components:
  securitySchemes:
    oauth2_authentication:
      type: oauth2
      x-base64-encode-client-credentials: true
      flows:
        clientCredentials:
          tokenUrl: https://api.cert.platform.sabre.com/v2/auth/token
          scopes: {}
  schemas:
    CreatePassengerNameRecordRequest:
      type: object
      properties:
        CreatePassengerNameRecordRQ:
          type: object
          description: Orchestrated Create Passenger Name Record API request.
          properties:
            Profile:
              type: object
              description: Used to add profile information.
              properties:
                UniqueID:
                  type: object
                  description: Used to pass profile ID.
                  properties:
                    id:
                      description: Used to specify a profile name that is to be moved into the AAA to create the PNR.
                      type: string
                      example: 'A1'
                  required:
                    - id
              required:
                - UniqueID
            TravelItineraryAddInfo:
              type: object
              description: Used to add the passenger/agency information.
              properties:
                AgencyInfo:
                  type: object
                  description: The travel agency's information details.
                  properties:
                    Address:
                      type: object
                      description: The travel agency's address information.
                      properties:
                        AddressLine:
                          description: The travel agency's address.
                          example: 'SABRE TRAVEL'
                          type: string
                        CityName:
                          description: The travel agency's city name.
                          example: 'SOUTHLAKE'
                          type: string
                        CountryCode:
                          description: The two-letter ISO country code for the travel agency's location.
                          example: 'US'
                          type: string
                        PostalCode:
                          description: The travel agency's ZIP or postal code.
                          example: '90210'
                          type: string
                        StateCountyProv:
                          type: object
                          description: The state, county or province details.
                          properties:
                            StateCode:
                              example: 'TX'
                              description: The state code.
                              type: string
                          required:
                            - StateCode
                        StreetNmbr:
                          example: '3150 SABRE DRIVE'
                          description: The street number.
                          type: string
                        VendorPrefs:
                          type: object
                          description: Used to specify if the request is based upon a hosted or a non-hosted carrier.
                          properties:
                            Airline:
                              type: object
                              description: Specify if the request is based upon a hosted or a non-hosted carrier.
                              properties:
                                Hosted:
                                  description: |
                                    Used to specify if the request is based in a hosted or a non-hosted carrier.

                                    For Travel Network customers, `Hosted` should be set to `false`.

                                    For SabreSonic RES hosted customers, `Hosted` should be set to `true`.
                                  type: boolean
                                  example: true
                              required:
                                - Hosted
                          required:
                            - Airline
                      required:
                        - CityName
                    Ticketing:
                      type: object
                      description: Used to pass ticketing related information.
                      properties:
                        PseudoCityCode:
                          example: 'IPCC'
                          description: The pseudo city code.
                          type: string
                        QueueNumber:
                          example: 55
                          description: The queue number.
                          type: integer
                        QueueName:
                          example: 'FB'
                          description: The queue name.
                          type: string
                        ShortText:
                          example: 'TEST'
                          description: The miscellaneous free text.
                          type: string
                        TicketTimeLimit:
                          example: '12-21T08:00'
                          description: |
                            Used to specify the ticket time limit.

                            `TicketTimeLimit` is shown in the following format - MM-DDTHH:00.

                            `TicketTimeLimit` must be at the top of the hour.

                            This is a date time type that forces both the date and the time to be specified.

                            The year and seconds can be omitted.

                            Example formats - `yyyy-mm-ddThh:mm:ss`, `mm-ddThh:mm:ss`, `mm-ddThh:mm`, `yyyy-mm-ddThh:mm`.
                          type: string
                          pattern: '(((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-9])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-30)))|(((19|20)(([02468][048])|([13579][26]))-02-29))|((20[0-9][0-9])|(19[0-9][0-9]))-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T([0-1][0-9]|[2][0-3])(:([0-5][0-9])){1,2}'
                        TicketType:
                          example: '7TAW'
                          description: |
                            Used to pass the ticketing type.

                            Acceptable values are: `7TAW`, `7TAX`, `7T-A`, `8(time)`, or `8(time/(date)`.
                          type: string
                      required:
                        - TicketType
                CustomerInfo:
                  type: object
                  description: Used to pass passenger`s details.
                  properties:
                    ContactNumbers:
                      type: object
                      description: Used to pass the passenger contact numbers.
                      properties:
                        ContactNumber:
                          description: Used to pass the contact details for a specific passenger.
                          type: array
                          items:
                            properties:
                              InsertAfter:
                                description: Used to add a phone number after or before an existing phone number.
                                type: integer
                                example: 0
                              LocationCode:
                                description: Used to override the default city in the application`s Travel Journal Record.
                                type: string
                                example: 'FSG'
                              NameNumber:
                                description: Used to specify a passenger name number.
                                type: string
                                example: '1.1'
                              Phone:
                                description: Used to add customer telephone numbers into the record.
                                type: string
                                example: '817-555-1212'
                              PhoneUseType:
                                description: Used to specify if the number is agency `A`, home `H`, business `B` or fax `F`.
                                type: string
                                example: 'H'
                            required:
                              - Phone
                              - PhoneUseType
                          minItems: 1
                      required:
                        - ContactNumber
                    Corporate:
                      type: object
                      description: |
                        Used to specify that the type of the journey is corporate, i.e. through a corporation.

                        It cannot be combined with any other qualifier.
                      properties:
                        ID:
                          description: |
                            Used to add a corporate ID into the record.

                            Please note that this qualifier is not applicable to Sabre Sonic Res-based clients.

                            Furthermore, Sabre Travel Network-based customers need to first have this functionality activated for their particular location by their account representative prior to attempting to utilize this element.
                          type: string
                          example: 'CC006'
                      required:
                        - ID
                    CreditCardData:
                      type: object
                      description: |
                        Used to pass the credit card billing information.

                        Please note that .../BillingInformation and .../PreferredCustomer are mutually exclusive.
                      properties:
                        BillingInformation:
                          type: object
                          description: Used to pass the credit card billing information.
                          properties:
                            PostalCode:
                              description: Used to specify the postal code of the card holder.
                              type: string
                              minLength: 1
                              maxLength: 128
                              example: '12345'
                            Zip:
                              description: Used to specify the zip code of the card holder.
                              type: string
                              minLength: 1
                              maxLength: 128
                              example: '75001'
                            cardHolderName:
                              description: Used to specify the name of the card holder.
                              type: string
                              minLength: 1
                              maxLength: 128
                              example: 'Homer'
                            streetAddress:
                              description: Used to specify the street address of the card holder.
                              type: string
                              minLength: 1
                              maxLength: 128
                              example: 'Alabama Ave'
                            city:
                              description: Used to specify the city of the card holder.
                              type: string
                              minLength: 1
                              maxLength: 128
                              example: 'Dallas'
                            stateOrProvince:
                              description: |
                                Used to specify the state or province of the card holder.

                                `stateOrProvince` with a state code is required for addresses in the United States, U.S. Virgin Islands, and Puerto Rico.

                                `stateOrProvince` with a province code is required for addresses outside the United States, U.S. Virgin Islands, and Puerto Rico.
                              type: string
                              minLength: 1
                              maxLength: 128
                              example: 'TX'
                          oneOf:
                            - properties:
                                PostalCode:
                                  description: Used to specify the postal code of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: '12345'
                                cardHolderName:
                                  description: Used to specify the name of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Homer'
                                streetAddress:
                                  description: Used to specify the street address of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Alabama Ave'
                                city:
                                  description: Used to specify the city of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Dallas'
                                stateOrProvince:
                                  description: |
                                    Used to specify the state or province of the card holder.

                                    `stateOrProvince` with a state code is required for addresses in the United States, U.S. Virgin Islands, and Puerto Rico.

                                    `stateOrProvince` with a province code is required for addresses outside the United States, U.S. Virgin Islands, and Puerto Rico.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'TX'
                              required:
                                - PostalCode
                              additionalProperties: false
                            - properties:
                                Zip:
                                  description: Used to specify the zip code of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: '75001'
                                cardHolderName:
                                  description: Used to specify the name of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Homer'
                                streetAddress:
                                  description: Used to specify the street address of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Alabama Ave'
                                city:
                                  description: Used to specify the city of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Dallas'
                                stateOrProvince:
                                  description: |
                                    Used to specify the state or province of the card holder.

                                    `stateOrProvince` with a state code is required for addresses in the United States, U.S. Virgin Islands, and Puerto Rico.

                                    `stateOrProvince` with a province code is required for addresses outside the United States, U.S. Virgin Islands, and Puerto Rico.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'TX'
                              required:
                                - Zip
                              additionalProperties: false
                          required:
                            - cardHolderName
                            - streetAddress
                            - city
                        PreferredCustomer:
                          type: object
                          description: |
                            Used to indicate in a client`s Passenger Name Record (PNR) that your client is a preferred customer.
                          properties:
                            ind:
                              description: If `true`, indicates that a client is a preferred customer in the Passenger Name Record (PNR), overriding the automatic address verification (AVS) check at the time of ticketing.
                              type: boolean
                              example: true
                      oneOf:
                        - properties:
                            BillingInformation:
                              type: object
                              description: Used to pass the credit card billing information.
                              properties:
                                PostalCode:
                                  description: Used to specify the postal code of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: '12345'
                                Zip:
                                  description: Used to specify the zip code of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: '75001'
                                cardHolderName:
                                  description: Used to specify the name of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Homer'
                                streetAddress:
                                  description: Used to specify the street address of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Alabama Ave'
                                city:
                                  description: Used to specify the city of the card holder.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'Dallas'
                                stateOrProvince:
                                  description: |
                                    Used to specify the state or province of the card holder.

                                    `stateOrProvince` with a state code is required for addresses in the United States, U.S. Virgin Islands, and Puerto Rico.

                                    `stateOrProvince` with a province code is required for addresses outside the United States, U.S. Virgin Islands, and Puerto Rico.
                                  type: string
                                  minLength: 1
                                  maxLength: 128
                                  example: 'TX'
                              oneOf:
                                - properties:
                                    PostalCode:
                                      description: Used to specify the postal code of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: '12345'
                                    cardHolderName:
                                      description: Used to specify the name of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'Homer'
                                    streetAddress:
                                      description: Used to specify the street address of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'Alabama Ave'
                                    city:
                                      description: Used to specify the city of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'Dallas'
                                    stateOrProvince:
                                      description: |
                                        Used to specify the state or province of the card holder.

                                        `stateOrProvince` with a state code is required for addresses in the United States, U.S. Virgin Islands, and Puerto Rico.

                                        `stateOrProvince` with a province code is required for addresses outside the United States, U.S. Virgin Islands, and Puerto Rico.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'TX'
                                  required:
                                    - PostalCode
                                  additionalProperties: false
                                - properties:
                                    Zip:
                                      description: Used to specify the zip code of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: '75001'
                                    cardHolderName:
                                      description: Used to specify the name of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'Homer'
                                    streetAddress:
                                      description: Used to specify the street address of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'Alabama Ave'
                                    city:
                                      description: Used to specify the city of the card holder.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'Dallas'
                                    stateOrProvince:
                                      description: |
                                        Used to specify the state or province of the card holder.

                                        `stateOrProvince` with a state code is required for addresses in the United States, U.S. Virgin Islands, and Puerto Rico.

                                        `stateOrProvince` with a province code is required for addresses outside the United States, U.S. Virgin Islands, and Puerto Rico.
                                      type: string
                                      minLength: 1
                                      maxLength: 128
                                      example: 'TX'
                                  required:
                                    - Zip
                                  additionalProperties: false
                          required:
                            - BillingInformation
                          additionalProperties: false
                        - properties:
                            PreferredCustomer:
                              type: object
                              description: |
                                Used to indicate in a client`s Passenger Name Record (PNR) that your client is a preferred customer.
                              properties:
                                ind:
                                  description: If `true`, indicates that a client is a preferred customer in the Passenger Name Record (PNR), overriding the automatic address verification (AVS) check at the time of ticketing.
                                  type: boolean
                                  example: true
                          required:
                            - PreferredCustomer
                          additionalProperties: false
                    CustLoyalty:
                      description: Used to pass the frequent flyer number information.
                      type: array
                      items:
                        properties:
                          MembershipID:
                            description: Used to add a frequent traveler number into the record.
                            type: string
                            example: '1'
                          NameNumber:
                            description: Used to specify a passenger name number.
                            type: string
                            example: '121'
                          ProgramID:
                            description: Used to add the carrier code associated with the frequent traveler number.
                            type: string
                            example: '5'
                          SegmentNumber:
                            description: |
                              Used to add a segment number to associate the frequent traveler number to.

                              SegmentNumber and TravelingCarrierCode cannot combine.
                            type: string
                            example: '14441'
                          TravelingCarrierCode:
                            description: |
                              Used to transmit the frequent traveler number of one airline to accrue mileage on another carrier.

                              SegmentNumber and TravelingCarrierCode cannot combine.
                            type: string
                            example: 'S1'
                        required:
                          - MembershipID
                          - ProgramID
                      minItems: 0
                    CustomerIdentifier:
                      description: |
                        Used to add a customer number (Also known as `DK number`) into the record.

                        Please note that this qualifier is not applicable to Sabre Sonic Res-based clients.

                        The value of can be `6`, `7`, or `10` alphanumeric.
                      type: string
                      example: '1111111'
                    Email:
                      description: Used to pass the e-mail details.
                      type: array
                      items:
                        properties:
                          Address:
                            description: Used to add an email address into the record.
                            type: string
                            example: 'john.doe@example.com'
                          LanguageOverride:
                            description: Used to override the language in the agency`s Travel Journal Record (TJR).
                            type: string
                            example: 'O'
                          NameNumber:
                            description: Used to specify a passenger name number.
                            type: string
                            example: '1.1'
                          ShortText:
                            description: Used to specify the miscellaneous email address-related free text information.
                            type: string
                            example: 'ABC123'
                          Type:
                            description: |
                              Used to specify the type of email address.

                              Acceptable values for `Type` are: `BC` for blind copy, `CC` for carbon copy, `FR` for from, or `To` for to.
                            type: string
                            enum:
                              - BC
                              - CC
                              - FR
                              - TO
                            example: 'BC'
                        required:
                          - Address
                      minItems: 0
                    PersonName:
                      description: Used to add the passenger names.
                      type: array
                      items:
                        properties:
                          GivenName:
                            description: Used to pass the passenger`s first name.
                            type: string
                            example: 'Homer'
                          GroupInfo:
                            type: object
                            description: Used to pass the group information details.
                            properties:
                              VendorPrefs:
                                type: object
                                description: Used to specify if the request is based upon a hosted or a non-hosted carrier.
                                properties:
                                  Airline:
                                    type: object
                                    description: Specify if the request is based upon a hosted or a non-hosted carrier.
                                    properties:
                                      Code:
                                        description: |
                                          Used to specify the airline that the group is travelling with.

                                          Please note that this qualifier is not applicable to Sabre Sonic Res-based subscribers, or Sabre Travel Network-based subscribers.
                                        type: string
                                        example: '15f41'
                                    required:
                                      - Code
                                required:
                                  - Airline
                              Name:
                                description: Used to specify any miscellaneous group booking related free text title information.
                                type: string
                                example: 'Sabre'
                              NumSeatsRemaining:
                                description: Used to specify the number of passengers travelling in a group.
                                type: integer
                                example: 16
                            required:
                              - Name
                              - NumSeatsRemaining
                          Surname:
                            description: Used to pass the passenger`s surname.
                            type: string
                            example: 'Smith'
                          Infant:
                            description: Used to specify that the particular passenger is an infant.
                            type: boolean
                            example: true
                          NameNumber:
                            description: Used to specify a passenger name number, and is only applicable when used in conjunction with `PassengerType`.
                            type: string
                            example: '123ABC'
                          NameReference:
                            description: Used to specify miscellaneous name reference-related information.
                            type: string
                            example: '123ABC'
                          PassengerType:
                            description: |
                              Used to add a passenger type code into the record.

                              Please note that this qualifier is not applicable to Sabre Sonic Res-based clients.
                            type: string
                            example: 'Normal'
                      minItems: 0
            AirBook:
              type: object
              description: Used to add air segments.
              properties:
                RetryRebook:
                  type: object
                  description: Used to specify if re-booking of segments is required when UC segment status is encountered.
                  properties:
                    Option:
                      description: If `true`, specifies whether re-booking of segments is required when a `UC` segment status is encountered in any segment being booked.
                      type: boolean
                      example: true
                    NumAttempts:
                      description: The number of times to repeat the `RetryRebook` process if the first attempt results in a segment status of `UC`.
                      type: integer
                      example: 15
                      minimum: 1
                      maximum: 30
                    WaitInterval:
                      description: The acceptable `WaitInterval` interval range from 0 to 10000 milliseconds.
                      type: integer
                      example: 5000
                      minimum: 0
                      maximum: 10000
                  required:
                    - Option
                HaltOnStatus:
                  description: Used to specify values that cause subsequent pricing, and beyond processing to stop if they appear.
                  type: array
                  items:
                    properties:
                      Code:
                        description: |
                          Used to specify values that cause subsequent pricing, and beyond processing to stop if they appear.

                          In order to successfully price an air itinerary the status code associated with the individual segments cannot be `NN`, `NO`, `UC` or `US`.

                          After successfully booking flights, the system will compare the status codes returned from the carrier against the client-specified codes to determine if subsequent pricing, and beyond processing should occur.
                          
                          Please note that even if you do not specify any status code, the system will automatically validate whether a booked flight segment contains the code `NN`.
                          
                          If found, the system will break the processing.
                          
                          Many low cost airlines (LCCs) use `NN` as their default status code (it will be changed to `HK`/confirmed only after a successful fulfillment), hence it is possible to disable the check.
                          
                          To do so, please send the value `NONE` as the only `Code` to be checked.
                        type: string
                        minLength: 1
                        example: '123ABC452'
                    required:
                      - Code
                  minItems: 0
                OriginDestinationInformation:
                  type: object
                  description: Used to specify the air segments to be booked.
                  properties:
                    FlightSegment:
                      description: Used to specify the air flight segment to be booked.
                      type: array
                      items:
                        properties:
                          DestinationLocation:
                            type: object
                            description: Used to specify the arrival airport code.
                            properties:
                              LocationCode:
                                description: Used to specify the arrival airport code.
                                type: string
                                example: 'DTW'
                            required:
                              - LocationCode
                          Equipment:
                            type: object
                            description: Used to specify the equipment type of the aircraft being booked.
                            properties:
                              AirEquipType:
                                description: Used to specify the equipment type of the aircraft being booked.
                                type: string
                                example: 'standard'
                            required:
                              - AirEquipType
                          MarketingAirline:
                            type: object
                            description: Used to specify the marketing airline code.
                            properties:
                              Code:
                                description: Used to specify the marketing airline code.
                                type: string
                                example: 'L45'
                              FlightNumber:
                                description: |
                                  Used to specify the flight number.

                                  `OPEN` can also be passed if the user desires an open space ticket.
                                type: string
                                example: '63451'
                            required:
                              - Code
                              - FlightNumber
                          MarriageGrp:
                            description: |
                              Information whether the flight segment is part of a married connection.

                              `O` means no. `I` means yes.
                            type: string
                            enum:
                              - O
                              - I
                          OperatingAirline:
                            type: object
                            description: Used to specify the operating airline code.
                            properties:
                              Code:
                                description: Used to describe the code of the carrier operating the flight.
                                type: string
                                example: 'L45'
                            required:
                              - Code
                          OriginLocation:
                            type: object
                            description: Used to specify the departure airport code.
                            properties:
                              LocationCode:
                                description: Used to specify the departure airport code.
                                type: string
                                example: 'KRK'
                            required:
                              - LocationCode
                          ArrivalDateTime:
                            description: |
                              Used to specify the time and date of flight arrival.

                              Please note that the value within this attribute if passed cannot be null.
                            type: string
                            example: '2024-09-04T10:05:00'
                            pattern: '(((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-9])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-30)))|(((19|20)(([02468][048])|([13579][26]))-02-29))|((20[0-9][0-9])|(19[0-9][0-9]))-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T([0-1][0-9]|[2][0-3])(:([0-5][0-9])){1,2}'
                          DepartureDateTime:
                            description: Used to specify the time and date of flight departure.
                            type: string
                            example: '2024-09-04T10:12:00'
                            pattern: '(((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-9])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-30)))|(((19|20)(([02468][048])|([13579][26]))-02-29))|((20[0-9][0-9])|(19[0-9][0-9]))-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T([0-1][0-9]|[2][0-3])(:([0-5][0-9])){1,2}'
                          FlightNumber:
                            description: |
                              Used to specify the flight number.

                              OPEN can also be passed if the user desires an open space ticket.
                            type: string
                            example: 'F412'
                          NumberInParty:
                            description: Used to specify the number of passengers that need to be booked during this transaction.
                            type: string
                            example: '4'
                          ResBookDesigCode:
                            description: Used to specify the booking class.
                            type: string
                            example: 'F'
                          Status:
                            description: |
                              Used to specify the action code to be used to sell the flight inventory.

                              Valid values for `Status` are: `NN`, `HL`, `GK`, `QF`, `SA`, `MM`, or `OPEN`.
                            type: string
                            example: 'NN'
                          InstantPurchase:
                            description: Used to send a request to an open system AirBookRQ.
                            type: boolean
                            example: true
                          AirlineRefId:
                            description: |
                              Used to pass an airline reference for a booking made outside of Sabre system.

                              When you combine `AirlineRefId`  with other flight segment details, system will create a passive PNR segment.

                              AA flight segments are not supported by `AirlineRefId` functionality.
                            type: string
                            example: 'ABC123'
                        required:
                          - DestinationLocation
                          - MarketingAirline
                          - OriginLocation
                          - FlightNumber
                          - NumberInParty
                          - ResBookDesigCode
                          - Status
                      minItems: 1
                      maxItems: 16
                  required:
                    - FlightSegment
                RedisplayReservation:
                  type: object
                  description: Used to request a redisplay reservation attempt to validate if the desired segment status code remains unaltered.
                  properties:
                    NumAttempts:
                      description: Used to specify a number of times to make the TravelItineraryReadRQ service call before proceeding to the OTA_AirPriceLLSRQ or the next service call.
                      type: integer
                      example: 1
                      maximum: 10
                      minimum: 1
                    WaitInterval:
                      description: Used to specify an interval (in milliseconds) that the system should wait in milliseconds before making re-display service calls.
                      type: integer
                      example: 100
                      maximum: 10000
                      minimum: 100
                  required:
                    - NumAttempts
                    - WaitInterval
              required:
                - OriginDestinationInformation
            AirPrice:
              description: Used to price the air segments.
              type: array
              items:
                type: object
                properties:
                  PriceComparison:
                    type: object
                    description: Used to specify a specific total price threshold which is acceptable.
                    properties:
                      AcceptablePriceDecrease:
                        type: object
                        description: Used to define the acceptable price decrease threshold.
                        oneOf:
                          - properties:
                              Amount:
                                description: Used to define an amount threshold.
                                type: number
                                example: 10
                                minimum: 0
                                exclusiveMinimum: false
                              HaltOnNonAcceptablePrice:
                                description: Used to specify whether the service should be stopped when the actual price is lesser than `AmountSpecified` + percent or amount decrease.
                                type: boolean
                                example: true
                            required:
                              - Amount
                            additionalProperties: false
                          - properties:
                              Percent:
                                description: Used to define a percent threshold.
                                type: number
                                example: 10
                                minimum: 0.0
                                exclusiveMinimum: false
                              HaltOnNonAcceptablePrice:
                                description: Used to specify whether the service should be stopped when the actual price is lesser than `AmountSpecified` + percent or amount decrease.
                                type: boolean
                                example: true
                            required:
                              - Percent
                            additionalProperties: false
                        properties:
                          Amount:
                            description: Used to define an amount threshold.
                            type: number
                            example: 10
                            minimum: 0
                            exclusiveMinimum: false
                          HaltOnNonAcceptablePrice:
                            description: Used to specify whether the service should be stopped when the actual price is lesser than `AmountSpecified` + percent or amount decrease.
                            type: boolean
                            example: true
                          Percent:
                            description: Used to define a percent threshold.
                            type: number
                            example: 10
                            minimum: 0.0
                            exclusiveMinimum: false
                      AcceptablePriceIncrease:
                        type: object
                        description: Used to define the acceptable price increase threshold.
                        oneOf:
                          - properties:
                              Amount:
                                description: Used to define an amount threshold.
                                type: number
                                example: 10
                                minimum: 0
                                exclusiveMinimum: false
                              HaltOnNonAcceptablePrice:
                                description: Used to specify whether the service should be stopped when the actual price is lesser than `AmountSpecified` + percent or amount decrease.
                                type: boolean
                                example: true
                            required:
                              - Amount
                            additionalProperties: false
                          - properties:
                              Percent:
                                description: Used to define a percent threshold.
                                type: number
                                example: 10
                                minimum: 0.0
                                exclusiveMinimum: false
                              HaltOnNonAcceptablePrice:
                                description: Used to specify whether the service should be stopped when the actual price is lesser than `AmountSpecified` + percent or amount decrease.
                                type: boolean
                                example: true
                            required:
                              - Percent
                            additionalProperties: false
                        properties:
                          Amount:
                            description: Used to define an amount threshold.
                            type: number
                            example: 10
                            minimum: 0
                            exclusiveMinimum: false
                          HaltOnNonAcceptablePrice:
                            description: Used to specify whether the service should be stopped when the actual price is greater than `AmountSpecified` + percent or amount increase.
                            type: boolean
                            example: true
                          Percent:
                            description: Used to define a percent threshold.
                            type: number
                            example: 10
                            minimum: 0.0
                            exclusiveMinimum: false
                      AmountSpecified:
                        description: Used to specify the total amount associated with the itinerary returned via the previous shopping method for comparison purposes against the current price being returned for the same itinerary.
                        type: number
                        example: 1000
                        minimum: 0
                        exclusiveMinimum: false
                    required:
                      - AmountSpecified
                  PriceRequestInformation:
                    type: object
                    description: Used to define the pricing qualifiers.
                    properties:
                      OptionalQualifiers:
                        type: object
                        description: Used to define all the pricing qualifiers.
                        properties:
                          FlightQualifiers:
                            type: object
                            description: Used to define the carrier specific pricing qualifiers.
                            properties:
                              VendorPrefs:
                                type: object
                                description: Contains airline vendor preferences.
                                properties:
                                  Airline:
                                    type: object
                                    description: Used to specify a particular vendor code.
                                    properties:
                                      Code:
                                        description: Used to specify a particular vendor code.
                                        type: string
                                        example: 'XX'
                                    required:
                                      - Code
                                required:
                                  - Airline
                          FOP_Qualifiers:
                            type: object
                            description: Used to define the form of payment qualifiers.
                            properties:
                              BasicFOP:
                                type: object
                                description: |
                                  Used to define a single form of payment.

                                  `BasicFOP` cannot be combined with `BSP_Ticketing`, or `SabreSonicTicketing`, or `MultipleCC_FOP`.
                                properties:
                                  CC_Info:
                                    type: object
                                    description: Used to pass the credit card information.
                                    properties:
                                      PaymentCard:
                                        type: object
                                        description: Used to define the card details.
                                        properties:
                                          Code:
                                            description: Used to specify a credit card vendor code.
                                            type: string
                                            example: 'VI'
                                          ExpireDate:
                                            description: |
                                              Used to specify a credit card expiration date.

                                              `ExpireDate` follows this format: `YYYY-MM`.

                                              Go to the following link for a more in-depth explanation.

                                              https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                            example: '2022-02'
                                            type: string
                                            pattern: '\d{4}-\d{2}'
                                          ExtendedPayment:
                                            description: Used to pass the number of months by which to extend the payment.
                                            example: 12
                                            type: integer
                                          ManualApprovalCode:
                                            description: Used to pass a manual credit card approval code if it applies to the credit card.
                                            example: '123456'
                                            type: string
                                          Number:
                                            description: Used to specify a credit card number.
                                            example: 4444333322221100
                                            type: integer
                                      Suppress:
                                        description: If `true`, suppresses credit card information on the itinerary.
                                        type: boolean
                                        example: true
                                    required:
                                      - PaymentCard
                                  Type:
                                    description: |
                                      Used to specify the payment type. Acceptable values are `CA` (cash), `CK` (check), `CQ` (cheque).

                                      If utilizing a credit card please omit `Type`, and populate the `CC_Info` object.
                                    type: string
                                    example: 'CA'
                                  Reference:
                                    description: Used to reference a line number from PNR FOP field.
                                    type: integer
                                    example: 12
                                  Virtual:
                                    description: Used to pass virtual form of payment information.
                                    type: string
                                    example: 'SABREAIRONETWOFOUR'
                              BSP_Ticketing:
                                type: object
                                description: |
                                  Used to define forms of payment acceptable within BSP region.

                                  `BSP_Ticketing` cannot be combined with `SabreSonicTicketing`, or `MultipleCC_FOP`.
                                properties:
                                  MultipleFOP:
                                    type: object
                                    description: |
                                      Used to define multiple forms of payment.

                                      `MultipleFOP` cannot be combined with `MultipleMiscFOP`, or `PayLaterPlan`.
                                    properties:
                                      Fare:
                                        type: object
                                        description: Used to specify the amount to be applied to the second FOP.
                                        properties:
                                          Amount:
                                            description: Used to specify the amount to be applied to the second FOP.
                                            type: string
                                            example: '11'
                                        required:
                                          - Amount
                                      FOP_One:
                                        type: object
                                        description: Used to pass the first form of payment.
                                        properties:
                                          CC_Info:
                                            type: object
                                            description: Used to pass the credit card information.
                                            properties:
                                              PaymentCard:
                                                type: object
                                                description: Used to define the payment card details.
                                                properties:
                                                  Code:
                                                    description: Used to specify a credit card vendor code.
                                                    type: string
                                                    example: 'MC'
                                                  ExpireDate:
                                                    description: |
                                                      Used to specify a credit card expiration date.

                                                      `ExpireDate` follows this format: `YYYY-MM`.

                                                      Go to the following link for a more in-depth explanation.
                                                      https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                    type: string
                                                    pattern: '\d{4}-\d{2}'
                                                    example: '2022-02'
                                                  ExtendedPayment:
                                                    description: Used to pass the number of months by which to extend the payment.
                                                    type: integer
                                                    example: 22
                                                  ManualApprovalCode:
                                                    description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                    type: string
                                                    example: '123456'
                                                  Number:
                                                    description: Used to specify a credit card number.
                                                    type: integer
                                                    example: 4123412341234123
                                              Suppress:
                                                description: If `true`, suppresses credit card information on the itinerary.
                                                type: boolean
                                                example: true
                                            required:
                                              - PaymentCard
                                          Type:
                                            description: |
                                              Used to specify the payment type.

                                              Acceptable values are `CA` (cash), `CK` (check), `CQ` (cheque).

                                              If utilizing a credit card please omit `Type`, and populate the `CC_Info` object.
                                            example: 'CA'
                                            type: string
                                          Reference:
                                            description: Used to reference a line number from PNR FOP field.
                                            example: 7
                                            type: integer
                                      FOP_Two:
                                        type: object
                                        description: Used to pass the second form of payment.
                                        properties:
                                          CC_Info:
                                            type: object
                                            description: Used to pass the credit card information.
                                            properties:
                                              PaymentCard:
                                                type: object
                                                description: Used to define the payment card details.
                                                properties:
                                                  Code:
                                                    description: Used to specify a credit card vendor code.
                                                    example: 'VI'
                                                    type: string
                                                  ExpireDate:
                                                    description: |
                                                      Used to specify a credit card expiration date.

                                                      `ExpireDate` follows this format: `YYYY-MM`.

                                                      Go to the following link for a more in-depth explanation.

                                                      https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                    type: string
                                                    example: '2022-02'
                                                    pattern: '\d{4}-\d{2}'
                                                  ExtendedPayment:
                                                    description: Used to pass the number of months by which to extend the payment.
                                                    example: 1
                                                    type: integer
                                                  ManualApprovalCode:
                                                    description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                    example: '123456'
                                                    type: string
                                                  Number:
                                                    description: Used to specify a credit card number.
                                                    example: 4123412341234123
                                                    type: integer
                                              Suppress:
                                                description: If `true`, suppresses credit card information on the itinerary.
                                                type: boolean
                                                example: true
                                            required:
                                              - PaymentCard
                                          Type:
                                            description: |
                                              Used to specify the payment type.

                                              Acceptable values are `CA` (cash), `CK` (check), `CQ` (cheque).

                                              If utilizing a credit card please omit `Type`, and populate the `CC_Info` object.
                                            example: 'CA'
                                            type: string
                                          Reference:
                                            description: Used to reference a line number from PNR FOP field.
                                            example: 3
                                            type: integer
                                    required:
                                      - Fare
                                      - FOP_One
                                      - FOP_Two
                                  MultipleMiscFOP:
                                    type: object
                                    description: |
                                      Used to define multiple miscellaneous forms of payment.

                                      `MultipleMiscFOP` cannot be combined with `MultipleFOP`, or `PayLaterPlan`.
                                    properties:
                                      Fare:
                                        type: object
                                        description: Used to specify the amount to be applied to the second FOP.
                                        properties:
                                          Amount:
                                            description: Used to specify the amount to be applied to the second FOP.
                                            example: '3'
                                            type: string
                                        required:
                                          - Amount
                                      FOP_One:
                                        type: object
                                        description: Used to pass the first form of payment.
                                        properties:
                                          CC_Info:
                                            type: object
                                            description: Used to pass the credit card information.
                                            properties:
                                              PaymentCard:
                                                type: object
                                                description: Used to define the payment card details.
                                                properties:
                                                  Code:
                                                    description: Used to specify a credit card vendor code.
                                                    example: 'VI'
                                                    type: string
                                                  ExpireDate:
                                                    description: |
                                                      Used to specify a credit card expiration date.

                                                      `ExpireDate` follows this format: `YYYY-MM`.

                                                      Go to the following link for a more in-depth explanation.

                                                      https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                    type: string
                                                    example: '2022-02'
                                                    pattern: '\d{4}-\d{2}'
                                                  ExtendedPayment:
                                                    description: Used to pass the number of months by which to extend the payment.
                                                    example: 20
                                                    type: integer
                                                  ManualApprovalCode:
                                                    description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                    example: '123456'
                                                    type: string
                                                  Number:
                                                    description: Used to specify a credit card number.
                                                    example: 4123412341234123
                                                    type: integer
                                              Suppress:
                                                description: If `true`, suppresses credit card information on the itinerary.
                                                type: boolean
                                                example: true
                                            required:
                                              - PaymentCard
                                          Type:
                                            description: |
                                              Type is used to specify the payment type.

                                              Acceptable values are `CA` (cash), `CK` (check) or `CQ` (cheque).

                                              If you are using a credit card, omit `Type` and populate the `CC_Info` object.
                                            example: 'CA'
                                            type: string
                                          Reference:
                                            description: Used to reference a line number from PNR FOP field.
                                            example: 4
                                            type: integer
                                      FOP_Two:
                                        type: object
                                        description: Used to pass the second form of payment.
                                        properties:
                                          ExtendedPayment:
                                            type: object
                                            description: Used to pass the number of months by which to extend the payment.
                                            properties:
                                              NumMonths:
                                                description: Used to pass the number of months by which to extend the payment.
                                                example: 6
                                                type: integer
                                            required:
                                              - NumMonths
                                          Type:
                                            description: Used to specify the miscellaneous payment type.
                                            example: '100'
                                            type: string
                                          Reference:
                                            description: Used to reference a line number from PNR FOP field.
                                            example: 556
                                            type: integer
                                        required:
                                          - Type
                                      Taxes:
                                        type: object
                                        description: Used to define the tax details.
                                        properties:
                                          Tax:
                                            description: Used to define the tax details.
                                            type: array
                                            items:
                                              properties:
                                                Amount:
                                                  description: Used to specify the tax amount.
                                                  example: '4'
                                                  type: string
                                                TaxCode:
                                                  description: Used to specify the tax code, refer to OpenTravel Code List Fee Tax Type(FTT).
                                                  example: 'D11'
                                                  type: string
                                              required:
                                                - Amount
                                                - TaxCode
                                            minItems: 1
                                            maxItems: 2
                                        required:
                                          - Tax
                                    required:
                                      - Fare
                                      - FOP_One
                                      - FOP_Two
                                  PayLaterPlan:
                                    type: object
                                    description: |
                                      Only applicable to Brazil.

                                      `PayLaterPlan` cannot be combined with `MultipleFOP`, or `MultipleMiscFOP`.
                                    properties:
                                      Fare:
                                        type: object
                                        description: Used to specify the remaining fare amount.
                                        properties:
                                          Amount:
                                            description: Used to specify the remaining fare amount.
                                            example: '4'
                                            type: string
                                        required:
                                          - Amount
                                      FOP:
                                        type: object
                                        description: Used to define the form of payment.
                                        properties:
                                          CC_Info:
                                            type: object
                                            description: Used to pass the credit card information.
                                            properties:
                                              PaymentCard:
                                                type: object
                                                description: Used to define the payment card details.
                                                properties:
                                                  Code:
                                                    description: Used to specify a credit card vendor code.
                                                    example: 'VI'
                                                    type: string
                                                  ExpireDate:
                                                    description: |
                                                      Used to specify a credit card expiration date.

                                                      `ExpireDate` follows this format: `YYYY-MM`.

                                                      Go to the following link for a more in-depth explanation.

                                                      https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                    type: string
                                                    example: '2022-02'
                                                    pattern: '\d{4}-\d{2}'
                                                  ManualApprovalCode:
                                                    description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                    example: '123456'
                                                    type: string
                                                  Number:
                                                    description: Used to specify a credit card number.
                                                    example: 4123412341234123
                                                    type: integer
                                            required:
                                              - PaymentCard
                                          Type:
                                            description: |
                                              Type is used to specify the payment type.

                                              Acceptable values are `CA` (cash), `CK` (check) or `CQ` (cheque).

                                              If you are using a credit card, omit `Type` and populate the `CC_Info` object.
                                            example: 'CA'
                                            type: string
                                          Reference:
                                            description: Used to reference a line number from PNR FOP field.
                                            example: '6'
                                            type: string
                                      Installment:
                                        type: object
                                        description: Used to define the installment details.
                                        properties:
                                          Count:
                                            description: Used to specify the number of installments.
                                            example: '10'
                                            type: string
                                          PayLaterReferenceNumber:
                                            description: Used to specify the pay later reference number.
                                            example: '1'
                                            type: string
                                          Reference:
                                            description: Used to define the reference number.
                                            example: 10
                                            type: integer
                                          Value:
                                            description: |
                                              Used to specify the value of the installments.

                                              Please note that decimals are not permitted.
                                            example: '11'
                                            type: string
                                        required:
                                          - Count
                                          - PayLaterReferenceNumber
                                          - Value
                                    required:
                                      - Fare
                                      - FOP
                                      - Installment
                              MultipleCC_FOP:
                                type: object
                                description: |
                                  Used to specify multiple credit card form of payment.

                                  `MultipleCC_FOP` cannot be combined with `BSP_Ticketing`, or `SabreSonicTicketing`.
                                properties:
                                  Fare:
                                    type: object
                                    description: Used to specify the amount to be applied to the second FOP.
                                    properties:
                                      Amount:
                                        description: Used to specify the amount to be applied to the second FOP.
                                        example: '13'
                                        type: string
                                    required:
                                      - Amount
                                  CC_One:
                                    type: object
                                    description: Used to pass the first credit card payment information.
                                    properties:
                                      CC_Info:
                                        type: object
                                        description: Used to pass the credit card payment information.
                                        properties:
                                          PaymentCard:
                                            type: object
                                            description: Used to define the payment card details.
                                            properties:
                                              Code:
                                                description: Used to specify a credit card vendor code.
                                                example: 'VI'
                                                type: string
                                              ExpireDate:
                                                description: |
                                                  Used to specify a credit card expiration date.

                                                  `ExpireDate` follows this format: `YYYY-MM`.

                                                  Go to the following link for a more in-depth explanation.

                                                  https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                type: string
                                                example: '2022-02'
                                                pattern: '\d{4}-\d{2}'
                                              ExtendedPayment:
                                                description: Used to pass the number of months by which to extend the payment.
                                                example: 20
                                                type: integer
                                              ManualApprovalCode:
                                                description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                example: '123456'
                                                type: string
                                              Number:
                                                description: Used to specify a credit card number.
                                                example: 4123412341234123
                                                type: integer
                                            required:
                                              - Code
                                              - ExpireDate
                                              - Number
                                          Suppress:
                                            description: If `true`, suppresses credit card information on the itinerary.
                                            type: boolean
                                            example: true
                                        required:
                                          - PaymentCard
                                  CC_Two:
                                    type: object
                                    description: Used to pass the second credit card payment information.
                                    properties:
                                      CC_Info:
                                        type: object
                                        description: Used to pass the credit card payment information.
                                        properties:
                                          PaymentCard:
                                            type: object
                                            description: Used to define the payment card details.
                                            properties:
                                              Code:
                                                description: Used to specify a credit card vendor code.
                                                example: 'VI'
                                                type: string
                                              ExpireDate:
                                                description: |
                                                  Used to specify a credit card expiration date.

                                                  `ExpireDate` follows this format: `YYYY-MM`.

                                                  Go to the following link for a more in-depth explanation.

                                                  https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                type: string
                                                example: '2022-02'
                                                pattern: '\d{4}-\d{2}'
                                              ExtendedPayment:
                                                description: Used to pass the number of months by which to extend the payment.
                                                example: 20
                                                type: integer
                                              ManualApprovalCode:
                                                description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                example: '123456'
                                                type: string
                                              Number:
                                                description: Used to specify a credit card number.
                                                example: 4123412341234123
                                                type: integer
                                            required:
                                              - Code
                                              - ExpireDate
                                              - Number
                                          Suppress:
                                            description: If `true`, suppresses credit card information on the itinerary.
                                            type: boolean
                                            example: true
                                        required:
                                          - PaymentCard
                                required:
                                  - Fare
                                  - CC_One
                                  - CC_Two
                              SabreSonicTicketing:
                                type: object
                                description: |
                                  Valid for SabreSonic-based airlines.

                                  `SabreSonicTicketing` cannot be combined with `BSP_Ticketing` or `MultipleCC_FOP`.
                                properties:
                                  BasicFOP:
                                    type: object
                                    description: |
                                      Used to define a single form of payment.

                                      `BasicFOP` cannot be combined with `EnhancedMultipleFOP` or `MultipleFOP`.
                                    properties:
                                      CC_Info:
                                        type: object
                                        description: Used to pass the credit card information.
                                        properties:
                                          PaymentCard:
                                            type: object
                                            description: Used to define the payment card details.
                                            properties:
                                              CardSecurityCode:
                                                description: Used to specify a credit card security code.
                                                example: 1234
                                                type: integer
                                              Code:
                                                description: Used to specify the credit card vendor code.
                                                example: 'VI'
                                                type: string
                                              ExpireDate:
                                                description: |
                                                  Used to specify a credit card expiration date.

                                                  `ExpireDate` follows this format: `YYYY-MM`.

                                                  Go to the following link for a more in-depth explanation.

                                                  https://www.w3.org/TR/xmlschema-2/#gYearMonth
                                                type: string
                                                example: '2022-02'
                                                pattern: '\d{4}-\d{2}'
                                              ExtendedPayment:
                                                description: Used to pass the number of months by which to extend the payment.
                                                example: 20
                                                type: integer
                                              ManualApprovalCode:
                                                description: Used to pass a manual credit card approval code if it applies to the credit card.
                                                example: '123456'
                                                type: string
                                              Number:
                                                description: Used to specify the credit card number.
                                                example: 4123412341234123
                                                type: integer
                                            required:
                                              - Code
                                              - ExpireDate
                                              - Number
                                          Suppress:
                                            description: If `true`, suppresses credit card information on the itinerary.
                                            type: boolean
                                            example: true
                                        required:
                                          - PaymentCard
                                      ManualApprovalCode:
                                        description: Used to pass a manual credit card approval code if it applies to the credit card.
                                        example: '1234'
                                        type: string
                                      Type:
                                        description: |
                                          Used to specify the payment type. Acceptable values are `CA` (cash), `CK` (check), `CQ` (cheque), `PT`, `PTACA` (PTA cash), `PTAGTCK` (PTA agency check) or `PTCK` (PTA check).

                                          If utilizing a credit card please omit `Type`, and populate the `CC_Info` object, unless needing to specify a PTA credit card form of payment.

                                          For a PTA credit card form of payment the client should pass Type=`PT` and populate the `CC_Info` object with the relevant credit card information.
                                        example: 'CK'
                                        type: string
                                  EnhancedMultipleFOP:
                                    type: object
                                    description: |
                                      Valid for SabreSonic-based airlines who have activated the enhanced multiple form of payment option.

                                      `EnhancedMultipleFOP` cannot be combined with `MultipleFOP`.
                                    properties:
                                      Fare:
                                        type: object
                                        description: Used to specify the fare to be applied to the second FOP.
                                        properties:
                                          Amount:
                                            description: Used to specify the fare amount to be applied to the second FOP.
                                            example: '40'
                                            type: string
                                        required:
                                          - Amount
                                      FOP_One:
                                        type: object
                                        description: Used to pass the first form of payment.
                                        properties:
                                          CC_Info:
                                            type: object
                                            description: Used to pass the credit card information.
                                            properties:
                                              PaymentCard:
                                                type: object
                                                description: Used to define the payment card details.
                                                properties:
                                                  CardSecurityCode:
                                                    description: Used to specify a credit card security code.
                                                    example: '1234'
                                                    type: string
                                                  Code:
[...]
