openapi: 3.0.0
info:
  title: Geo Search
  version: v4
  description: The Geo Search API identifies airports, hotels, rail stations, and
    car rental locations that fall within a given geographic search location
    using a radius search.
tags:
  - name: GeoSearch
    description: GeoSearch V4.
paths:
  /v4/geo/search:
    post:
      tags:
        - GeoSearch
      description: Returns the airports, hotels, rail stations, and car rental
        locations that fall within a given geographic search location using a
        radius search.
      operationId: geoSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeoSearchRequest"
        description: The parameters required to request airports/hotels/rail
          stations/car rental locations within a specified radius.
        required: true
      responses:
        "200":
          description: Success Response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeoSearchResponse"
        "400":
          description: Bad Request. - The request was not valid.
        "404":
          description: Not Found. - No results were found.
security:
  - oauth2_authentication: []
servers:
  - url: https://api.cert.platform.sabre.com
components:
  securitySchemes:
    oauth2_authentication:
      type: oauth2
      x-base64-encode-client-credentials: true
      flows:
        clientCredentials:
          tokenUrl: https://api.cert.platform.sabre.com/v2/auth/token
          scopes: {}
  schemas:
    GeoSearchRequest:
      description: The parameters required to request airports/hotels/rail
        stations/car rental locations within a specified radius.
      type: object
      properties:
        GeoSearchRQ:
          type: object
          description: The parameters required to request airports/hotels/rail
            stations/car rental locations within a specified radius.
          required:
            - GeoRef
            - GeoAttributes
          properties:
            GeoRef:
              type: object
              description: The parameters required to search by.
              properties:
                Category:
                  type: string
                  example: HOTEL
                  description: The specification in the request indicating whether to return an
                    airport, hotel, rail station or car rental location.
                  enum:
                    - HOTEL
                    - CAR
                    - AIR
                    - RAIL
                Radius:
                  type: number
                  example: 1
                  description: The maximum distance of a location from the given reference point.
                Direction:
                  type: string
                  example: N
                  description: The direction from which the search begins.
                  enum:
                    - N
                    - S
                    - E
                    - W
                    - NE
                    - NW
                    - SE
                    - SW
                UOM:
                  type: string
                  description: The unit of measure (UOM) for the search radius distance. `MI` for
                    mile and `KM` for kilometer.
                  example: KM
                  enum:
                    - MI
                    - KM
                MaxResults:
                  type: number
                  example: 300
                  description: The maximum number of results allowed.
                MaxSearchResults:
                  type: number
                  example: 18
                  description: The maximum number of results allowed in the response.
                Offset:
                  type: number
                  example: 1
                  description: The distance from which a result has deviated from the initial
                    search radius.
                ReturnNonAggregatorPropertiesOnly:
                  type: boolean
                  example: false
                  description: If true, filters out Hotel Properties based on the aggregator
                    sources. False, by default.
                GeoCode:
                  type: object
                  description: The latitude and longitude information to request hotels within a
                    specific geographical location.
                  required:
                    - Latitude
                    - Longitude
                  properties:
                    Latitude:
                      type: number
                      example: 32.877416
                      description: The latitude from which to search by.
                    Longitude:
                      type: number
                      example: -96.959879
                      description: The longitude from which to search by.
                RefPoint:
                  type: object
                  description: The parameters required to request the location by name, state
                    name, or country code.
                  required:
                    - Value
                    - ValueContext
                    - RefPointType
                  properties:
                    Value:
                      type: string
                      minLength: 3
                      maxLength: 50
                      example: park
                      description: The open-ended text-based reference point from which the search
                        begins.
                    ValueContext:
                      type: string
                      enum:
                        - NAME
                        - CODE
                      example: NAME
                      description: The type of information for 'ValueContext'. 'NAME' in case of a
                        location name, or 'CODE' if there a specific code
                        associated with the location.
                    RefPointType:
                      type: string
                      example: "6"
                      description: The Online Travel Agency (OTA) code, corresponding to the location
                        type entered into Value. Can be 5 CITY, 6 AIRPORT, 7
                        RAIL STATION, 11 HOTEL, 16 ATTRACTION, 18 CAR RENTAL
                        LOCATION.
                      enum:
                        - "6"
                        - "7"
                        - "11"
                        - "16"
                        - "18"
                        - "37"
                    StateProv:
                      type: string
                      description: The name of the state or province where the address is located.
                      minLength: 2
                      maxLength: 50
                      example: TX
                    CountryCode:
                      type: string
                      minLength: 2
                      maxLength: 50
                      example: US
                      description: The unique code of the country where the address is located.
                    PostalCode:
                      type: string
                      minLength: 2
                      maxLength: 50
                      example: "75038"
                      description: The postal code of the address. The required length of the code
                        differs depending on the country of origin.
                    CityName:
                      type: string
                      minLength: 2
                      maxLength: 50
                      example: Irvine
                      description: The name of the city where the reference point is located.
                    CodeContext:
                      type: string
                      enum:
                        - SABRE
                        - GLOBAL
                      example: SABRE
                      description: The unique code of the property type. Can be SABRE or GLOBAL.
                AddressRef:
                  type: object
                  description: The parameters required to request hotels in a specific address
                    area within the requested radius.
                  required:
                    - CountryCode
                  properties:
                    Street:
                      type: string
                      minLength: 0
                      maxLength: 50
                      example: Hidden Ridge
                      description: The name of the street where the address is located.
                    City:
                      type: string
                      minLength: 0
                      maxLength: 50
                      description: The name of the city where the address is located.
                      example: irvine
                    County:
                      type: string
                      minLength: 0
                      maxLength: 50
                      example: Dallas
                      description: The name of the country where the address is located.
                    PostalCode:
                      type: string
                      minLength: 0
                      maxLength: 50
                      example: "75038"
                      description: The postal code of the address. Ranges from 0 to 50 characters.
                    StateProv:
                      type: string
                      minLength: 0
                      maxLength: 50
                      example: TX
                      description: The name of the state or province where the address is located.
                    CountryCode:
                      type: string
                      minLength: 0
                      maxLength: 50
                      example: US
                      description: The unique code of the country where the address is located.
            GeoAttributes:
              type: object
              description: The geographic properties to filter by.
              properties:
                Attributes:
                  type: array
                  minItems: 0
                  maxItems: 20
                  description: Lists the properties to filter by; for example, 'Name', 'Value'.
                  items:
                    type: object
                    required:
                      - Name
                      - Value
                    properties:
                      Name:
                        type: string
                        example: CHAIN
                        description: The name of the Geo attribute.
                      Value:
                        type: string
                        example: HC
                        description: The value of the Geo attribute.
    GeoSearchResponse:
      type: object
      description: The GeoServices response parameters to the requested search criteria.
      properties:
        GeoSearchRS:
          type: object
          description: The result parameters found within the requested search radius.
          properties:
            ApplicationResults:
              type: object
              description: The result references specifically as the contents of a Sabre SOAP
                Fault/detail element.
              properties:
                Success:
                  type: array
                  items:
                    type: object
                    properties:
                      TimeStamp:
                        type: string
                        example: 2024-10-03T03:35:09.473-05:00
                        description: The date and time in ISO 8601 format when the data was retrieved.
            GeoSearchResults:
              type: object
              description: The results found within the specified radius.
              properties:
                Radius:
                  type: number
                  example: 1
                  description: The radius in which the geographic search was performed.
                UOM:
                  type: string
                  example: KM
                  description: The unit of measurement used for the radius. `MI` for mile and `KM`
                    for kilometer.
                  enum:
                    - MI
                    - KM
                Category:
                  type: string
                  example: HOTEL
                  description: The specification of the line of business; can be
                    hotel/car/air/rail stations.
                  enum:
                    - HOTEL
                    - CAR
                    - AIR
                    - RAIL
                Latitude:
                  type: number
                  example: 32.877416
                  description: The geographic latitude of the location.
                Longitude:
                  type: number
                  example: -96.959879
                  description: The geographic longitude of the location.
                MaxSearchResults:
                  type: number
                  example: 18
                  description: The maximum number of results allowed in the response.
                OffSet:
                  type: number
                  example: 1
                  description: The distance from which a result has deviated from the initial
                    search radius.
                GeoSearchResult:
                  type: array
                  description: Lists the results found within the specified radius.
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                    description: All search results found within the specified radius.
                    properties:
                      Distance:
                        type: number
                        example: 0.24
                        description: Specifies the distance of the hotel from the given airport.
                      Direction:
                        type: string
                        example: N
                        description: The direction of the specified location.
                      Latitude:
                        type: number
                        example: 32.880778
                        description: The geographic latitude of the location.
                      Longitude:
                        type: number
                        example: -96.961008
                        description: The geographic longitude of the location.
                      Name:
                        type: string
                        example: MARRIOTT EXECUSTAY BEAVER CREEK
                        description: The name of the location.
                      Id:
                        type: string
                        example: "86034"
                        description: The unique ID of the location.
                      Street:
                        type: string
                        example: 1000 Meadow Creek Drive
                        description: The street address.
                      Zip:
                        type: string
                        example: "75038"
                        description: The zip code of the location.
                      City:
                        type: string
                        example: Irvine
                        description: The name of the city.
                      State:
                        type: string
                        example: TX
                        description: The two-letter state code.
                      Country:
                        type: string
                        example: US
                        minimum: 2
                        maxLength: 50
                        description: The code of the country. The length of the code ranges from 2 to
                          50.
                      ConfidenceFactor:
                        type: integer
                        description: The type of the ConfidenceFactor ranges between 0 to 10.
                        example: 1
                      Attributes:
                        type: object
                        description: Property filters; can be 'Name', 'Value'.
                        properties:
                          Attribute:
                            type: array
                            description: Lists the property filters, e.g. 'Name' and 'Value'.
                            minItems: 0
                            maxItems: 20
                            items:
                              type: object
                              properties:
                                Name:
                                  type: string
                                  example: LOCALAREA
                                  description: The specification when the property was filtered by name. Can only
                                    be 'LOCALAREA'.
                                Id:
                                  type: string
                                  example: "900011743"
                                  description: The unique ID of the attribute.
                                Value:
                                  type: string
                                  example: Carrier
                                  description: The specification when the response includes only locations inside
                                    a specified area when 'LOCALAREA' is present
                                    in 'Name'.
