openapi: 3.0.0
info:
  title: Get Hotel Content
  description: The Get Hotel Content API is used to view all hotel descriptive and image content for a specific property ID. Users can specify a list of descriptions that they want to see in the response.
  version: v4
servers:
- url: https://api.cert.platform.sabre.com/
security:
- oauth2_authentication: []
paths:
  /v4.0.0/get/hotelcontent:
    post:
      operationId: getHotelContent
      parameters:
      - name: Application-ID
        in: header
        description: Specifies the customer application ID. Recommended, but not needed. Work with your account manager to generate an application ID if you don't already have one.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetHotelContentRequest'
        required: true
          
      responses:
        200:
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHotelContentResponse'
        '400':
          description: Invalid request format.
          content: {}
      x-codegen-request-body-name: getHotelContentRequest
      
components:
  schemas:
    GetHotelContentRequest:
      required:
      - GetHotelContentRQ
      type: object
      properties:
        GetHotelContentRQ:
          required:
          - SearchCriteria
          type: object
          properties:
            POS:
              $ref: '#/components/schemas/POS'
            SearchCriteria:
              $ref: '#/components/schemas/SearchCriteria'

                    
    GetHotelContentResponse:
      type: object
      properties:
        GetHotelContentRS:
          type: object
          properties:
            ApplicationResults:
              $ref: '#/components/schemas/ApplicationResults'
            HotelContentInfos:
              $ref: '#/components/schemas/HotelContentInfos'
          description: Contains property static and media details based on request parameters.
            
    POS:
      description: Point of Sale information to support shopping in an authorized(AAA Access)  branch location (PCC) while remaining signed-into the home branch or IPCC
      required:
      - Source
      type: object
      properties:
        Source:
          $ref: '#/components/schemas/Source'
    Source:
      description: Shop in an authorized branch location PCC. Although the shopping happens in the branch location PCC given in the request, the underlying Session or Token used to authenticate or call this API remains unchanged. This is different from how AAA branch shopping worked in legacy GDS where the underlying session itself is AAAed into the branch location
      required:
      - PseudoCityCode
      type: object
      properties:
        PseudoCityCode:
          pattern: ^[a-zA-Z0-9]{4}$
          type: string
          description: Four-character pseudo city code (PCC) of the authorized branch
            location.
          example: TM61
      
    SearchCriteria:
      description: Contains the request to get the detailed static and price information
        for a particular hotel.
      required:
      - HotelRefs
      type: object
      properties:
        HotelRefs:
          $ref: '#/components/schemas/HotelRefs'
        DescriptiveInfoRef:
          $ref: '#/components/schemas/DescriptiveInfoRef'
        MediaRef:
          $ref: '#/components/schemas/MediaRef'
        
    HotelRefs:
      required:
      - HotelRef
      type: object
      properties:
        HotelRef:
          $ref: '#/components/schemas/HotelRef'
      description: Contains option to specify the hotel property information for which
        the media content and descriptive information needs to be retrieved.
    HotelRef:
      required:
      - HotelCode
      type: object
      properties:
        HotelCode:
          maxLength: 20
          minLength: 1
          type: string
          description: The Hotel / property identification code. This can be either a Global or a Sabre hotel code, identified by the value under CodeContext.
          example: "100123982"
        CodeContext:
          type: string
          description: Identifies the type of hotel code passed in the request (Sabre or Global). Sabre is code context by default.
          example: GLOBAL
          default: SABRE
          enum:
          - SABRE
          - GLOBAL
      description: Contains a list of hotels by reference code. Irrespective of the hotel codes and code contexts in the request, the response will always contain a Global hotel code and a Sabre hotel code if available
    
    DescriptiveInfoRef:
      type: object
      properties:
        PropertyInfo:
          type: boolean
          description: If true, property information is expected in the response.
          example: true
          default: false
        LocationInfo:
          type: boolean
          description: If true, location information is expected in the response.
          example: true
          default: false
        Amenities:
          type: boolean
          description: If true, amenity information is expected in the response.
          example: true
          default: false
        Descriptions:
          $ref: '#/components/schemas/Descriptions'
        SecurityFeatures:
          type: boolean
          description: If true, security feature information is expected in the response.
          example: true
          default: false
      description: Contains property and facilities description.
    Descriptions:
      required:
      - Description
      type: object
      properties:
        Description:
          $ref: '#/components/schemas/Description'
      description: Contains the description for the supported types which are expected
        in the response.
    Description:
      maxItems: 13
      minItems: 1
      type: array
      description: Lists the expected supported types description.
      items:
        required:
        - Type
        type: object
        properties:
          Type:
            type: string
            description: Contains the description for the supported types which are
              expected.
            example: ShortDescription
            enum:
            - ShortDescription
            - Dining
            - Facilities
            - Recreation
            - Services
            - Attractions
            - CancellationPolicy
            - DepositPolicy
            - Directions
            - Policies
            - SafetyInfo
            - TransportationInfo
            - GuaranteePolicy
    MediaRef:
      type: object
      properties:
        MaxItems:
          pattern: ^(ALL|([1-9]{1})|([0-9]{2}))$
          type: string
          description: Identifies maximum media items requested by the user. Valid
            values are "ALL" or 1 to 99.
          example: "10"
          default: "1"
        MediaTypes:
          $ref: '#/components/schemas/MediaTypes'
        Categories:
          $ref: '#/components/schemas/Categories'
        RoomTypeCodes:
          $ref: '#/components/schemas/RoomTypeCodes'
        AdditionalInfo:
          $ref: '#/components/schemas/AdditionalInfo'
        Languages:
          $ref: '#/components/schemas/Languages'
      description: Contains information about the actual media types which needs to
        be retrieved.
    MediaTypes:
      type: object
      properties:
        Images:
          $ref: '#/components/schemas/Images'
        PanoramicMedias:
          $ref: '#/components/schemas/PanoramicMedias'
        Videos:
          $ref: '#/components/schemas/Videos'
      description: Contains types of media which are expected in the response.
    Images:
      type: object
      properties:
        Image:
          $ref: '#/components/schemas/Image'
      description: Contains details of the image types.
    Image:
      maxItems: 5
      minItems: 0
      type: array
      description: Lists multiple image type information in the same request.
      items:
        required:
        - Type
        type: object
        properties:
          Type:
            type: string
            description: Identifies the different types of images.
            example: MEDIUM
            enum:
            - ORIGINAL
            - THUMBNAIL
            - SMALL
            - MEDIUM
            - LARGE
    PanoramicMedias:
      type: object
      properties:
        PanoramicMedia:
          $ref: '#/components/schemas/PanoramicMedia'
      description: Contains the panoramic image types which needs to be returned in
        response.
    PanoramicMedia:
      maxItems: 5
      minItems: 0
      type: array
      description: Lists multiple panoramic image types request.
      items:
        required:
        - Type
        type: object
        properties:
          Type:
            type: string
            description: Identifies the different types of panoramic images.
            example: HD360
            enum:
            - HD360
    Videos:
      type: object
      properties:
        Video:
          $ref: '#/components/schemas/Video'
      description: Contains the video types which need to be returned in response.
    Video:
      maxItems: 5
      minItems: 0
      type: array
      description: Lists the request for multiple video types.
      items:
        required:
        - Type
        type: object
        properties:
          Type:
            type: string
            description: The different types of Videos.
            example: VIDEO360
            enum:
            - VIDEO360
            - VIDEO720
            - VIDEOTHUMBNAIL
            - ALL
    Categories:
      required:
      - Category
      type: object
      properties:
        Category:
          $ref: '#/components/schemas/Category'
      description: Contains the type of category media items which needs to be received.
        It is mapped to OTA code PIC - Picture Category Code.
    Category:
      maxItems: 22
      minItems: 1
      type: array
      description: Lists the specify multiple category code so as to receive the media
        items.
      items:
        required:
        - Code
        type: object
        properties:
          Code:
            minimum: 1
            type: integer
            description: The OTA value of category code for which media items needs
              to be received.
            example: 1
    RoomTypeCodes:
      type: object
      properties:
        RoomTypeCode:
          $ref: '#/components/schemas/RoomTypeCode'
      description: Contains lists of room type codes. This is a placeholder for now.
    RoomTypeCode:
      maxItems: 22
      minItems: 0
      type: array
      description: Lists the multiple room type codes which receives the media items.
      items:
        required:
        - Code
        type: object
        properties:
          Code:
            type: string
            description: The system specific room type code.
            example: A1K
    AdditionalInfo:
      required:
      - Info
      type: object
      properties:
        Info:
          $ref: '#/components/schemas/Info'
      description: Contains additional information related to the media item.
    Info:
      maxItems: 10
      type: array
      description: Lists information related to the media items.
      example:
      - Type: CAPTION
        value: true
      - Type: ROOM_TYPE_CODE
        value: false
      items:
        required:
        - Type
        - value
        type: object
        properties:
          value:
            type: boolean
            description: If true, the information available for the chosen 'Info'
              Type is visible.
            example: true
          Type:
            type: string
            description: The image related additional information.
            enum:
            - CAPTION
            - ROOM_TYPE_CODE
    Languages:
      required:
      - Language
      type: object
      properties:
        Language:
          $ref: '#/components/schemas/Language'
      description: Contains the languages type in which you should receive the additional
        information related to the media items.
    Language:
      maxItems: 10
      type: array
      items:
        type: object
        properties:
          Code:
            maxLength: 2
            minLength: 0
            pattern: ^([a-z][a-z][_][A-Z][A-Z])|([a-zA-Z]{2})$
            type: string
            description: The two character language code.
            example: EN
    
    ApplicationResults:
      type: object
      properties:
        status:
          type: string
          description: Specifies if the status is complete/incomplete/not processed/unknown.
          example: Complete
          enum:
          - Complete
          - Incomplete
          - NotProcessed
          - Unknown
        Success:
          $ref: '#/components/schemas/ElementStructure'
        Error:
          $ref: '#/components/schemas/ElementStructure'
        Warning:
          $ref: '#/components/schemas/ElementStructure'
      description: Contains the Sabre SOAP Fault/detail element content, specifically
        where results is referred.
    ElementStructure:
      type: array
      description: Lists the results of the application's search, as well as any errors
        that may have occured.
      items:
        type: object
        properties:
          type:
            type: string
            description: Specifies the source of error when processing the request.
          timeStamp:
            type: string
            description: Contains current application server time stamp.
          SystemSpecificResults:
            type: array
            description: Lists the application response status.
            items:
              type: object
              properties:
                timeStamp:
                  type: string
                  description: Contains current application server time stamp.
                reference:
                  type: string
                  description: If present, provides the name of the field for which
                    the results apply.
                ShortText:
                  type: object
                  properties: {}
                  description: Contains an abbreviated version of the error in text
                    format.
                Element:
                  type: object
                  properties: {}
                  description: Contains the identity of the unknown or misspelled
                    tag that caused the processing error.
                RecordID:
                  type: object
                  properties: {}
                  description: Contains the identity of the record that failed among
                    a group of records. This value may contain a concatenation of
                    a unique failed transaction ID with specific record(s) associated
                    with that transaction.
                DocURL:
                  type: object
                  properties: {}
                  description: Contains an online description of the error that occurred.
                HostCommand:
                  type: object
                  properties:
                    LNIATA:
                      type: string
                      description: The Line Number Interchange Address Terminal Address
                        (LNIATA) number.
                  description: Contains the host system common run to create the result.
                Message:
                  type: array
                  description: Lists application-specific codes and messages. A textual
                    description to provide more information about the specific condition,
                    warning, or error with the code attribute as a numeric value.
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The code, if returned, of an error or warning.
                        example: ERR.0381
                      value:
                        type: string
                        description: The message associated to the above code.
                        example: Invalid check-in date
    
    HotelContentInfos:
      required:
      - HotelContentInfo
      description: Wrapper around HotelContentInfo.
      type: object
      properties:
        HotelContentInfo:
          $ref: '#/components/schemas/HotelContentInfo'
      
    HotelContentInfo:
      required:
      - HotelInfo
      type: object
      description: parent object which contains all data for a single hotel in the response - static content, rates and media content
      properties:
        HotelInfo:
          $ref: '#/components/schemas/HotelInfo'
        HotelDescriptiveInfo:
          $ref: '#/components/schemas/HotelDescriptiveInfo'
        HotelMediaInfo:
          $ref: '#/components/schemas/HotelMediaInfo'
          
    HotelInfo:
      required:
      - CodeContext
      - HotelCode
      type: object
      properties:
        HotelCode:
          maxLength: 20
          minLength: 0
          type: string
          description: The Hotel Code / Property ID. This field will always contain the Global ID, irrespective of the property code / context in the request. If the request was made using a valid Sabre property ID, it will be returned under the 'SabreHotelCode' field.
          example: "100072188"
        CodeContext:
          type: string
          description: Identifies a context for hotel code that is represented by
            HotelCode. This will always be 'GLOBAL'.
          enum:
          - SABRE
          - GLOBAL
        SabreHotelCode:
          type: string
          description: Sabre property ID for the Global ID. This is populated if the property in the response is mapped to a Sabre hotel code.
          example: "8315"
        HotelName:
          maxLength: 500
          minLength: 0
          type: string
          description: The name of the hotel property.
          example: Hyatt Regency Tulsa
        ChainCode:
          maxLength: 20
          minLength: 0
          type: string
          description: Identifies the chain code to which the hotel belongs.
          example: HY
        ChainName:
          maxLength: 500
          minLength: 0
          type: string
          description: The name of the hotel chain.
          example: Hyatt Hotels And Resorts
        BrandCode:
          maxLength: 50
          minLength: 0
          type: string
          description: The hotel brand code.
          example: "10008"
        BrandName:
          maxLength: 500
          minLength: 0
          type: string
          description: The name of the hotel brand.
          example: Hyatt
        Status:
          type: string
          description: Identifies whether the hotel status is active / inactive. This field is no longer populated, and the API only returns active properties in the API response.
          example: Active
          enum:
          - Active
          - Inactive
        SabreRating:
          maxLength: 10
          minLength: 0
          type: string
          description: The Sabre Property Rating.
          example: "4"
        Logo:
          type: string
          description: URL belonging to the hotel's logo image.
          format: uri
          example: http://vcmp-hotels.cert.sabre.com/image/upload/t_vcmp_thumb/hotel/i/1/jdbkyzhiy4tmmm0a30e3.jpg
        TierLabels:
          $ref: '#/components/schemas/TierLabels'
      description: Contains the hotel summary information.
    TierLabels:
      type: object
      properties:
        TierLabel:
          $ref: '#/components/schemas/TierLabel'
      description: Contains agency or Supplier labels assigned to the property. TierLabels are not populated in the response at this time.
    TierLabel:
      maxItems: 5
      minItems: 0
      type: array
      description: Lists all agency or Supplier labels assigned to the property.
      items:
        type: object
        properties:
          Type:
            maxLength: 500
            minLength: 0
            type: string
            description: Type of the tier label.
            example: Agency
          Value:
            maxLength: 500
            minLength: 0
            type: string
            description: Value assigned to the tier level.
            example: Platinum
          ProgramId:
            pattern: ^[0-9]{1,10}$
            type: string
            description: Preferencing program to which the `TierLabel` belongs.
            example: "1082"
    
    HotelDescriptiveInfo:
      type: object
      properties:
        PropertyInfo:
          $ref: '#/components/schemas/PropertyInfo'
        LocationInfo:
          $ref: '#/components/schemas/LocationInfo'
        Amenities:
          $ref: '#/components/schemas/Amenities'
        SecurityFeatures:
          $ref: '#/components/schemas/SecurityFeatures'
        Descriptions:
          $ref: '#/components/schemas/HotelDescriptiveInfo.Descriptions'
      description: Contains Hotel Information.
    PropertyInfo:
      type: object
      properties:
        Floors:
          pattern: ^([A-Z0-9]{0,3})$
          type: string
          description: The number of floors in a hotel.
          example: "3"
        Rooms:
          pattern: ^([A-Z0-9]{0,4})$
          type: string
          description: The number of rooms in a hotel.
          example: "118"
        PropertyTypeInfo:
          $ref: '#/components/schemas/PropertyTypeInfo'
        Policies:
          $ref: '#/components/schemas/Policies'
        PropertyQualityInfo:
          $ref: '#/components/schemas/PropertyQualityInfo'
      description: The Property specific information. This is populated in the response only if specifically asked for in the request.
    PropertyTypeInfo:
      type: object
      properties:
        PropertyType:
          $ref: '#/components/schemas/PropertyType'
      description: Contains the Property Class Type. It is mapped to OTA Code PCT.
    PropertyType:
      type: array
      description: Lists the type of properties.
      items:
        type: object
        properties:
          Code:
            minimum: 1
            type: integer
            description: The OTA code for Property Class.
            example: 1
          Description:
            maxLength: 255
            minLength: 0
            type: string
            description: The Property Class description for the OTA Code.
            example: All Suite
    Policies:
      required:
      - Policy
      type: object
      properties:
        Policy:
          $ref: '#/components/schemas/Policy'
      description: Contains Property policies such as check-in and check-out time.
    Policy:
      minItems: 2
      type: array
      description: List of Policy Information for the property.
      items:
        required:
        - Text
        type: object
        properties:
          Text:
            required:
            - Type
            type: object
            properties:
              Type:
                type: string
                description: The different Policy Types.
                example: CheckIn
                enum:
                - CheckIn
                - CheckOut
              value:
                type: string
                description: Policy text description e.g. Check in time.
                example: "1200"
            description: Contains detail information about the check-in / out policy.
    PropertyQualityInfo:
      type: object
      properties:
        PropertyQuality:
          $ref: '#/components/schemas/PropertyQuality'
      description: Contains information on Hotel quality. It is mapped to OTA Code LOS.
    PropertyQuality:
      type: array
      items:
        type: object
        properties:
          Code:
            minimum: 1
            description: OTA Code mapped to LOS OTA Table to represent the level of service at the property
            type: integer
            example: 57
          Description:
            description: The OTA description for the LOS OTA Code.
            maxLength: 255
            minLength: 0
            type: string
            example: Luxury
    LocationInfo:
      type: object
      properties:
        Latitude:
          multipleOf: 0.01
          type: number
          description: Specifies the geographical latitude of the hotel location.
          example: 36.1548
        Longitude:
          multipleOf: 0.01
          type: number
          description: Specifies the geographical longitude of the hotel location.
          example: -95.990356
        Address:
          $ref: '#/components/schemas/Address'
        Neighborhoods:
          $ref: '#/components/schemas/Neighborhoods'
        Contact:
          $ref: '#/components/schemas/Contact'
      description: Contains the location information of a hotel.
    Address:
      required:
      - AddressLine1
      - CityName
      - CountryName
      - PostalCode
      type: object
      properties:
        AddressLine1:
          maxLength: 500
          minLength: 0
          type: string
          description: The first address line (mandatory)
          example: 50 N MARTINGALE RD
        AddressLine2:
          maxLength: 500
          minLength: 0
          type: string
          example: Pointer Square
          description: The second address line (optional).
        AddressLine3:
          maxLength: 500
          minLength: 0
          type: string
          description: The third address line (optional).
          example: Orlando
        CityName:
          $ref: '#/components/schemas/CityName'
        StateProv:
          $ref: '#/components/schemas/StateProv'
        PostalCode:
          maxLength: 50
          minLength: 0
          type: string
          description: The postal code information for the property.
          example: "60173"
        CountryName:
          $ref: '#/components/schemas/CountryName'
    CityName:
      type: object
      properties:
        CityCode:
          pattern: ^[A-Z0-9]{0,5}$
          type: string
          description: The City Code.
          example: TUL
        value:
          maxLength: 50
          minLength: 0
          type: string
          description: The City Name.
          example: Tulsa
    StateProv:
      type: object
      properties:
        StateCode:
          maxLength: 10
          minLength: 0
          type: string
          description: The property, state or province code.
          example: O
        value:
          type: string
          description: The state or province name.
          example: Oklahoma
    CountryName:
      type: object
      properties:
        Code:
          pattern: ^[A-Z0-9]{0,3}$
          type: string
          description: The two-letter code of the country where the property is located.
          example: US
        value:
          type: string
          description: The name of the country. 
          example: United States
      description: The name of the country where the property is located.
    Neighborhoods:
      type: object
      properties:
        Neighborhood:
          $ref: '#/components/schemas/Neighborhood'
      description: Contains the list of neighborhood information. This is a placeholder for now.
    Neighborhood:
      maxItems: 10
      type: array
      description: Lists the information about neighborhood polygons such as MSA/Area/Hood
        under which the property location falls.
      items:
        type: object
        properties:
          Id:
            maxLength: 20
            minLength: 0
            type: string
            description: The polygon ID of the neighborhood.
            example: "90000092"
          value:
            type: string
            description: The name of the polygon.
            example: Tulsa OK
    Contact:
      type: object
      properties:
        Phone:
          maxLength: 20
          minLength: 0
          type: string
          description: The phone number of the hotel.
          example: 999-222-1111
        Fax:
          maxLength: 20
          minLength: 0
          type: string
          description: The fax number of the hotel.
          example: 999-222-1110
      description: Contains the contact details of the property.
    Amenities:
      type: object
      properties:
        Amenity:
          $ref: '#/components/schemas/Amenity'
    Amenity:
      minItems: 0
      type: array
      items:
        type: object
        properties:
          Code:
            minimum: 1
            type: integer
            description: The OTA Code mapped to the HAC OTA Code.
            example: 15
          Description:
            type: string
            description: A description of the OTA Code.
            example: Car rental desk
          ComplimentaryInd:
            type: boolean
            description: If true, the amenity mentioned is free of charge.
            example: false
          value:
            type: string
            description: Additional textual description for the amenity.
            example: Ask at reception for car rental charges
    SecurityFeatures:
      type: object
      properties:
        SecurityFeature:
          $ref: '#/components/schemas/SecurityFeature'
    SecurityFeature:
      minItems: 0
      type: array
      items:
        type: object
        properties:
          Code:
            minimum: 1
            type: integer
            description: The OTA Code mapped to the SEC OTA Code.
            example: 9
          Description:
            type: string
            description: A description of the OTA Code.
            example: Complies with Local/State/Federal fire laws
          value:
            type: string
            description: Additional textual description for the security feature.
            example: Fire safety law compliant
    HotelDescriptiveInfo.Descriptions:
      type: object
      properties:
        Description:
          $ref: '#/components/schemas/HotelDescriptiveInfo.Description'
      description: Contains the list of descriptive information based on request parameters
        for the property.
    HotelDescriptiveInfo.Description:
      type: array
      description: Lists the descriptive information for the property.
      items:
        type: object
        properties:
          Text:
            required:
            - Type
            type: object
            properties:
              Type:
                type: string
                description: The type of Descriptive Information required in response.
                example: Dining
                enum:
                - ShortDescription
                - Dining
                - Facilities
                - Recreation
                - Services
                - Attractions
                - CancellationPolicy
                - DepositPolicy
                - Directions
                - Policies
                - SafetyInfo
                - TransportationInfo
                - GuaranteePolicy
              value:
                type: string
                description: Textual description for the type returned under 'Type'
                example: Bluefire Grill   Full service dining, Breakfast Buffet,    mediterrranian
                  menu with midwest   specialties.     **Closed everyday from 1400-1700**
                  - Bevende Lounge   Art Deco atmosphere. Snack menu available. -
                  Bean Counter    Quick pickup and go, Starbuck*s coffee, danish,    donuts,
                  bagels, etc. - Room Service   Available 0600-2300
            description: Contains the descriptive information returned in response.
    
    HotelMediaInfo:
      type: object
      required:
      - MediaItems
      properties:
        MediaItems:
          $ref: '#/components/schemas/MediaItems'
      description: Contains a list of media types, each of which represents a media
        type (Image / Panoramic Image / Video) available for a particular hotel code.
    MediaItems:
      type: object
      properties:
        MediaItem:
          $ref: '#/components/schemas/MediaItem'
    MediaItem:
      type: array
      description: Lists information about one image /  panoramic image / video. It
        is repeated for every individual media item which is available for the property.
      items:
        required:
        - Format
        - Id
        - LastModifedDate
        - Ordinal
        type: object
        properties:
          Id:
            maxLength: 255
            minLength: 0
            type: string
            description: The Unique ID for the Media Item.
            example: "1377631"
          Ordinal:
            minimum: 0
            type: integer
            description: Specifies the media item priority ( lower the number, higher
              the priority).
            example: 2
          LastModifedDate:
            type: string
            description: The date when the media item was last updated/changed, in YYYY-MM-DD.
              format.
            format: date
            example: "2024-06-28"
          Format:
            type: string
            description: Indicates the format of the media returned.
            example: JPG
            enum:
            - BMP
            - GIF
            - ICO
            - JPG
            - PNG
            - TIFF
            - WEBP
          ImageItems:
            $ref: '#/components/schemas/ImageItems'
          PanoramicMediasItems:
            $ref: '#/components/schemas/PanoramicMediasItems'
          VideosItems:
            $ref: '#/components/schemas/VideosItems'
          Category:
            $ref: '#/components/schemas/response.Category'
          RoomTypeCode:
            $ref: '#/components/schemas/response.RoomTypeCode'
          AdditionalInfo:
            $ref: '#/components/schemas/response.AdditionalInfo'
    ImageItems:
      type: object
      properties:
        Image:
          $ref: '#/components/schemas/response.Image'
      description: Contains the image items for the property.
    response.Image:
      type: array
      items:
        required:
        - Height
        - Type
        - Url
        - Width
        type: object
        properties:
          Url:
            type: string
            description: The Image URL.
            format: uri
            example: http://vcmp-hotels.cert.sabre.com/image/upload/t_vcmp_thumb/hotel/i/1/jdbkyzhiy4tmmm0a30e3.jpg
          Type:
            type: string
            description: The types of images.
            example: THUMBNAIL
            enum:
            - ORIGINAL
            - THUMBNAIL
            - SMALL
            - MEDIUM
            - LARGE
          Height:
            minimum: 0
            type: integer
            description: The height of the image in pixels.
            example: 100
          Width:
            minimum: 0
            type: integer
            description: The width of the image in pixels.
            example: 150
    PanoramicMediasItems:
      type: object
      properties:
        PanoramicMedia:
          $ref: '#/components/schemas/response.PanoramicMedia'
      description: Contains Panoramic Image items for property.
    response.PanoramicMedia:
      type: array
      items:
        required:
        - Height
        - Type
        - Url
        - Width
        type: object
        properties:
          Url:
            type: string
            description: The Panoramic Image's URL.
            format: uri
            example: https://www.iceportal.com/brochures/Media/Show/photoThumb.aspx?did=8845&brochureid=6354&mtype=26162&publicid=22707462&instanceid=9&resizing=default
          Type:
            type: string
            description: The Panoramic Image's types.
            example: HD360
            enum:
            - HD360
          Height:
            minimum: 0
            type: integer
            description: The Panoramic Image's height in pixels.
            example: 100
          Width:
            minimum: 0
            type: integer
            description: The Panoramic Image's width in pixels.
            example: 150
    VideosItems:
      type: object
      properties:
        Video:
          $ref: '#/components/schemas/response.Video'
      description: Contains video items for the given property.
    response.Video:
      type: array
      items:
        required:
        - Height
        - Type
        - Url
        - Width
        type: object
        properties:
          Url:
            type: string
            description: The Video item 's URL.
            format: uri
            example: http://s3.amazonaws.com/iceportaldata/brochures/20416/video021016165607956.mp4
          Type:
            type: string
            description: The video item's types.
            example: VIDEO360
            enum:
            - VIDEOTHUMBNAIL
            - VIDEO360
            - VIDEO720
            - ALL
          Height:
            minimum: 0
            type: integer
            description: The video item's height.
            example: 100
          Width:
            minimum: 0
            type: integer
            description: The video item's width.
            example: 150
    response.Category:
      required:
      - Description
      type: object
      properties:
        CategoryCode:
          minimum: 1
          type: integer
          description: The media item category code. It is mapped to the PCI OTA code.
          example: 3
        Description:
          $ref: '#/components/schemas/response.Category.Description'
      description: Contains the type of category to which the media item belongs.
        it is mapped to OTA code PCI.
    response.Category.Description:
      type: object
      properties:
        Text:
          type: array
          description: Lists the descriptions in all requested language codes.
          items:
            type: object
            properties:
              Language:
                pattern: ^([a-z][a-z][_][A-Z][A-Z])|([a-zA-Z]{2})$
                type: string
                description: The two character language code.
                example: en
              value:
                type: string
                example: Exterior view
                description: Category description
      description: Contains media item description.
    response.RoomTypeCode:
      type: array
      description: The code attributed to the specific type of the room.
      items:
        type: object
        properties:
          Code:
            type: string
            description: The room type code.
            example: AQK
    response.AdditionalInfo:
      type: object
      properties:
        Info:
          $ref: '#/components/schemas/response.AdditionalInfo.Info'
      description: Contains additional information related to the media item.
    response.AdditionalInfo.Info:
      maxItems: 10
      type: array
      description: Lists additional information as a caption in response.
      items:
        required:
        - Description
        - Type
        type: object
        properties:
          Type:
            type: string
            description: Specifies the type of additional info.
            example: CAPTION
            enum:
            - CAPTION
            - ROOM_TYPE_CODE
          Description:
            $ref: '#/components/schemas/response.AdditionalInfo.Info.Description'
    response.AdditionalInfo.Info.Description:
      type: object
      properties:
        Text:
          type: array
          items:
            type: object
            properties:
              Language:
                pattern: ^([a-z][a-z][_][A-Z][A-Z])|([a-zA-Z]{2})$
                type: string
                description: The two character language code.
                example: en
              value:
                type: string
                example: Guestroom
                description: The description of the information.
      description: Contains the description for the chosen Additional Info parameter.
                      
  securitySchemes:
    oauth2_authentication:
      type: oauth2
      x-base64-encode-client-credentials: true
      flows:
        clientCredentials:
          tokenUrl: 'https://api.cert.platform.sabre.com/v2/auth/token'
          scopes: {}