openapi: 3.0.0
info:
  description: The Revalidate Itinerary API provides the ability to recheck availability and pricing for a specific itinerary option without booking the itinerary. The solution revalidates if the itinerary option is valid for purchase. NDC content is not supported by Revalidate Itinerary.
  title: Revalidate Itinerary
  version: v5
paths:
  /v5/shop/flights/revalidate:
    post:
      description: Create Revalidate Itinerary Request.
      operationId: CreateRevalidateItinerary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevalidateItineraryRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupedItineraryResponse'
          description: Success Response returned.
security:
- oauth2_authentication: []
servers:
- url: https://api.cert.platform.sabre.com
components:
  schemas:
    Allowance:
      properties:
        ref:
          description: Baggage Allowance ID number.
          example: 1
          type: integer
      required:
      - ref
      type: object
    AmenitiesSegmentType:
      properties:
        id:
          description: Segment reference for amenities type.
          example: 1
          type: integer
      required:
      - id
      type: object
    AmenitiesType:
      properties:
        segment:
          description: Lists the amenities (by type) that apply to the selected seat(s)
            or when priority boarding is chosen.
          items:
            $ref: '#/components/schemas/AmenitiesSegmentType'
          maxItems: 2147483647
          minItems: 1
          type: array
        type:
          description: The type of amenity, identified as a single-letter code. Can
            be `F` - Free (no charge), `C` - Charge, or `N` - Not applicable.
          example: F
          maxLength: 1
          minLength: 1
          type: string
      required:
      - type
      - segment
      type: object
    AncillaryFeeDetailsType:
      properties:
        amount:
          description: The total amount of the fee to be paid, in cash.
          example: 40.0
          type: number
        ancillaryTypeCode:
          description: The type of ancillary. Can be `F` - flight-related, or `P`
            - prepaid.
          example: P
          maxLength: 1
          minLength: 1
          type: string
        baggageId:
          description: Baggage ID number.
          example: 1
          type: integer
        carrier:
          description: The carrier name of the traveler's journey.
          example: AA
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$
          type: string
        code:
          description: The code of the carrier of the traveler's journey.
          example: SU1
          pattern: '[A-Z][A-Z0-9]{2}'
          type: string
        departureDate:
          description: The date of the departure. The format is YYYY-MM-DD.
          example: '2024-03-20'
          type: string
        description:
          description: Text description of the ancillary's fee details.
          example: PREPAID BAGGAGE 23KG
          type: string
        description1:
          description: Ancillary Fee description line 1 from ATPCO filing. Baggage
            description line 1 information.
          example: UP TO 50 POUNDS/23 KILOGRAMS
          type: string
        description2:
          description: Ancillary Fee description line 2 from ATPCO filing. Baggage
            description line 2 information.
          example: UP TO 80 LINEAR INCHES/203 LINEAR CENTIMETERS
          type: string
        destination:
          description: Destination airport code.
          example: LHR
          pattern: '[A-Z]{3}'
          type: string
        endSegment:
          description: End travel segment.
          example: 1
          type: integer
        firstOccurrence:
          description: First occurrence for which the baggage charge applies. Returned
            only for new ATPCO processing of baggage charges.
          example: 1
          type: integer
        lastOccurrence:
          description: Last occurrence for which the baggage charge applies. If not returned, the baggage option has no limit on the number of pieces that can be sold. Returned only for new ATPCO processing of baggage charges. If `firstOccurrence` and `lastOccurrence` are not returned, then this baggage option should not be sold because the airline considers it overweight.
          example: 2
          type: integer
        origin:
          description: The three-letter IATA code of the origin airport.
          example: SVO
          pattern: '[A-Z]{3}'
          type: string
        startSegment:
          description: Start travel segment.
          example: 1
          type: integer
        subcode:
          description: ATPCO Optional Services Industry Subcode.
          example: 0C3
          maxLength: 3
          minLength: 3
          type: string
        subgroup:
          description: Ancillary subgroup two letter code.
          example: BG
          maxLength: 2
          minLength: 2
          type: string
      required:
      - code
      - origin
      - destination
      - carrier
      - amount
      - startSegment
      - endSegment
      type: object
    AncillaryFeeGroupType:
      properties:
        ancillaryFees:
          description: Ancillary service fee group.
          items:
            $ref: '#/components/schemas/AncillaryFeeType'
          type: array
        message:
          description: The text information of the message.
          example: AIR EXTRAS NOT APPLICABLE OR ARE UNKNOWN
          type: string
        orderStandardBag:
          $ref: '#/components/schemas/OrderStandardBag'
          description: Order standard bag for all passenger types.
      type: object
    AncillaryFeeType:
      properties:
        code:
          description: Fee group code assigned by ATPCO. BG = Baggage, IE = In-flight
            entertainment, ML = Meals, SA = Seats, UN = Unaccompanied passenger.
          example: IE
          type: string
        details:
          description: Ancillary fee details.
          items:
            $ref: '#/components/schemas/AncillaryFeeDetailsType'
          type: array
        message:
          description: Text information of the message.
          example: AIR EXTRAS NOT APPLICABLE OR ARE UNKNOWN
          type: string
        name:
          description: Name of the ancillary fee.
          example: IN-FLIGHT ENTERTAINMENT
          type: string
      required:
      - code
      - name
      type: object
    ApplicablePenaltiesType:
      description: Contains applicable penalty references. NDC applicable.
      properties:
        penalties:
          description: Lists penalty references.
          items:
            $ref: '#/components/schemas/ApplicablePenaltyType'
          maxItems: 2147483647
          minItems: 1
          type: array
      required:
      - penalties
      type: object
    ApplicablePenaltyType:
      description: Contains a reference to a penalty.
      properties:
        id:
          description: The ID of a penalty from the `Penalty` array.
          type: integer
          example: 1
      required:
      - id
      type: object
    Arrival:
      properties:
        airport:
          description: Arrival Airport Code. The airport in which the journey will
            end.
          example: LAX
          pattern: '[A-Z]{3}'
          type: string
        city:
          description: Arrival City Code. The city in which the journey will end.
          example: LAX
          pattern: '[A-Z]{3}'
          type: string
        country:
          description: Arrival Country Code. The country in which the journey will
            end.
          example: GB
          pattern: '[A-Z]{2}'
          type: string
        dateAdjustment:
          description: The difference, in days, between the flight arrival and departure
            dates.
          example: 1
          type: integer
        state:
          description: The abbreviated code of the state or province in which the
            journey will end.
          example: CA
          pattern: '[A-Z]{2}'
          type: string
        terminal:
          description: Arrival terminal name.
          example: '1'
          type: string
        time:
          description: Arrival Time. The time of the journey end, when the traveler
            will arrive at their end destination.
          example: 01:05:00
          type: string
      required:
      - airport
      - time
      type: object
    BaggageAllowanceType:
      description: Baggage Allowance information returned.
      properties:
        description1:
          description: The first line of the description of the baggage allowance
            type.
          example: UP TO 50 POUNDS/23 KILOGRAMS
          type: string
        description2:
          description: Baggage text information for allowance. The second line of
            the description of the baggage allowance type.
          example: UP TO 62 LINEAR INCHES/158 LINEAR CENTIMETERS
          type: string
        id:
          description: The unique ID represents the baggage allowance type.
          example: 1
          type: integer
        pieceCount:
          description: The total amount of baggage pieces allowed on the journey.
          example: 1
          type: integer
        unit:
          description: Allowed baggage weight unit indicator. Possible values are
            lbs, kg.
          example: lbs
          pattern: (lbs)|(kg)
          type: string
        weight:
          description: The total allowed weight of the baggage.
          example: 20
          type: integer
      required:
      - id
      type: object
    BaggageChargeType:
      description: Baggage Charge information returned.
      properties:
        description1:
          description: Baggage text information for charges.The first line of the
            charge type's description.
          example: UP TO 50 POUNDS/23 KILOGRAMS
          type: string
        description2:
          description: Baggage text information for charges.The second line of the
            charge type's description.
          example: UP TO 81 LINEAR INCHES/208 LINEAR CENTIMETERS
          type: string
        equivalentAmount:
          description: Baggage charge equivalent amount information.
          example: 79.0
          type: number
        equivalentCurrency:
          description: Baggage charge equivalent currency information.
          example: USD
          pattern: '[a-zA-Z]{3}'
          type: string
        firstPiece:
          description: First of baggage pieces for which the specified charge information
            applies to.
          example: 1
          type: integer
        id:
          description: Baggage Charge ID.
          example: 1
          type: integer
        lastPiece:
          description: Last of baggage pieces for which the specified charge information
            applies to.
          example: 2
          type: integer
        noChargeNotAvailable:
          description: 'Returned in the response whenever charges are unavailable
            when requesting baggage information. It might contain one of listed description:
            X - service not available, F - no charge for service (free) and an EMD
            is not issued to reflect the free service, E - no charge for service (free)
            and an EMD is issued to reflect the free service, G - no charge for service
            (free), booking is not required and an EMD is not issued to reflect the
            free service, H - no charge for service (free), booking is not required
            and an EMD is issued to reflect the free service.'
          example: X
          maxLength: 1
          minLength: 1
          type: string
      required:
      - id
      type: object
    BaggageInformationType:
      description: Information about baggage returned.
      properties:
        airlineCode:
          description: The code used to identify the airline in charge of the baggage.
          example: AA
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*)|([A-Za-z]{0}).*$
          type: string
        allowance:
          $ref: '#/components/schemas/Allowance'
          description: Reference to Baggage Allowance ID.
        charge:
          $ref: '#/components/schemas/Charge'
          description: Reference to Baggage Charge ID.
        provisionType:
          description: Contains baggage information, e.g. allowance, charges, embargo,
            etc. A - Check-in Allowance, C - Day of Check-in Charges, etc.
          example: A
          pattern: (A)|(C)|(B)|(CC)|(E)|(P)|(EE)|()
          type: string
        segments:
          description: Index of the segment covered by this baggage information relative
            to the beginning of the itinerary. Starts from 0.
          items:
            $ref: '#/components/schemas/Segment'
          maxItems: 2147483647
          minItems: 1
          type: array
      required:
      - provisionType
      - airlineCode
      - segments
      type: object
    BaggageSequenceOrder:
      properties:
        baggageRef:
          description: Baggage ID number that follows the current hierarchy in sorting
            Air Extras.
          example: 1
          type: integer
        standardBag:
          description: Identifies the number of standard baggage. It can be 1-the
            first standard bag, 2-the second standard bag.
          example: 1
          type: integer
      required:
      - baggageRef
      - standardBag
      type: object
    RevalidateItineraryRequest:
      properties:
        OTA_AirLowFareSearchRQ:
          description: The Low Fare Search Request message requests price itinerary
            options for flights between specific city pairs on specific dates for
            specific numbers and types of passengers. The optional request information
            can include - Time / Time Window - Connecting cities. - Client Preferences
            (airlines, cabin, flight types, etc.) The Low Fare Search request contains
            similar information to a Low Fare Search entry on an airline CRS or GDS.
          properties:
            AvailableFlightsOnly:
              default: true
              description: Indicator for whether to consider the availability of the
                corresponding booking codes. true(default) - Returns fares considering
                the availability of the corresponding booking codes. false - Returns
                fares without regard to the availability of the corresponding booking
                codes.
              example: true
              type: boolean
            OriginDestinationInformation:
              description: Order of Origin Destination information.
              items:
                description: The location of the origin and destination, and information
                  about the time of the air low fare search request.
                properties:
                  ArrivalDateTime:
                    description: The time and date of the traveler's arrival. Should
                      not be used together with `DepartureDateTime`. This date should
                      be in the form YYYY-MM-DDTHH:MM:SS.
                    example: '2024-12-26T06:00:00'
                    type: string
                  ArrivalWindow:
                    description: The range of time during which the traveler can arrive.
                      This should be in  HHMMHHMM format. For example, to specify
                      an arrival time range of 4:00 to 8:00 p.m., the value is 16002000.
                      NDC Applicable.
                    example: '16002000'
                    type: string
                  ConnectionLocations:
                    $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.ConnectionLocations'
                    description: One or more locations on which connection should
                      take place.
                  DepartureDateTime:
                    description: The time and date of the traveler's departure. Do
                      not use it together with `ArrivalDateTime`. This date should be
                      in the form YYYY-MM-DDTHH:MM:SS.
                    example: '2024-12-25T06:00:00'
                    type: string
                  DepartureWindow:
                    description: The range of time during which the traveler can depart.
                      This should be in the form HHMMHHMM. NDC Applicable.
                    example: '05000730'
                    type: string
                  DestinationLocation:
                    $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.DestinationLocation'
                    description: Three-character airport code for the arrival location.
                  Fixed:
                    default: false
                    description: If set up to true - specifies that the `OriginDestination`
                      node, with flight information, should be fixed. Applicable to
                      the Anchored Search functionality. Used in context shopping.
                    example: true
                    type: boolean
                  OriginLocation:
                    $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.OriginLocation'
                    description: Three-character airport code for the departure location.
                  TPA_Extensions:
                    $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions'
                required:
                - DestinationLocation
                - OriginLocation
                type: object
              maxItems: 10
              minItems: 1
              type: array
            POS:
              $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.POS'
            ResponseType:
              description: Response type information.
              example: GIR-JSON
              type: string
            ResponseVersion:
              description: Response version information.
              example: V4
              type: string
            TPA_Extensions:
              $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.TPA_Extensions'
            TravelPreferences:
              $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.TravelPreferences'
              description: If present, will validate options on base of interline
                ticketing agreement.
            TravelerInfoSummary:
              $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.TravelerInfoSummary'
            Version:
              description: The version of the service.
              example: V4
              type: string
          required:
          - OriginDestinationInformation
          - POS
          - TravelerInfoSummary
          - Version
          type: object
      type: object
    BeverageAmenityType:
      description: Identifies beverage service in a given cabin. These elements are
        later referenced from `FlightAmenities`.
      properties:
        alcoholicCost:
          description: Indicates whether there is a charge for alcoholic beverages,
            possible values; paid, free, free or paid.
          enum:
          - free
          - paid
          example: paid
          type: string
        exists:
          description: Specifies whether beverages exist on the flight in the cabin,
            possible values; yes or no.
          example: true
          type: boolean
        id:
          description: The number of the Beverages returned.
          example: 1
          type: integer
        nonAlcoholicCost:
          description: Identifies whether there is a charge for non-alcoholic beverages,
            possible values. Can be paid, free, free or paid.
          enum:
          - free
          - paid
          example: paid
          type: string
      required:
      - id
      type: object
    BookingDetails:
      properties:
        classOfService:
          description: The booking class of a flight, based on the Reservation Booking
            Designator.
          example: Y
          type: string
        mealCodeList:
          description: Meal Code list.
          example: B
          type: string
      type: object
    BrandFeatureIDType:
      properties:
        ref:
          description: The ID of the brand feature.
          example: 1
          type: integer
        serviceId:
          description: The unique ID of a service within the context of one message.A
            service is a feature/service included in a given flight.
          example: db857d657cb7kdz4rk7aeur020-1-1-1
          type: string
      required:
      - ref
      type: object
    BrandFeatureType:
      description: ATPCO Table 166 brand feature item.
      properties:
        application:
          description: Indicates if the service is free (`F`), not offered (`N`), chargeable
            (`C`), or displayed but not offered (`D`), which means that the service is returned in the 
            response but not offered for the particular brand.
          example: C
          maxLength: 1
          minLength: 1
          type: string
        commercialName:
          description: Textual description of the service within the brand.
          example: 1 CABIN BAG UP TO 8KG
          type: string
        id:
          description: The unique ID of the Brand Feature.
          example: 210
          type: integer
        serviceGroup:
          description: The code used to specify the group of ancillaries of the service.
          example: BF
          pattern: '[A-Z0-9]{2}'
          type: string
        serviceType:
          description: The service code. Can be `Z` (branded fares), `F` (flight related), `T` (ticket related ancillary), `A` (allowance), or `P` (prepaid). Refer to ATPCO record S5 for more information.
          example: P
          maxLength: 1
          minLength: 1
          type: string
        subCode:
          description: Three-character alphanumeric code that is filed in the S5 record.
            This can be an industry sub-code or a carrier-defined sub-code.
          example: 04D
          pattern: '[A-Z0-9]{3}'
          type: string
        vendor:
          description: The code used to represent the vendor, or the data provider
            from where it was taking the information.
          example: ATP
          type: string
      required:
      - id
      - application
      - serviceType
      - serviceGroup
      - subCode
      - vendor
      - commercialName
      type: object
    BrandType:
      properties:
        brandName:
          description: Marketing brand name for a specified group of fares within
            a Brand Program.
          example: American Airlines
          type: string
        code:
          description: Short Code representing each brand (usually two characters).
          example: XX
          type: string
        priceClassDescriptionRef:
          description: Price class description.
          example: 1
          type: integer
        programCode:
          description: The code of the Brand program that is returned from the branding
            service.
          example: DOMBE
          type: string
        programDescription:
          description: The description of the program. A program is a set of fare
            brands with a point of sale and origin and destination that is designed
            to be marketed with services desirable to customers.
          example: BT FARES
          type: string
        programId:
          description: The unique ID assigned by the system.
          example: AAA
          type: string
        programSystemCode:
          description: Program code assigned by the system.
          example: X
          type: string
      required:
      - code
      type: object
    Cached:
      properties:
        hoursSinceCreation:
          description: The number of hours passed since the option was created and
            stored in the cache (in hours).
          example: 4
          type: integer
        ref:
          description: Reference to Cache Source description ID.
          example: 1
          type: integer
        timeToLive:
          description: The time to live in the cache, specified in seconds.
          example: 1255
          type: integer
      required:
      - ref
      type: object
    Carrier:
      properties:
        alliances:
          description: Only these alliances will be considered.
          example: Star Alliance@
          type: string
        basicBookingRequest:
          description: If `true`, the booking request is basic for this carrier.
          example: true
          type: boolean
        callDirect:
          description: If `true`, the carrier will be called directly.
          example: true
          type: boolean
        codeShared:
          description: The code of the shared carrier.
          example: AA
          type: string
        disclosure:
          description: The disclosure agreement of the carrier.
          example: VS
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$
          type: string
        equipment:
          $ref: '#/components/schemas/Equipment'
          description: Equipment Information.
        marketing:
          description: The marketing carrier code.
          example: UN
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$
          type: string
        marketingFlightNumber:
          description: Marketing flight number.
          example: 354
          type: integer
        operating:
          description: The name of the operating carrier.
          example: UN
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$
          type: string
        operatingFlightNumber:
          description: The number of the operating flight.
          example: 24
          type: integer
      required:
      - marketing
      - marketingFlightNumber
      type: object
    Cat16TextOnly:
      properties:
        fareBasisCode:
          description: The fare basis code for the price for this passenger type code(PTC).
          example: ONLN3C
          pattern: '[A-Z0-9]+(/[A-Z0-9]+)?'
          type: string
        fareComponentId:
          description: The unique ID of the fare component. Category 16 contains text
            only.
          example: 1
          type: integer
      required:
      - fareBasisCode
      - fareComponentId
      type: object
    Category:
      properties:
        ref:
          description: Reference to Universal Product Attribute category item from
            the category list.
          example: 1
          type: integer
      required:
      - ref
      type: object
    ChangeFeeType:
      properties:
        amount:
          description: The total amount of the changed fee.
          example: 100
          type: number
        currency:
          description: The currency of the changed fee.
          example: USD
          pattern: '[A-Z]{3}'
          type: string
        highest:
          description: Highest change fee indicator.
          example: true
          type: boolean
        notApplicable:
          description: If `true`, the changed fee is not applicable.
          example: true
          type: boolean
        paymentAmount:
          description: Change Fee Payment Amount.
          example: 123
          type: number
        paymentCurrency:
          description: Change Fee Payment Currency.
          example: USD
          pattern: '[A-Z]{3}'
          type: string
        waived:
          description: If `true`, the changed fee has been waived.
          example: true
          type: boolean
      required:
      - amount
      - currency
      type: object
    Charge:
      properties:
        ref:
          description: The reference ID for the baggage charge.
          example: 1
          type: integer
      required:
      - ref
      type: object
    Country:
      properties:
        code:
          description: The two-letter IATA code of the country.
          example: PL
          pattern: '[A-Z]{2}'
          type: string
      required:
      - code
      type: object
    CurrencyConversionType:
      properties:
        exchangeRate:
          description: The exchange rate of the currency.
          example: 12
          type: number
        exchangeRateUsed:
          description: The exchange rate used to convert the currency of the base
            fare and taxes to equivalent fare and taxes.
          example: 12
          type: number
        from:
          description: The name of the currency the conversion is from.
          example: USD
          pattern: '[A-Z]{3}'
          type: string
        overriden:
          description: If `true`, the conversion is overridden.
          example: true
          type: boolean
        to:
          description: If `true`, the conversion is overridden.
          example: PLN
          pattern: '[A-Z]{3}'
          type: string
      type: object
    Departure:
      properties:
        airport:
          description: The three-letter code of the departure airport.
          example: LAX
          pattern: '[A-Z]{3}'
          type: string
        city:
          description: The three-letter code of the departure city.
          example: LAX
          pattern: '[A-Z]{3}'
          type: string
        country:
          description: The two-letter code of the departure country.
          example: GB
          pattern: '[A-Z]{2}'
          type: string
        state:
          description: The two-letter code of the departure state.
          example: CA
          pattern: '[A-Z]{2}'
          type: string
        terminal:
          description: The name of the departure terminal.
          example: '1'
          type: string
        time:
          description: The time of the departure. NDC Applicable.
          example: 12:40:00+04:00
          type: string
      required:
      - airport
      - time
      type: object
    DiscountType:
      description: Contains details of the discount applied to the fare. Applicable to NDC content.
      properties:
        amount:
          description: The amount of discount in the currency defined by `currencyCode`.
          type: number
          example: 21.68
        currencyCode:
          description: The three-letter ISO-4217 code of the discount currency.
          pattern: '[a-zA-Z]{3}'
          example: USD
          type: string
        description:
          description: Discount description.
          type: string
          example: SQDAF3A1
        preDiscountedAmount:
          description: The original price to which the discount was applied.
          type: number
          example: 25.68
        preDiscountedCurrencyCode:
          description: The three-letter ISO-4217 code of the `preDiscountedAmount` currency.
          pattern: '[a-zA-Z]{3}'
          example: USD
          type: string
      type: object
    DiversitySwapperType:
      properties:
        weighedPrice:
          description: The order in which itineraries are sorted in Diversity Swapper.
            This value is calculated with the (Penalty * price / 10) formula.
          example: 2305.688
          type: number
      required:
      - weighedPrice
      type: object
    EntertainmentAmenityType:
      description: This describes the best available entertainment in a given cabin.
        These elements are later referenced from `FlightAmenities`.
      properties:
        cost:
          description: Indicates whether there is a charge for entertainment. It can
            be free or paid.
          enum:
          - free
          - paid
          example: free
          type: string
        exists:
          description: Indicates whether entertainment is available on the flight
            in the cabin.
          example: false
          type: boolean
        id:
          description: The number of Entertainment returned.
          example: 1
          type: integer
        type:
          description: Indicates the best entertainment type available.
          example: none
          pattern: (none)|(livetv)|(loop)|(on-demand)|(overhead)|(seatback)|(pre-download)|(streaming)|(tablet)
          type: string
      required:
      - id
      type: object
    Equipment:
      properties:
        change:
          description: If `true`, there is a change of equipment.
          example: true
          type: boolean
        code:
          description: The equipment code.
          example: 346G
          pattern: '[0-9A-Z]{1,4}'
          type: string
        typeForFirstLeg:
          description: The type of the equipment for the first leg.
          example: N
          maxLength: 1
          minLength: 1
          type: string
        typeForLastLeg:
          description: The type of the equipment for the last leg.
          example: N
          maxLength: 1
          minLength: 1
          type: string
      type: object
    FailedType:
      properties:
        minimumConnectTime:
          description: Indicates that the itinerary does not fulfill the Minimum Connect
            Time requirement. It cannot be sold.
          example: true
          type: boolean
      type: object
    FareComponentBreakdownType:
      properties:
        contractFamilyId:
          description: The unique ID of the commission family contract.
          example: 57895904
          type: integer
        contractId:
          description: The unique ID of the commission contract.
          example: 57895904
          type: integer
        earnedFareComponentCommission:
          description: Agency Managed Earned Commission per Fare Component.
          example: 30
          type: number
        fareComponentCommission:
          description: The amount of the commission per fare component.
          example: 300
          type: number
        fareComponentReferenceId:
          description: The unique reference ID of the fare component.
          example: 1
          type: integer
        methodId:
          description: Commission method ID.
          example: 12
          type: integer
        ruleFamilyId:
          description: Commission rule family ID.
          example: 429496
          type: integer
        ruleId:
          description: The unique ID of the commission's rule.
          example: 429496
          type: integer
      type: object
    FareComponentIDType:
      properties:
        applicablePenalties:
          description: Contains references to penalties applicable to the `FareComponent`. NDC applicable.
          $ref: '#/components/schemas/ApplicablePenaltiesType'
        beginAirport:
          description: The airport in which the journey will start for the fare component
            segment.
          example: DFW
          pattern: '[A-Z]{3}'
          type: string
        brandFeatures:
          description: Returns Brand attributes associated with a fare that is filed
            by a carrier in ATPCO table 166.
          items:
            $ref: '#/components/schemas/BrandFeatureIDType'
          type: array
        effectivePriceDeviation:
          description: Effective Price Deviation.
          example: 1
          type: number
        endAirport:
          description: The airport in which the journey will end for the fare component
            segment.
          example: LHR
          pattern: '[A-Z]{3}'
          type: string
        ref:
          description: The ID of the `FareComponentType`.
          example: 1
          type: integer
        segments:
          description: This contains additional data about the segments.
          items:
            $ref: '#/components/schemas/FareComponentSegmentsType'
          maxItems: 2147483647
          minItems: 1
          type: array
        taxSummaries:
          description: Information about the tax summary.
          items:
            $ref: '#/components/schemas/TaxSummaryIDType'
          type: array
        taxes:
          description: The ID of the `TaxType`.
          items:
            $ref: '#/components/schemas/TaxIDType'
          type: array
        totalFare:
          $ref: '#/components/schemas/TotalFareType'
          description: The total fare amount.
      required:
      - ref
      - segments
      type: object
    FareComponentSegmentsType:
      properties:
        segment:
          $ref: '#/components/schemas/SegmentType'
          description: Segment additional data/information.
        surface:
          description: Surface segment (ARUNK).
          type: object
          example:
            Stopover: true
      type: object
    FareComponentType:
      properties:
        applicablePricingCategories:
          description: The pricing categories that are applicable to the fare.
          example: '31'
          pattern: '[0-9]{1,2}( [0-9]{1,2})*'
          type: string
        aslRetailerRuleCode:
          description: Matched agency adjusted selling level retailer rule code.
          example: MBRKERRQ
          pattern: '[0-9A-Za-z]{2,20}'
          type: string
        brand:
          $ref: '#/components/schemas/BrandType'
          description: The name of the brand.
        cabinCode:
          description: The code of the cabin.
          example: Y
          maxLength: 1
          minLength: 1
          type: string
        corporateIdMatched:
          description: If `true`, the corporate ID is matched.
          example: true
          type: boolean
        direction:
          description: Global Direction indicator.
          enum:
          - AF
          - AL
          - AP
          - AT
          - CA
          - CT
          - DI
          - DO
          - DU
          - EH
          - EM
          - EU
          - FE
          - IN
          - ME
          - NA
          - NP
          - PA
          - PE
          - PN
          - PO
          - PV
          - RU
          - RW
          - SA
          - SN
          - SP
          - TB
          - TS
          - TT
          - US
          - WH
          - XX
          example: AT
          type: string
        directionality:
          description: The directionality of the fare calculation, meaning whether
            the fare is to or from a location.
          example: FROM
          pattern: (FROM)|(TO)
          type: string
        displayCategoryType:
          description: Fare display category type code.
          example: A
          pattern: '[A-Za-z]{1}'
          type: string
        eligibleForTicketing:
          description: If `true`, the fare is eligible for ticketing given the requesting agent's credentials.
          type: boolean
        fareAmount:
          description: The total amount of the fare.
          example: 400.28
          type: number
        fareBasisCode:
          description: The code for the fare's basis.
          example: TKEE4M
          type: string
        fareCode:
          description: The unique code that identifies the fare.
          example: ABC1
          type: string
        fareComponentReferenceId:
          description: The unique reference ID of the fare component.
          example: 1
          type: integer
        fareCurrency:
          description: The currency type of the fare.
          example: EUR
          pattern: '[A-Z]{3}'
          type: string
        fareDescription:
          description: Fare description information.
          example: ABCD
          type: string
        farePassengerType:
          description: The passenger type of the fare.
          example: ADT
          maxLength: 7
          minLength: 1
          type: string
        fareRule:
          description: A code specifying the specific fare rule used, part of fare
            pricing, should be present if the carrier uses it in ancillaries records.
          example: XX26
          type: string
        fareTariff:
          description: The number used to represent the fare tariff type, part of
            fare pricing, should be present if the carrier uses it in ancillaries
            records.
          example: '770'
          type: string
        fareType:
          description: The code used to represent the fare type, part of fare pricing,
            should be present if the carrier uses it in ancillaries records.
          example: EOU
          type: string
        fareTypeBitmap:
          description: Fare type bitmap, part of fare pricing, should be present if
            the carrier uses it in ancillaries records.
          example: 0A
          pattern: '[0][A-F0-9]'
          type: string
        generalRetailerRuleCode:
          description: The code representing the general retailer's rule.
          example: ABC20
          pattern: '[0-9A-Za-z]{2,20}'
          type: string
        governingCarrier:
          description: The name of the governing carrier.
          example: UN
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$
          type: string
        handlingMarkupDetails:
          description: Handling Markup Detail information.
          items:
            $ref: '#/components/schemas/HandlingMarkupDetailType'
          type: array
        higherIntermediatePoints:
          description: Higher Intermediate Point differential information.
          items:
            $ref: '#/components/schemas/HigherIntermediatePointType'
          type: array
        id:
          description: The unique ID of the fare component type.
          example: 1
          type: integer
        matchedAccountCode:
          description: The code of the matched account of the fare component type.
          example: ABC01
          maxLength: 20
          minLength: 1
          type: string
        matchedNegotiatedFareCodes:
          description: Lists negotiated fare codes from the request that matched to the enclosing fare.
          items:
            $ref: '#/components/schemas/MatchedNegotiatedFareCodeType'
          type: array
        mileage:
          description: Indicates the routing mileage.
          example: true
          type: boolean
        mileageSurcharge:
          description: The total surcharge amount of the mileage.
          example: 300
          type: integer
        milesAmount:
          description: The total amount of miles for the fare.
          example: 2000
          type: integer
        negotiatedFare:
          description: If `true`, the fare is negotiated.
          example: true
          type: boolean
        notValidAfter:
          description: The date after which the fare is not valid.
          example: '2024-04-26'
          type: string
        notValidBefore:
          description: The date before which the fare is not valid.
          example: '2024-04-26'
          type: string
        oneWayFare:
          description: If `true`, the fare is a one-way trip.
          example: true
          type: boolean
        plusUps:
          description: Plus Up information.
          items:
            $ref: '#/components/schemas/PlusUpInformationType'
          type: array
        privateFare:
          description: If `true`, the fare is a private fare.
          example: true
          type: boolean
        publishedFareAmount:
          description: The total sum of the published fare.
          example: 580.0
          type: number
        publishedFareCurrency:
          description: The local three-letter currency code of the published fare.
          pattern: '[A-Z]{3}'
          example: USD
          type: string
        segments:
          description: Segment information.
          items:
            $ref: '#/components/schemas/SegmentsType'
          maxItems: 2147483647
          minItems: 1
          type: array
        ticketDesignator:
          description: The discount code applied to the fare basis code.
          example: CO
          maxLength: 10
          minLength: 1
          type: string
        vendorCode:
          description: Specifies the fare source. Can be `ATP`, `SITA`, or `SABR`.
          example: ATP
          maxLength: 4
          minLength: 1
          type: string
        webBasedFare:
          description: If `true`, the fare is a web based one.
          example: true
          type: boolean
      required:
      - id
      - fareBasisCode
      - farePassengerType
      - segments
      type: object
    FareMessageType:
      properties:
        carrier:
          description: The name of the fares carrier.
          example: AA
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$
          type: string
        code:
          description: The code used to represent the type of the fare message.
          example: 0A
          type: string
        info:
          description: Text information about the fare message's type.
          example: VALID ON DY/D8/DI NONREF
          type: string
        type:
          description: The type of the fare message.
          example: D
          type: string
        value:
          description: The additional value of the fare message.
          example: ABCD
          type: string
      required:
      - type
      - code
      type: object
    FareSegmentType:
      properties:
        extraMileageAllowance:
          description: If `true`, the fare segment has an allowance for extra mileage.
          example: true
          type: boolean
        sideTrip:
          $ref: '#/components/schemas/SideTrip'
          description: Information about side trip details.
        stopover:
          description: If `true`, the fare segment is a stopover.
          example: true
          type: boolean
        stopoverCharge:
          description: City specific stopover charge amount.
          example: 200
          type: number
        stopoverChargeCurrency:
          description: City specific stopover charge currency.
          example: USD
          pattern: '[A-Z]{3}'
          type: string
        surcharges:
          description: Surcharges information.
          items:
            $ref: '#/components/schemas/SurchargeType'
          type: array
        transferCharge:
          description: The charge, if there is one, for a transfer in the fare.
          example: 200
          type: number
      type: object
    FareType:
      properties:
        ancillaryFeeGroup:
          $ref: '#/components/schemas/AncillaryFeeGroupType'
          description: Ancillary service fee group list.
        discount:
          $ref: '#/components/schemas/DiscountType'
          description: Contains discount applied to the fare. NDC applicable.
        divideByParty:
          description: Divide party T/F indicates if different passenger types are
            booked in different inventories.
          example: true
          type: boolean
        eTicketable:
          description: If `true`, this fare type can be used with an eTicket.
          example: true
          type: boolean
        governingCarriers:
          description: The names of the governing carriers for the fare.
          example: OS LH
          type: string
        lastTicketDate:
          description: Last date to ticket. Specifies deadline date to purchase the
            ticket for this fare.
          example: '2024-10-12'
          type: string
        lastTicketTime:
          description: Last time to ticket. specifies deadline time to purchase the
            ticket for this fare.
          example: '20:19'
          pattern: ([0-1][0-9]|2[0-3]):[0-5][0-9]
          type: string
        mandatoryInd:
          description: If `true`, the offer item is mandatory and cannot be removed from the offer. Mandatory offer items transition into order items. If not present or `false`, the offer item is optional. Applicable for ATPCO and NDC content.
          example: true
          type: boolean
        offerItemId:
          description: Unique identifier for this Offer item instance. Offer item
            is a priceable chunk of services.
          example: do3385fr4jsvz1el50-2-1
          type: string
        passengerInfoList:
          description: Lists passenger details.
          items:
            $ref: '#/components/schemas/PassengerInfoListElementType'
          maxItems: 2147483647
          minItems: 1
          type: array
        reissue:
          description: If `true`, the item can be reissued.
          example: true
          type: boolean
        reissueText:
          description: Detailed text on the ticket reissue.
          example: ABCD
          type: string
        serviceId:
          description: Uniquely Identifies a Service within the context of one message.
            A service is a feature/service included in a given flight. NDC Service
            Id.
          example: do3385fr4jsvz1el50-2-1-1
          type: string
        simultaneousReservation:
          description: Simultaneous reservation flag indicates if the fare requires
            simultaneous reservations/ticketing.
          example: true
          type: boolean
        spanishFamilyDiscount:
          description: Spanish Discount indicator with values of A, B, C where A indicates
            Spanish Large Family discount only. B  indicates Spanish Large Family
            discount + Spanish Islander discount. C indicates Spanish Islander discount
            only.
          example: A
          pattern: (A)|(B)|(C)
          type: string
        totalFare:
          $ref: '#/components/schemas/TotalFareType'
          description: Itinerary total fare.
        validatingCarrierCode:
          description: Validating Carrier Code.The unique code used to identify the
            validating carrier of the journey.
          example: UA
          pattern: ^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*)|([A-Za-z]{0}).*$
          type: string
        validatingCarriers:
          description: Validating Carrier information.
          items:
            $ref: '#/components/schemas/ValidatingCarrierIDType'
          type: array
        vita:
          description: If `true`, the itinerary has a Validate
            Interline Ticketing Agreement (VITA).
          example: true
          type: boolean
      required:
      - passengerInfoList
      type: object
    FlightAmenities:
      description: List of references to flight amenities.
      properties:
        beverageRef:
          description: Reference ID of the beverage amenity item.
          example: 1
          type: integer
        entertainmentRef:
          description: Reference ID of the entertainment amenity item.
          example: 2
          type: integer
        foodRef:
          description: Reference ID of the food amenity item.
          example: 3
          type: integer
        layoutRef:
          description: Reference ID of the layout amenity item.
          example: 4
          type: integer
        powerRef:
          description: Reference ID of the power amenity item.
          example: 5
          type: integer
        seatRef:
          description: Reference ID of the seat amenity item.
          example: 6
          type: integer
        subsegment:
          description: The one based number of the flight subsegment the referred
            amenity applies to. Subsegment is a portion of flight separated by a hidden stop.
            This attribute is omitted for flights without hidden stops.
          example: 1
          type: integer
        wifiRef:
          description: Reference ID to Wi-Fi amenity item.
          example: 7
          type: integer
      type: object
    FlightAmenitiesListType:
      description: List of all Flight Amenities of different types that are available
        on any of the returned flights.They are later referenced from other elements.
      properties:
        beverage:
          description: Identifies beverage service in a given cabin. These elements
            are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/BeverageAmenityType'
          type: array
        entertainment:
          description: Describes the best entertainment available in a given cabin.
            These elements are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/EntertainmentAmenityType'
          type: array
        food:
          description: Contains the dominating row layout in a given cabin. These
            elements are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/FoodAmenityType'
          type: array
        layout:
          description: Describes the dominating row layout in a given cabin.
            These elements are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/LayoutAmenityType'
          type: array
        power:
          description: Describes electric power access in a given cabin. These
            elements are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/PowerAmenityType'
          type: array
        seat:
          description: Describes seat options in a given cabin. These elements
            are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/SeatAmenityType'
          type: array
        wifi:
          description: Describes the Wi-Fi service in a given cabin. These elements
            are later referenced from `FlightAmenities`.
          items:
            $ref: '#/components/schemas/WifiAmenityType'
          type: array
      type: object
    FoodAmenityType:
      description: Describes food service in a given cabin. These elements are later
        referenced from `FlightAmenities`.
      properties:
        cost:
          description: Identifies whether there is a charge for entertainment. Can be `free` or `paid`.
          enum:
          - free
          - paid
          example: free
          type: string
        exists:
          description: Indicates whether Food exists on the flight in the cabin. It
            can be "yes" or "no".
          example: true
          type: boolean
        id:
          description: The number of the food returned.
          example: 1
          type: integer
        type:
          description: Indicates the type of food available. It can be light meal,
            meal, premium meal, snack, premium snack.
          example: light meal
          pattern: (light meal)|(meal)|(premium meal)|(snack)|(premium snack)
          type: string
      required:
      - id
      type: object
    GroupDescription:
      properties:
        itineraryType:
          description: Indicates what type of itineraries is contained in this itinerary
            group. If this attribute is missing, it denotes "normal" itineraries.
            Apart from normal itineraries, this attribute can name one of the following
            types:"branded", "oneWay", "departed", "soldOut", "legMissed" No other
            value shall appear in this attribute at this time. Other values may be
            allowed in the future.
          example: oneWay
          type: string
        legDescriptions:
          description: Leg description.
          items:
            $ref: '#/components/schemas/LegDescriptionType'
          maxItems: 2147483647
          minItems: 1
          type: array
      required:
      - legDescriptions
      type: object
    GroupedItineraryResponse:
      properties:
        groupedItineraryResponse:
          description: Grouped Itinerary Response.
          example:
            Version: V5
          properties:
            baggageAllowanceDescs:
              description: Baggage Allowance information.
              items:
                $ref: '#/components/schemas/BaggageAllowanceType'
              type: array
            baggageChargeDescs:
              description: Baggage Allowance information.
              items:
                $ref: '#/components/schemas/BaggageChargeType'
              type: array
            brandFeatureDescs:
              description: Features Table (166) information (ancillaries attached
                to brand).
              items:
                $ref: '#/components/schemas/BrandFeatureType'
              type: array
            fareComponentDescs:
              description: Fare calculation information.
              items:
                $ref: '#/components/schemas/FareComponentType'
              type: array
            flightAmenities:
              $ref: '#/components/schemas/FlightAmenitiesListType'
              description: Lists all Flight Amenities
                of different types that are available on any of the returned flights.
                Amenities are indexed to easily associate them with flight components.
                They are later referenced from other elements.
            itineraryGroups:
              description: Itinerary group.
              items:
                $ref: '#/components/schemas/ItineraryGroupType'
              type: array
            legDescs:
              description: Leg ID description.
              items:
                $ref: '#/components/schemas/LegType'
              type: array
            messages:
              description: Server Message.
              items:
                $ref: '#/components/schemas/MessageType'
              maxItems: 2147483647
              minItems: 1
              type: array
            obFeeDescs:
              description: OB Fee information.
              items:
                $ref: '#/components/schemas/OBFeeType'
              type: array
            originalItineraryDesc:
              $ref: '#/components/schemas/OriginalItineraryDescType'
              description: Summary of taxes calculated for original itinerary during
                Exchange transaction.
            passengerDescs:
              items:
                $ref: '#/components/schemas/PassengerDataType'
              type: array
            priceClassDescriptions:
              description: List of Price Classes referenced from the NDC offers.
              items:
                $ref: '#/components/schemas/PriceClassDescriptionsType'
              type: array
            scheduleDescs:
              description: Schedule information.
              items:
                $ref: '#/components/schemas/ScheduleDescType'
              type: array
            scheduleMessages:
              description: Schedule Global Message.
              items:
                $ref: '#/components/schemas/ScheduleMessageType'
              type: array
            statistics:
              $ref: '#/components/schemas/StatisticsType'
              description: Response statistics.
            taxDescs:
              description: Tax information.
              items:
                $ref: '#/components/schemas/TaxType'
              type: array
            taxSummaryDescs:
              description: Tax summary information.
              items:
                $ref: '#/components/schemas/TaxSummaryType'
              type: array
            upaCategoryDescs:
              description: Universal Product Attribute category information.
              items:
                $ref: '#/components/schemas/UPACategoryDescType'
              type: array
            upaDescs:
              description: Universal Product Attribute information.
              items:
                $ref: '#/components/schemas/UPADescType'
              type: array
            upaPhotoDescs:
              description: Universal Product Attribute photo information.
              items:
                $ref: '#/components/schemas/UPAPhotoDescType'
              type: array
            upaSeatCharacteristicDescs:
              description: Lists Universal Product Attribute seat characteristics.
              items:
                $ref: '#/components/schemas/UPASeatCharacteristicDescType'
              type: array
            upaTourDescs:
              description: Universal Product Attribute tour information.
              items:
                $ref: '#/components/schemas/UPAMediaDescType'
              type: array
            upaVideoDescs:
              description: Universal Product Attribute video information.
              items:
                $ref: '#/components/schemas/UPAMediaDescType'
              type: array
            utaDescs:
              description: Universal Ticketing Attribute information.
              items:
                $ref: '#/components/schemas/UniversalTicketingAttributeType'
              type: array
            validatingCarrierDescs:
              description: Validating Carrier information.
              items:
                $ref: '#/components/schemas/ValidatingCarrierType'
              type: array
            version:
              description: Required response version of the service.
              example: V5
              type: string
          required:
          - version
          - messages
          type: object
      required:
      - groupedItineraryResponse
      type: object
    HandlingMarkupDetailType:
      properties:
        amountCurrency:
          description: Markup amount currency.
          example: USD
          pattern: '[A-Z]{3}'
          type: string
        fareAmountAfterMarkup:
          description: The total sum of the fare after the markup is applied.
          example: 1050.0
          type: number
        markupAmount:
          description: Sum markup amount.
          example: 250.0
          type: number
        markupHandlingFeeAppId:
          description: Markup/Handling fee Application ID.
          example: ABCD
          type: string
        markupRuleItemNumber:
          description: Markup Rule Item Number.
          example: 4294967295
          type: integer
        markupRuleSourcePcc:
          description: Markup Rule Source PCC.
          example: KRK
          pattern: '[A-Z0-9]+'
          type: string
        markupTypeCode:
          description: Markup type code, reserved for future extension.
          example: AB
          type: string
        retailerRuleQualifier:
          description: Retailer Rule Qualifier.
          example: ABC1
          pattern: '[0-9A-Za-z]{2,20}'
          type: string
      type: object
    HandlingMarkupType:
      description: Handling/Markup Summary.
      properties:
        amount:
          description: Monetary amount value, can be negative. This is in equivalent
            amount currency.
          example: 100
          type: number
        description:
          description: Description, max 10 chars long.
          example: ABCD1
          type: string
        extendedDescription:
          description: Handling markup extended description, not limited to 10 chars.
          example: ABCD1
          type: string
        fareRetailerRule:
          description: Indicator if Fare Retailer selling level rule was used.
          example: true
          type: boolean
        hiddenHandlingFee:
          description: Indicator if hidden handling fee was used.
          example: true
          type: boolean
        nonHiddenHandlingFee:
          description: Indicator if non-hidden handling fee was used.
          example: true
          type: boolean
        type:
          description: Message type with the following possible values. Value M -
            Embedded Mark Up, J - Adjusted Selling, H - Handling Fee, G - GST Taxes.
          example: M
          pattern: '[A-Za-z]{1}'
          type: string
      required:
      - type
      - description
      - extendedDescription
      - amount
      type: object
    HiddenStopType:
      properties:
        airMiles:
          description: Air miles flight leg.
          example: 2
          type: integer
        airport:
          description: Intermediate point airport code.
          example: AAA
          pattern: '[A-Z]{3}'
          type: string
        arrivalDateAdjustment:
          description: Arrival Date Adjustment (this is the difference in days between
            flight arrival date at intermediate point and departure date).
          example: 0
          type: integer
        arrivalTime:
          description: Arrival time at intermediate point.
          example: 09:30:47+05:00
          type: string
        city:
          description: Intermediate point city code.
          example: AAA
          pattern: '[A-Z]{3}'
          type: string
        country:
          description: Intermediate point country code.
          example: AA
          pattern: '[A-Z]{2}'
          type: string
        departureDateAdjustment:
          description: Departure Date Adjustment (this is the difference in days between
            flight departure date from intermediate point and departure date).
          example: 0
          type: integer
        departureTime:
          description: Departure time at intermediate point.
          example: 09:30:47+05:00
          type: string
        elapsedLayoverTime:
          description: Elapsed layover time in minutes.
          example: 0
          type: integer
        elapsedTime:
          description: Elapsed time flight leg in minutes. NDC Applicable.
          example: 0
          type: integer
        equipment:
          description: Equipment type for intermediate point.
          example: '0'
          pattern: '[0-9A-Z]{1,4}'
          type: string
        state:
          description: Intermediate point state code.
          example: AA
          pattern: '[A-Z]{2}'
          type: string
      required:
      - airport
      type: object
    HigherIntermediatePointType:
      properties:
        amount:
          description: Amount HIP. The higher Intermediate Point differential information.
          example: 140.84
          type: number
        cabinHigh:
          description: Cabin High HIP. The cabin High Intermediate Point.
          example: D
          maxLength: 1
          minLength: 1
          type: string
        cabinLow:
          description: Cabin Low HIP. The cabin Low Intermediate Point.
          example: Y
          maxLength: 1
          minLength: 1
          type: string
        destination:
          description: Destination City HIP.
          example: AGP
          pattern: '[A-Z]{3}'
          type: string
        fareClassHigh:
          description: The high point of the fare class.
          example: DV3K
          pattern: '[A-Z0-9]+(/[A-Z0-9]+)?'
          type: string
        fareClassLow:
          description: The low point of the fare class.
          example: BV2K
          pattern: '[A-Z0-9]+(/[A-Z0-9]+)?'
          type: string
        highDestination:
          description: High Destination City HIP. The destination city of the High
            Intermediate Point.
          example: KRK
          pattern: '[A-Z]{3}'
          type: string
        highOrigin:
          description: The origin city of the High Intermediate Point.
          example: KRK
          pattern: '[A-Z]{3}'
          type: string
        lowDestination:
          description: Low Destination City of the Low Intermediate Point.
          example: KRK
          pattern: '[A-Z]{3}'
          type: string
        lowOrigin:
          description: Low Origin City of the High Intermediate Point.
          example: KRK
          pattern: '[A-Z]{3}'
          type: string
        mileageSurchargePercentage:
          description: Mileage surcharge percentage.
          example: 10
          type: integer
        origin:
          description: Origin City HIP.
          example: LON
          pattern: '[A-Z]{3}'
          type: string
      type: object
    IETCountryWOBSP:
      properties:
        country:
          description: Two-letter IATA code of the country.
          items:
            $ref: '#/components/schemas/Country'
          type: array
      type: object
    ItineraryGroupType:
      properties:
        groupDescription:
          $ref: '#/components/schemas/GroupDescription'
          description: Group description.
        itineraries:
          description: Flight Itinerary.
          items:
            $ref: '#/components/schemas/ItineraryType'
          type: array
        processingMessages:
          description: A message indicating that no schedules or no availability were
            found for the given market x date query. Typically you would expect either
            one message or a non-empty list of itineraries. It is possible though
            that you can get more than one message or a message + itinerary list in
            case where this itinerary group merges the result from two services (e.r.
            two JR's).
          items:
            $ref: '#/components/schemas/ProcessingMessageType'
          type: array
      required:
      - groupDescription
      type: object
    ItineraryType:
      properties:
        currentItinerary:
          description: Prices for current itinerary indicator. This indicates if this
            is WPNI or EXCHANGE itinerary.
          example: true
          type: boolean
        diversitySwapper:
          $ref: '#/components/schemas/DiversitySwapperType'
          description: Diversity Swapper information.
        failed:
          $ref: '#/components/schemas/FailedType'
          description: Indicates the type of failed itinerary.
        id:
          description: Itinerary id (sequence number).
          example: 1
          type: integer
        itinSource:
          description: Itinerary source information.
          example: ABCD1
          type: string
        legs:
          description: Leg information.
          items:
            $ref: '#/components/schemas/LegIDType'
          type: array
        originDestinationInformationRef:
          description: Reference number to `OriginDestinationInformation` from request
            to match one-way itineraries into full journey.
          example: 1
          type: integer
        pricingInformation:
          description: Pricing information returned in the response.
          items:
            $ref: '#/components/schemas/PricingInformationType'
          type: array
        pricingSource:
          description: Source of the itinerary (internal Sabre Shopping Service name).
          example: ADVJR1
          type: string
        routingItinerary:
          description: Indicates if itin come from custom carrier/routing path.
          example: true
          type: boolean
        sabreConnectLite:
          description: Indicates that itinerary is handled by SCL carrier.
          example: true
          type: boolean
      required:
      - id
      - pricingSource
      type: object
    LayoutAmenityType:
      description: Describes the dominating row layout in a given cabin. These
        elements are later referenced from `FlightAmenities`.
      properties:
        directAisleAccess:
          description: If `true`, all seats in the configuration offer direct aisle access (only applicable to premium cabins).
          example: false
          type: boolean
        id:
          description: The number of the layout returned.
          example: 1
          type: integer
        rowLayout:
          description: Indicates the most prevalent configuration of seats in the
            cabin for the aircraft sub fleet operated. It can be 1-1, 1-2-1, 2-4-2,
            etc.
          example: 2-2
          pattern: (1-1)|(1-1-1)|(1-2)|(1-2-1)|(1-2-2)|(2-0)|(2-1)|(2-1-2)|(2-2)|(2-2-1)|(2-2-2)|(2-3)|(2-3-2)|(2-4-2)|(2-4-3)|(3-2)|(3-3)|(3-3-3)|(3-4-2)|(3-4-3)
          type: string
      required:
      - id
      type: object
    LegDescriptionType:
      properties:
        arrivalLocation:
          description: ArrivalLocation (optional) Attribute, Arrival location code.
          example: LAX
          pattern: '[A-Z]{3}'
          type: string
        departureDate:
          description: Departure date.
          example: '2024-04-26'
          type: string
        departureLocation:
          description: Departure location code.
          example: LAX
          pattern: '[A-Z]{3}'
          type: string
      required:
      - departureDate
      type: object
    LegIDType:
      properties:
        departureDate:
          description: Departure date.
          example: '2024-05-26T00:00:00.000Z'
          type: string
        ref:
          description: Reference to LegDescription ID.
          example: 1
          type: integer
      required:
      - ref
      type: object
    LegType:
      properties:
        elapsedTime:
          description: The elapsed time at the LegDesc level in GIR format. This information
            allows customers to display travel time for NDC and ATPCO Offers.
          example: 471
          type: integer
        id:
          description: Leg ID information.
          example: 2
          type: integer
        schedules:
          description: Schedule reference, plus departure day offset.
          items:
            $ref: '#/components/schemas/ScheduleType'
          maxItems: 2147483647
          minItems: 1
          type: array
      required:
      - schedules
      type: object
    MatchedNegotiatedFareCodeType:
      description: Contains negotiated fare code from the request that matched to the enclosing fare.
      properties:
        code:
          description: A negotiated fare code.
          pattern: '[A-Za-z0-9]+'
          type: string
      required:
      - code
      type: object
    MessageType:
      properties:
        code:
          description: The unique code used to represent the message.
          example: RULEID
          type: string
        numberOfOccurences:
          description: If the message occurs more than once.
          example: 2
          type: integer
        severity:
          description: A warning message returned if a deprecated
            version of the response is used. Can be `Info`, `Warning`,
            `Error`, `Diagnostic`, or `Header`. Message example - "This response\version is deprecated and
            will be decommissioned once two newer versions are released".
          example: Info
          type: string
        shortCode:
          description: Short Code returned.
          example: 123A
          type: string
        text:
          description: Short text. Depending on the length of the message, its proper
            content may appear either in this attribute or in the element body.
          example: '139817283450172656'
          type: string
        type:
          description: Type of the message returned.
          example: DEFAULT
          type: string
        value:
          description: Value of the message returned.
          example: ABCD
          type: string
      type: object
    MinPenalty:
      description: Returns the minimum penalty that the passenger will pay. Calculated assuming that only one fare component (at least one flight) has changed, not the entire itinerary.
      properties:
        amount:
          description: Contains minimum penalty amount.
          type: number
          example: 0.2
        currency:
          description: The currency of the penalty `amount`.
          pattern: '[A-Z]{3}'
          type: string
      required:
      - amount
      type: object
    OBFeeIDType:
      properties:
        ref:
          description: Reference to OBFeeDesc ID.
          example: 1
          type: integer
      required:
      - ref
      type: object
    OBFeeType:
      properties:
        amount:
          description: OB Fee amount.
          example: 1
          type: number
        currency:
          description: OB Fee currency code.
          example: USD
          pattern: '[A-Z]{3}'
          type: string
        description:
          description: OB Fee description.
          example: ABCD1
          type: string
        id:
          description: OB Fee ID information.
          example: 1
          type: integer
        type:
          description: OB Fee sub type code.
          example: ABC
          type: string
      required:
      - id
      - amount
      - currency
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.ConnectionLocations:
      description: Travel Connection Location - for example, air uses the IATA 3 letter
        code.
      properties:
        ConnectionLocation:
          description: Travel Connection Location information.
          items:
            example:
              LocationCode: ATL
              PreferLevel: Only
            properties:
              LocationCode:
                description: IATA Airport Code indicating connection location, stop,
                  origin or destination.
                example: ATL
                type: string
              PreferLevel:
                default: Only
                description: The preference level for the airport. Available levels
                  - Only, Unacceptable.
                enum:
                - Only
                - Unacceptable
                example: Only
                type: string
            required:
            - LocationCode
            type: object
          maxItems: 9
          minItems: 1
          type: array
      required:
      - ConnectionLocation
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.DestinationLocation:
      description: Travel Destination Location - for example, air uses the IATA 3
        letter code.
      properties:
        LocationCode:
          description: Three-character airport code for the arrival location. Location
            identifying code. Required unless AirportsGroup or AllAirports is specified.
            Cannot appear with AirportsGroup nor AllAirports.
          example: FRA
          type: string
        LocationType:
          description: Location type for specified LocationCode. A - for airport;
            C - for city. If "LocationType" not specified it defaults to city.
          example: C
          type: string
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.OriginLocation:
      description: Travel Origin Location - for example, air uses the IATA 3 letter
        code.
      properties:
        LocationCode:
          description: Three-character airport code for the departure location. Location
            identifying code. Required unless AirportsGroup or AllAirports is specified.
            Cannot appear with AirportsGroup nor AllAirports.
          example: OSL
          type: string
        LocationType:
          description: Location type for specified LocationCode. A - for airport;
            C - for city. If LocationType not specified it defaults to city.
          example: A
          type: string
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions:
      description: Additional elements and attributes to be included if required,
        per Trading Partner Agreement (TPA).One, and only one of following keys has
        to be present.
      properties:
        AlternateTime:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.AlternateTime'
          description: Maximum time difference/deviation allowed.
        Baggage:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Baggage'
          description: This element allows user to get baggage information.
        BrandFilters:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.BrandFilters'
          description: Defines preferred or excluded brand type codes for main fare
            leg.
        CabinPref:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.CabinPref'
          description: Defines preferred cabin to be used in a search for this leg
            level.
        ClassOfService:
          description: The booking class of a flight, based on the Reservation Booking
            Designator.
          items:
            description: Requested booking code per single leg.
            example:
              Code: A
            properties:
              Code:
                example: A
                type: string
              PreferLevel:
                default: Preferred
                enum:
                - Unacceptable
                - Preferred
                example: Unacceptable
                type: string
            required:
            - Code
            type: object
          type: array
        ConnectionTime:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.ConnectionTime'
          description: Connection time between segments.
        FareBasis:
          description: Fare Basis information.
          items:
            description: Fare Basis Codes requested for main fare leg.
            example:
              Code: OVAJZNB3
            properties:
              Code:
                example: OVAJZNB3
                type: string
              PreferLevel:
                default: Preferred
                enum:
                - Unacceptable
                - Preferred
                example: Unacceptable
                type: string
            required:
            - Code
            type: object
          type: array
        FareType:
          description: Fare type information.
          items:
            description: Defines preferred or excluded fare type codes for main fare
              leg.
            example:
              Code: EOU
              PreferLevel: Preferred
            properties:
              Code:
                description: The special fare type code.
                example: EOU
                type: string
              PreferLevel:
                enum:
                - Unacceptable
                - Preferred
                example: Preferred
                type: string
            required:
            - Code
            - PreferLevel
            type: object
          type: array
        Flight:
          description: Flight information.
          items:
            description: Presence of any of ["BookingDateTime", "MileageDisplay",
              "Reservation", "SideTrip"] make ["Airline", "DestinationLocation", "OriginLocation"]
              required. Presence of any of ["BookingDateTime", "Fare", "MileageDisplay",
              "PlusUp", "Reservation", "SideTrip"] make ["Airline", "DestinationLocation",
              "OriginLocation"] required.
            properties:
              Airline:
                $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Flight.Airline'
              ArrivalDateTime:
                description: Arrival date and time.
                example: '2024-08-01T06:30:00'
                type: string
              ClassOfService:
                description: This attribute within the flight details information
                  is required to enable the verification path, only for the Revalidate
                  Itinerary Functionality.
                example: Y
                type: string
              DepartureDateTime:
                description: Departure date and time.
                example: 2024-08-01 09:50:00
                type: string
              DestinationLocation:
                $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Flight.DestinationLocation'
              Number:
                description: Number of the flight.
                example: 101
                format: int16
                type: integer
              OriginLocation:
                $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Flight.OriginLocation'
                description: Departure location code.
              Type:
                default: A
                description: Flight type (optional) For the Revalidate Itinerary Functionality.
                  Valid values are A-Air, K-ARUNK, O-Open.
                example: A
                type: string
            required:
            - Airline
            - ArrivalDateTime
            - DepartureDateTime
            - DestinationLocation
            - Number
            - OriginLocation
            type: object
          type: array
        IncludeAlliancePref:
          description: Alliance information.
          items:
            description: Consider only these alliances.
            example:
              Code: AA
            properties:
              Code:
                description: Identifies an alliance by the alliance code.
                example: AA
                type: string
            required:
            - Code
            type: object
          type: array
        IncludeVendorPref:
          description: Consider only these carriers for this leg.
          items:
            example:
              Code: AA
            properties:
              Code:
                description: Two-character carrier code. Cannot combine IncludeVendorPref
                  with TravelPreferences/VendorPref.
                example: AA
                type: string
            required:
            - Code
            type: object
          type: array
        MaxOneWayOptions:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.MaxOneWayOptions'
          description: The maximum number of options to be returned.
        PriorityBoarding:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.PriorityBoarding'
          description: Priority Boarding information.
        SeatSelection:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SeatSelection'
          description: Info if seat selection is free, chargeable or it is not applicable.
        Seats:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Seats'
          description: Optional seat comfort seats filter.
        SegmentType:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SegmentType'
          description: Segment type information like Connection, stopover, or unknown (ARUNK).
        SisterDestinationLocation:
          description: Sister destination/cities location information.
          items:
            description: List of alternate destination cities to search.
            example:
              LocationCode: MON
            properties:
              LocationCode:
                description: Three-character airport code for an alternate destination
                  location (although schema is allowing twenty alternate locations,
                  internal limitation is set to four). This alternate location applies
                  to the current leg/segment only. To specify global alternate cities,
                  see the AlternateAirportCities element.
                example: MON
                type: string
            type: object
          type: array
        SisterDestinationMileage:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SisterDestinationMileage'
          description: Sister destination mileage information to search for alternate
            airports for the destination in this leg/segment.
        SisterOriginLocation:
          description: The list of alternate origin cities to be searched.
          items:
            description: List of alternate origin cities to search.
            example:
              LocationCode: GLA
            properties:
              LocationCode:
                description: Three-character airport code for an alternate destination
                  location (although schema is allowing twenty alternate locations,
                  internal limitation is set to four). This alternate location applies
                  to the current leg/segment only. To specify global alternate cities,
                  see the AlternateAirportCities element.
                example: GLA
                type: string
            type: object
          type: array
        SisterOriginMileage:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SisterOriginMileage'
          description: Mileage radius from the origin the system can search for alternate
            cities.
        Stopover:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Stopover'
          description: Requested stopover informations.
        TotalTravelTime:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.TotalTravelTime'
          description: Total travel time settings.
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.AlternateTime:
      description: Maximum time difference/deviation allowed.
      properties:
        Minus:
          description: Maximum number of hours before desired time.
          example: 1
          type: integer
        PlusMinus:
          description: Plus and minus time (in hours) for departure or arrival. Only
            values from 0 to 9 are allowed. Maximum time difference between actual
            and desired time.
          example: 2
          type: integer
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Baggage:
      description: This element allows user to get baggage information.
      properties:
        FreeCarryOn:
          description: Free carry-on baggage is required.
          example: true
          type: boolean
        FreePieceRequired:
          description: Free baggage piece is required.
          example: true
          type: boolean
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.BrandFilters:
      description: Defines preferred or excluded brand type codes for main fare leg.
      properties:
        Brand:
          description: Brand information. Brand list to be returned.
          items:
            example:
              Code: A2
              PreferLevel: Preferred
            properties:
              Code:
                description: Specify brand code.
                example: A2
                type: string
              PreferLevel:
                enum:
                - Unacceptable
                - Preferred
                example: Unacceptable
                type: string
            required:
            - Code
            - PreferLevel
            type: object
          type: array
        NonBrandedFares:
          $ref: '#/components/schemas/OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.BrandFilters.NonBrandedFares'
          description: Allows you to exclude non-branded fares in the shopping response.
            When the PreferLevel is set to Preferred, this means Use non-branded fares.
            If this is single filter (no other preferred elements), the meaning is
            Use ONLY non-branded fares. If other preferred filters are also used,
            the meaning is Use non-branded fares or fares with given (in filters)
            brands. When the PreferLevel is set to Unacceptable, this means Do not
            use non-branded fares. If this is single filter (no other unacceptable
            elements), the meaning is Use ONLY branded fares skip all non-branded.
            If other unacceptable filters are also used, the meaning is Use only branded
            fares excluding fares matching given (in filters) brands.
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.BrandFilters.NonBrandedFares:
      description: Special non branded filter.
      properties:
        PreferLevel:
          description: Used to specify a preference level for something that is or
            will be requested.
          enum:
          - Unacceptable
          - Preferred
          example: Preferred
          type: string
      required:
      - PreferLevel
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.CabinPref:
      description: Preferred cabin(s) to be used in a search for this leg level (if
        SegmentType is O) or segment (if SegmentType is X). The cabin type you specify
        in this element will override the cabin type specified at the request level
        for this leg/segment. If you do not specify a cabin type at both the leg/segment
        level and request level, the default cabin is Economy.
      properties:
        Cabin:
          description: Specifies cabin type for leg or segment. Cabin="P" or Cabin="PremiumFirst"
            is a Premium First class cabin.Cabin="F" or Cabin="First" is a First class
            cabin. Cabin="J" or Cabin="PremiumBusiness" is a Premium Business class
            cabin. Cabin="C" or Cabin="Business" is a Business class cabin. Cabin="S"
            or Cabin="PremiumEconomy" is a Premium Economy class cabin. Cabin="Y"
            or Cabin="Economy" is a Economy class cabin.
          enum:
          - PremiumFirst
          - First
          - PremiumBusiness
          - Business
          - PremiumEconomy
          - Economy
          - Y
          - S
          - C
          - J
          - F
          - P
          example: Y
          type: string
        PreferLevel:
          default: Preferred
          description: Indicator for whether the cabin is preferred. PreferLevel="Preferred"
            can occur a maximum of 3 times in the current sequence, however only the
            last entry will be considered as valid one and the previous two will be
            ignored.
          enum:
          - Preferred
          example: Preferred
          type: string
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.ConnectionTime:
      description: Connection time between segments.
      properties:
        EnableExcludedConnection:
          description: If `true`, enables excluded connection time.
          default: true
          example: true
          type: boolean
        ExcludedConnectionBegin:
          description: Excluded connection time beginning (format HHMM).
          example: '2200'
          type: string
        ExcludedConnectionEnd:
          description: Excluded connection time end (format HHMM).
          example: '0100'
          type: string
        Max:
          description: Indicates the maximum connection time (in minutes) between
            segments.
          example: 900
          minimum: 0
          type: integer
        Min:
          description: Indicates the minimum connection time (in minutes) between
            segments.
          example: 480
          minimum: 0
          type: integer
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Flight.Airline:
      description: Airline information.
      properties:
        Marketing:
          description: Marketing airline code.
          example: K0
          type: string
        Operating:
          description: Operating airline code.
          example: K0
          type: string
      required:
      - Marketing
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Flight.DestinationLocation:
      description: Flight destination code.
      properties:
        LocationCode:
          description: Location identifying code. Required unless AirportsGroup or
            AllAirports is specified. Cannot appear with AirportsGroup nor AllAirports.
          example: LAX
          type: string
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Flight.OriginLocation:
      description: Flight origin code.
      properties:
        LocationCode:
          description: Location identifying code. Required unless AirportsGroup or
            AllAirports is specified. Cannot appear with AirportsGroup nor AllAirports.
          example: SYD
          type: string
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.MaxOneWayOptions:
      description: Maximum number of options to return.
      properties:
        Value:
          description: The specific amount of options to be returned.
          example: 10
          format: int16
          minimum: 0
          type: integer
      required:
      - Value
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.PriorityBoarding:
      properties:
        FreePriorityBoarding:
          description: Filter mode for free priority boarding only.
          example: true
          type: boolean
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SeatSelection:
      properties:
        FreeSeatSelection:
          description: Filter mode for free seats only.
          example: true
          type: boolean
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.Seats:
      description: Optional seat comfort seats filter.
      properties:
        Seat:
          description: The section to indicate seat preference.
          items:
            example:
              AtLeast: 1
            properties:
              AtLeast:
                description: Optional minimum size of pitch.
                example: 1
                minimum: 0
                type: integer
              LessThan:
                description: Optional maximum size of pitch.
                example: 1
                minimum: 0
                type: integer
              Type:
                description: Optional seat type.
                example: Y
                type: string
            type: object
          type: array
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SegmentType:
      properties:
        Code:
          description: Connection, stopover, or unknown arrival (ARUNK). Code="X"
            Connection. Code="O" Stopover. Code="ARUNK" Unknown arrival (ARUNK) segment.
          enum:
          - ARUNK
          - O
          - X
          example: O
          type: string
      type: object
    OTA_AirLowFareSearchRQ.OriginDestinationInformation.TPA_Extensions.SisterDestinationMileage:
      properties:
        AllowBorderCross:
          description: Parameter set from default to true. In addition to SisterDestinationMileage,
            it enables to cross a given country border if an alternative Airport is
            in the range of mileage radius. Note - Allow to return alternate airports
            from other countries. Default value is true. AllowBorderCross configuration
            set at AlternateAirportMileage overrides values of the same parameter
            set at leg level. Note - Allow to return alternate airports from other
[...]
